{% import "macros/indieweb.njk" as indieweb %}

{% macro summary(post) -%}
  {{- post.data.summary | md if post.data.summary else '' -}}
  {{- indieweb.rel(post) -}}
{%- endmacro %}

{% macro entry(post) %}
  {{- (post.data.sub | md if post.data.sub else '') | safe -}}
  {{- (post.data.summary | md if post.data.summary else '') | safe -}}
  {{- indieweb.rel(post) -}}

  {%- if post.data.hero.img -%}
    {{ post.data.hero.img | img(hero.alt, 'hero', {class: 'hero-img'}) | safe }}
  {%- endif -%}

  {{- post.templateContent | safe -}}
{%- endmacro %}
