---
layout: base
attrs:
  main:
    class: h-entry
  content:
    class: e-content
---

{% include 'page/default.njk' %}

{%- set show_feed = collections[index] | sortBy('data.date') | getPublic if index else none -%}
{%- if show_feed | length > 0 -%}
<hr />
<section class="h-feed">
  <h2 class="p-name">'{{ index | displayName | capitalize }}' content</h2>
  {%- set feed_article_heading = 'h3' -%}
  {%- include 'page/feed.njk' -%}
</section>
{%- endif -%}
