@mixin fancy {
  --svg: var(--complement);

  background: var(--text-gradient);
  -webkit-background-clip: text; /* stylelint-disable-line property-no-vendor-prefix */
  background-clip: text;
  color: transparent;
}
