@use '../config/text';

// --------------

h1 {
  @include text.fancy;

  font-size: var(--huge);
}

#page-header .venue {
  font-style: italic;
}

// --------------

[aria-roledescription='subtitle'] {
  font-style: italic;
}
