{% import "utility.macros.njk" as utility %}
{% import "cards.macros.njk" as cards %}


{% macro get_calendar(
  events_group,
  collections,
  page
) %}
  {% set title = 'episodes' %}
  {% set filter = none %}
  {% set org_title = 'current orgs' %}
  {% set page = collections.all | getPage(page) %}
  {% set events = page | getEvents %}
  {% set page = page | first %}
  {% set all_orgs = (events_group == 'all_orgs') %}

  {% if events_group == 'all' %}
    {% set events = collections.all | getEvents %}
    {% set filter = 'off' %}
  {% elif all_orgs %}
    {% set org_title = 'org history' %}
    {% set events_group = 'all' %}
    {% set events = none %}
  {% elif events_group and (events_group != 'self') %}
    {% set tag_name = events_group | displayName %}
    {% set title %}
      '{{ tag_name }}' episodes
    {% endset %}
    {% set org_title %}
      '{{ tag_name }}' orgs
    {% endset %}
    {% set events = collections.all | getEvents(events_group) %}
  {% endif %}

  {% if not page.data.org %}
    {{ show_orgs(
      org_title,
      events_group,
      collections,
      all_orgs or (page.url != '/')
    ) }}
  {% endif %}

  {% if events %}
    {{ section(
      title=title,
      events=events,
      all=collections,
      self=page.url,
      filter=filter
    ) }}
  {% endif %}
{% endmacro %}


{% macro show_orgs(
  title,
  events_group,
  collections,
  all=false
) %}
  {% if events_group %}
    {% set orgs = collections.all_orgs if all else collections.orgs %}
    {% set orgs = orgs if (events_group == 'all') else orgs | withTag(events_group) %}

    {% if orgs | length %}
      <section
        data-orgs="section">

        {{ utility.section_title(title) }}

        <div data-orgs="list">
          {% for item in orgs %}
            {% set start = item.data.start | getDate('yyyy') %}
            {% set title = item.data.banner or item.data.title %}
            {% set is_old = item.data.end and (item.data.end != 'ongoing') %}
            {% set end = item.data.end | getDate('yyyy') if is_old else none %}
            {% set end = end if end and (end != start) %}
            {% set range = '->' if end or (not is_old) %}
            <article
              data-orgs="item"
              {{ utility.attr_if('data-old', is_old) }}>
              <time
                data-meta="org-date"
                datetime="{{ item.data.start | getDate('iso') }}">
                {{ start }}{{ range }}{{ end or '' }}
              </time>
              <h3 data-title="orgs">
                {{ utility.link_if(title, item.url) }}
              </h3>
              {% if item.data.sub %}
                <p data-meta="org-sub">
                  <strong>{{ item.data.org | mdInline | safe }}</strong>:
                  {{ item.data.sub | mdInline | safe }}
                </p>
              {% endif %}
            </article>
          {% endfor %}
        </div>
      </section>
    {% endif %}
  {% endif %}
{% endmacro %}


{% macro section(
  title,
  events,
  all,
  self,
  filter=none
) %}
  {% set title = [events | countEvents, title] | join(' ') %}
  {% if events | length %}
    {{ cards.section(
      title,
      content=groups(events, all, self),
      filter=filter
    ) }}
  {% endif %}
{% endmacro %}


{% macro groups(
  events,
  all,
  self
) %}
  {% set this_year = none | getDate('year') %}

  {% for segment in events %}
    {% if (segment.group == this_year) and not loop.first %}
      <hr data-divider>
    {% endif %}

    {{ group(
      title=segment.group,
      events=segment.data,
      all=all,
      self=self
    ) }}
  {% endfor %}
{% endmacro %}


{% macro group(
  title,
  events,
  all,
  self
) %}
  {% set is_future = title | groupName %}
  {% set events = events | reverse if (not is_future) else events %}

  {{ cards.group(
    title=title,
    content=list(events, all, self)
  ) }}
{% endmacro %}


{% macro list(
  events,
  all,
  self
) %}
  {% for item in events %}
    {{ event(item, all, self) }}
  {% endfor %}
{% endmacro %}


{% macro event(
  item,
  all,
  self
) %}
  {%- set tags = item.tags | publicTags -%}
  {%- set not_me = ('inspiration' in tags) -%}
  {%- set is_self = (item.page.url == self) -%}
  {%- set is_old = item.index -%}
  {%- set hide_summary = (is_self or is_old) and not item.feature -%}

  {%- set summary = (item.page.data.summary or item.event.sub or item.page.data.sub) -%}
  {%- set summary = summary | md if (summary and not hide_summary) else none -%}

  {{ cards.event(
    title=title(item, is_self),
    meta=meta(item, tags, all, not_me),
    summary=summary,
    feature=item.feature,
    is_old=is_old
  ) }}
{% endmacro %}


{% macro title(
  item,
  is_self=false
) %}
  {# Venue Link #}
  {%- set venue_name = item.event.venue or item.page.data.venue or none -%}
  {%- set venue_url = item.event.url or item.page.data.url or item.page.url -%}
  {%- set venue = utility.link_if(venue_name or venue_url | domain, venue_url) if is_self else venue_name -%}
  {%- set venue = ['@', venue] | join('&nbsp;') if venue else none -%}

  {# Title Link #}
  {%- set title_name = item.event.title or item.page.data.title -%}
  {%- set url = none if is_self else item.page.url -%}
  {%- set url = (url or venue_url) if (not venue) else url -%}
  {%- set title = utility.link_if(title_name | mdInline, url) -%}

  {{ title | safe }}
  {{ venue | safe }}
{% endmacro %}


{% macro meta(
  item,
  tags,
  all,
  not_me=false
) %}
  {{ utility.datetime(
    pubdate=item.page.data.pubdate or item.page.date,
    start=item.start,
    end=item.end,
    format='short' if (item.group | groupName == 'soon') else 'md'
  ) }}

  {%- set type = 'link' if not_me else none -%}
  {%- set type = item.page.data.type or type -%}
  {%- set type = item.event.type or type -%}
  {%- set type = 'event' if item.event and (type == 'org') else type -%}

  {% if type %}
    | <strong>{{ type }}</strong>
  {% endif %}


  {%- set venue_adr = item.event.adr or item.page.data.adr -%}
  {% if venue_adr %}
    | {{ venue_adr }}
  {% endif %}

  {% if (item.feature == 'pin') %}
    <strong class="pinned">[pinned]</strong>
  {% endif %}
{% endmacro %}
