{% import "utility.macros.njk" as utility %}
{% import "cards.macros.njk" as cards %}

{% macro section(
  title,
  events,
  all,
  self
) %}
  {% call cards.section(title) %}
    {% for segment in events %}
      {% if (segment.group == none | getDate('year')) and not loop.first %}
        <hr data-divider>
      {% endif %}

      {{ group(
        title=segment.group,
        events=segment.data,
        all=all,
        self=self
      ) }}
    {% endfor %}
  {% endcall %}
{% endmacro %}

{% macro group(
  title,
  events,
  all,
  self
) %}
  {% set is_future = title | groupName %}
  {% call cards.group(title) %}
    {{ list(
      events=events,
      reverse=not is_future,
      all=all,
      self=self
    ) }}
  {% endcall %}
{% endmacro %}

{% macro list(
  events,
  reverse,
  all,
  self
) %}
  <div data-layout="cards">
    {% set events = events | reverse if reverse else events %}
    {% for item in events %}
      {{ event(
        item=item,
        all=all,
        self=self
      ) }}
    {% endfor %}
  </div>
{% endmacro %}

{% macro event(
  item,
  all,
  self
) %}
  {% set tags = item.tags | publicTags %}
  {% set date_format = 'since' if (item.group | groupName == 'orgs') else 'md' %}
  {% set is_self = (item.page.url == self) %}

  {# Venue Link #}
  {%- set venue_name = item.event.venue or item.page.data.venue -%}
  {%- set venue_adr = item.event.adr or item.page.data.adr -%}
  {%- set venue_url = item.event.url or item.page.data.url or item.page.url -%}
  {%- set venue = utility.link_if(venue_name, venue_url) if venue_name else none -%}
  {%- set venue = ['@', venue] | join(' ') if venue else none -%}

  {# Title Link #}
  {%- set title_name = item.event.title or item.page.data.title -%}
  {%- set not_me = ('inspiration' in tags) -%}
  {%- set url = none if is_self else item.page.url -%}
  {%- set title = utility.link_if(title_name | mdInline, url or venue_url) -%}
  {%- set title = ['See Also:', title] | join(' ') if not_me else title -%}

  {%- set title -%}
    {{ title | safe }}
    {{ venue | safe }}
  {%- endset -%}

  {# Output #}
  <section
    data-card="item"
    {{ utility.attr_if('data-feature', item.feature) }}
  >
  <div data-card="inner">
    <h4 data-card="title">{{ title | typogr | safe }}</h4>

    <div data-card="meta">
      <time datetime="{{ item.date | getDate('iso') }}">
        {% set start = item.start | getDate('year') %}
        {% set end = item.end | getDate('year') %}
        {% if (date_format == 'since') or (start == end) %}
          {{ item.date | getDate(date_format) }}
        {% else %}
          {{ start }}—{{ end }}
        {% endif %}
      </time>

      {%- if venue_adr -%}
        | {{ venue_adr }}
      {%- endif -%}

      {% if tags %}
        {% if venue_adr %}»{% else %}|{% endif %}
        {{ utility.tag_list(tags | sort, all) }}
      {%- endif -%}
    </div>
  </div>
  </section>
{% endmacro %}
