body {
  --grid-margin: minmax(, 1fr);
  --wide: 100vw - 30em;

  display: grid;
  row-gap: var(--spacer);
  grid-template-columns:
    [full-start] var(--margin)
    [page-start] minmax(0, 0.5fr)
    [extra-start] minmax(0, 1fr)
    [wide-start] minmax(0, clamp(0px, var(--wide), var(--spacer, 3em)))
    [main-start] minmax(12ch, var(--measure))
    [main-end] minmax(0, clamp(0px, var(--wide), var(--gap, 1em)))
    [wide-end] minmax(0, 1fr)
    [extra-end] minmax(0, 0.5fr)
    [page-end] var(--margin)
    [full-end];
  margin: 0;

  > * {
    grid-column: var(--body-column, wide);
    margin-block: 0;
  }

  @media (max-width: 30em) {
    overflow-wrap: break-word;
  }
}
