// Banner Layout
// =============

[data-layout~='banner'] {
  display: grid;
  grid: 'theme theme' auto 'head head' 1fr / auto auto;
  grid-area: banner / full;
  margin-bottom: size('gutter');
}

.toggle-theme {
  --field-padding: #{size('quarter-shim')};
  grid-area: theme;
  justify-self: end;
  padding: size('grid-margin');
  z-index: 2;
}

// Main
// ----

.banner-content {
  align-self: center;
  display: grid;
  grid: 'title title' auto 'sub sub' auto / auto auto;
  grid-area: head;
  justify-content: center;
  justify-self: center;
  padding: size('shim');
  text-align: center;
  transform: rotate(-13deg);

  @include above('page-break') {
    padding: size('spacer') size('shim');
  }
}

.banner-title {
  @include font-family('sunrise');
  grid-area: title / title / sub;
  line-height: 0.74;
  padding-top: size('shim');
  text-transform: uppercase; // fixes Blackout kerning…

  &::first-line {
    @include font-family('midnight');
  }
}

.subtitle {
  @include font-family('code');
  background: var-color('overlay');
  color: var-color('text-light');
  grid-area: sub;
  font-size: size('small');
  font-style: italic;
  justify-self: center;
}

// Dots
// ----

.banner-fancy {
  align-items: center;
  display: grid;
  justify-items: center;
  grid-area: 1 / 1 / -1 / -1;
  padding-bottom: size('gutter');
  position: relative;
  z-index: -1;
}

[data-dot] {
  @include square(calc(6px + 1vmin));
  --dot: var(--dot-color-6);
  --opacity: #{(random(30) + 10) / 100};
  background: var(--dot);
  border-radius: 100%;
  fill: var(--dot);
  grid-area: var(--area);
  opacity: var(--opacity);
  transform: scale(var(--scale));

  $dot-color-options: join(map-keys($main-shades), map-keys($accent-shades));
  $dot-color-length: length($dot-color-options);

  @for $i from 1 through 6 {
    $color: nth($dot-color-options, random($dot-color-length));
    --dot-color-#{$i}: #{var-color($color)};
  }
}

[data-dot='1'] {
  --dot: var(--dot-color-1);
}

[data-dot='2'] {
  --dot: var(--dot-color-2);
}

[data-dot='3'] {
  --dot: var(--dot-color-3);
}

[data-dot='4'] {
  --dot: var(--dot-color-4);
}

[data-dot='5'] {
  --dot: var(--dot-color-5);
}

// Blip
// ----

@keyframes blip {
  12%,
  37%,
  95% {
    opacity: 0;
  }

  21%,
  40%,
  63% {
    opacity: 1;
  }
}
