// Body Layout
// ===========

[data-layout='head'] {
  display: grid;
  grid-template: 'menu' auto 'nav' auto 'banner' 1fr / 100vw;
  grid-gap: var(--gutter);
  min-height: 90vh;
  overflow: hidden;
}

[data-main] {
  display: grid;
  grid-template-columns:
    minmax(var(--gutter), 2fr) [main-start] minmax(min-content, size('page'))
    [main-end] minmax(var(--gutter), 1fr);

  > * {
    grid-column: main;
  }
}
