// Body Layout
// ===========

[data-layout='head'] {
  display: grid;
  grid-template: 'menu' auto 'nav' auto 'banner' 1fr / 100vw;
  grid-gap: var(--gutter);
  min-height: 90vh;
  overflow: hidden;
}

main {
  margin: var(--spacer) var(--gutter);
  max-width: 35rem;
}
