// Footer Layout
// =============

[data-layout='footer-rule'] {
  border: none;
}

[data-layout='footer'] {
  @include font-family('code');
  font-size: size('xsmall');
  padding: size('quarter-shim') size('shim');

  p {
    margin-bottom: size('half-shim');
  }
}
