// Footer Layout
// =============

.footer-hr {
  border: none;
  grid-column: full;
  margin-top: size('gutter');
}

[data-section='footer'] {
  @include font-family('code');
  --top: #{size('quarter-shim')};
  font-size: size('xsmall');

  p {
    margin-bottom: size('half-shim');
  }
}

[data-layout='flag'] {
  --angle: 5deg;
  background-image: stripes(
    var(--angle, 5deg),
    'trans-blue',
    'trans-pink',
    'trans-white',
    'trans-pink',
    'trans-blue'
  );
  grid-column: full;
  min-height: 90vh;

  @include above('page-break') {
    --angle: 95deg;
  }
}
