// Footer Layout
// =============

[data-section='footer'] {
  --top: var(--quarter-shim);
  background: var(--bg-full);
  font-size: var(font-small);
  margin-top: var(--spacer);
  padding: var(--spacer) var(--gutter);

  p {
    margin-bottom: var(--half-shim);
  }
}

[data-layout='flag'] {
  background-image: linear-gradient(
    var(--angle, 5deg),
    powderblue 20%,
    pink 20% 40%,
    white 40% 60%,
    pink 60% 80%,
    powderblue 80%
  );
  min-height: 90vh;
  filter: brightness(var(--img-bright, 100%));

  @include above('page-break') {
    --angle: 95deg;
  }
}
