// Grid Layout
// ===========

:root {
  @include grids--;
}

[data-layout='body'] {
  display: grid;
  grid-template-rows: auto 1fr;
  padding: size('gutter') 0;
  min-height: 100vh;
}

// Sections
// --------

[data-section] {
  --top: #{size('grid-margin')};
  --right: #{size('grid-margin')};
  --bottom: #{size('grid-margin')};
  --left: #{size('grid-margin')};
  border-top: border('section');
  display: grid;
}

[data-area],
[data-content] {
  --start: main-start;
  --end: main-end;
  --area: var(--start, main-start) / var(--end, main-end);
  --grid: #{var-grid('main')};
  grid-column: var(--area, main);
}

[data-content] {
  padding: var(--top, size('grid-margin')) var(--right, size('grid-margin'))
    var(--bottom, size('grid-margin')) var(--left, size('grid-margin'));
}

// Areas
// -----
[data-area] {
  grid-template-columns: var(--grid, var-grid('main'));
}

[data-area='full'] {
  --area: full;
  --grid: #{var-grid('small')};

  @include above('page-break') {
    --grid: #{var-grid('full')};
  }
}

[data-area='content'] {
  --area: content;
  --grid: #{var-grid('content')};
}

[data-area='left'] {
  --area: left;
  --grid: #{var-grid('left')};
}

[data-area='right'] {
  --area: right;
  --grid: #{var-grid('right')};
}

[data-area='main-left'] {
  --area: left-start / main-end;
  --grid: #{var-grid('main-left')};
}

[data-area='main-right'] {
  --area: main-start / right-end;
  --grid: #{var-grid('main-right')};
}

// Flows
// -----

[data-flow='flex'] {
  display: flex;
  flex-wrap: wrap;
}

[data-flow='split'] {
  display: grid;
  grid-column-gap: size('gutter');
  grid-template: auto / repeat(2, minmax(0, 1fr));
}
