// Hero Layout
// ===========

[data-content~='hero'] {
  display: grid;
  grid-template-columns: minmax(auto, 1fr);
  grid-template-rows: auto auto;
  justify-content: center;
  padding: 0;
}

.hero-image {
  @include transition('hero');
  background: var-color('callout');
  border: border('hero');
  grid-column: 1;
  grid-row: 1 / -1;
  transform: rotate(-6deg);

  &:hover {
    transform: rotate(-1.5deg);
  }
}

.hero-caption {
  @include font-family('code');
  background: var-color('overlay');
  font-size: size('xsmall');
  font-style: italic;
  grid-column: 1;
  grid-row-end: -1;
  padding: size('quarter-shim') size('half-shim') size('half-shim');
  position: relative;
}
