// Hero Layout
// ===========

[data-content~='hero'] {
  padding: 0;
}

.hero-caption {
  @include font-family('code');
  font-size: size('xsmall');
  font-style: italic;
  padding: size('quarter-shim') size('quarter-shim') size('half-shim');
}
