// Nav Layout
// ==========

[data-nav='site'] {
  margin: 0;
  padding: var(--shim);
}

.nav-item {
  display: inline-block;

  & + & {
    @include before(' | ');
  }
}

[data-nav] {
  &[data-active] {
    font-style: italic;
  }
}

// Search
// ------

// [data-form='search'] {
//   --field-padding: #{size('quarter-shim') size('half-shim')};
//   --field-margin: #{size('half-shim')};
//   font-size: size('xsmall');

//   @include above('page-break') {
//     --field-margin: 0;
//     --field-width: 8em;
//     display: flex;
//     margin-bottom: size('quarter-shim');
//     padding-right: size('half-shim');
//   }
// }

// .search-results {
//   --t: #{size('guttter')};
// }

// [data-navlist='search'] {
//   display: grid;

//   [href] {
//     overflow: hidden;
//     text-overflow: ellipsis;
//     white-space: nowrap;
//   }
// }
