{% import 'contact.macros.njk' as contact %}

<div id="author" class="h-card p-author vcard">
  <a href="/who/" rel="author" class="p-name u-url u-uid fn url uid">
    {{- site.author -}}
  </a>
  |
  <a href="/contact/">contact</a>

  {{ contact.links(social) }}
</div>
