{% import "utility.macros.njk" as utility %}

<header
  data-layout="banner">
  <div class="banner-content">
    <h1 class="banner-title" data-bright>
      {{ full_title | mdInline(false) | safe }}
    </h1>

    {% set go_to = utility.link_if(venue or 'the interwebz', url) if url else none %}

    {% if sub or go_to %}
      <span class="subtitle">
        {% if sub %}
          {{ sub | mdInline | safe }}
        {% elif go_to %}
          @ {{ go_to }}
        {% endif %}
      </span>
    {% endif %}
  </div>

  <div
    class="banner-fancy"
    role="presentation" >
    {% for i in range(1, 25) -%}
      {% set col = range(1, 80) | random %}
      {% set row = range(1, 40) | random %}
      {% set scale = range(1, 25) | random / 10 %}
      {% set opacity = (range(1, 30) | random + 10) / 100 %}
      <span data-dot="{{ range(0, 5) | random }}"
        style="--area: {{ col }} / {{ row }}; --scale: {{ scale }}; --opacity: {{ opacity }};"></span>
    {%- endfor %}
  </div>
</header>
