{% import "utility.macros.njk" as utility %}

<header
  data-layout="banner">
  <h1 class="banner-title" data-bright>
    {{ full_title | safe }}
  </h1>

  {% set go_to = utility.link_if(venue or 'the interwebz', url) if url else none %}

  {% if sub or go_to %}
    <span class="subtitle">
      {% if sub %}
        {{ sub | mdInline | safe }}
      {% elif go_to %}
        @ {{ go_to }}
      {% endif %}
    </span>
  {% endif %}
</header>
