{% import "utility.macros.njk" as utility %}

<header
  data-layout="banner">
  <h1 class="banner-title" data-bright>
    {{ full_title | safe }}
  </h1>

  {% set go_to = utility.link_if(venue or 'the interwebz', url) if url else none %}
	{% set sub_md = sub | mdInline if sub else sub -%}
	{% set sub = show.tag_title(collections) if (sub == 'show_tags') else sub_md -%}

  {% if sub or go_to %}
    <p class="subtitle">
      {% if sub %}
        {{ sub | safe }}
      {% elif go_to %}
        @ {{ go_to }}
      {% endif %}
    </p>
  {% endif %}
</header>
