{% import "utility.macros.njk" as utility %}
{% import "events.macros.njk" as event_macros %}

{% set get_calendar = renderData.calendar or calendar or series %}

{% if get_calendar == 'all' %}
  {{ event_macros.section(
    collections.all | getEvents,
    title='filter by...',
    self=page.url,
    top_tags=collections | sortTags
  ) }}
{% elif get_calendar %}
  {% set pages = collections[get_calendar] %}
  {% set title %}
    all of
    {{ utility.tag_link(get_calendar) }}…
  {% endset %}

  {% if pages %}
    {{ event_macros.section(
      pages | getEvents,
      title=title,
      self=page.url
    ) }}
  {% endif %}
{% elif events %}
  {{ event_macros.section(
    collections.all | getPage(page) | getEvents,
    title='as seen at…',
    self=page.url
  ) }}
{% endif %}
