{% import 'forms.macros.njk' as forms %}

<section data-ccs="menu" hidden>
  {% call forms.fieldset(
    legend='Color Mode',
    name='ccs-modes',
    attrs={'data-radio': 'group'}
  ) %}
    {% for mode in ['light', 'dark', 'auto'] %}
      {{ forms.radio(
        label=mode,
        id=[mode, 'mode'] | join('-'),
        group='ccs-modes',
        attrs={'data-ccs-colors': true if (mode == 'auto') else mode},
        input_attrs={
          'data-ccs-input': [mode, 'mode'] | join('-'),
          'checked': true if (mode == 'auto') else false
        }
      ) }}
    {% endfor %}
  {% endcall %}

  {{ forms.field(
    label='Theme',
    type='select',
    options=ccs.themes,
    field_attrs={'data-ccs-field': 'theme'},
    input_attrs={'data-ccs-input': 'theme unset-values'}
  ) }}

  {{ forms.field(
    label='Hue',
    type='range',
    field_attrs={'data-ccs-field': 'hue'},
    input_attrs={
      'data-ccs-input': 'hue',
      'min': 0,
      'max': 360,
      'value': ccs.hue
    }
  ) }}

  {{ forms.field(
    label='Saturation',
    type='range',
    field_attrs={'data-ccs-field': 'saturation'},
    input_attrs={
      'data-ccs-input': 'saturation',
      'min': 0,
      'max': 100,
      'value': ccs.saturation
    }
  ) }}

  {{ forms.field(
    label='Lightness',
    type='range',
    field_attrs={'data-ccs-field': 'lightness'},
    input_attrs={
      'data-ccs-input': 'lightness',
      'min': 30,
      'max': 70,
      'value': ccs.lightness
    }
  ) }}

  {{ forms.field(
    label='Contrast',
    type='range',
    field_attrs={'data-ccs-field': 'contrast'},
    input_attrs={
      'data-ccs-input': 'contrast',
      'min': 25,
      'max': 150,
      'value': ccs.contrast
    }
  ) }}
</section>
