<svg
  data-svg="fancy"
  role="img"
  aria-labelledby="miriam-face-title"
  viewBox="0 0 {{ dots.width }} {{ dots.height }}"
  preserveAspectRatio="xMidYMid slice"
  >
  {%- for i in range(1, dots.count) -%}
    {%- set x = range(1, dots.width / 20) | random * 20 - 10 -%}
    {%- set y = range(1, dots.height / 20) | random * 20 - 10 -%}
    {%- set color = dots.colors | random -%}
    {%- set r = range(5, 50) | random * 2 -%}
    {%- set opacity = (range(1, 30) | random + 10) / 100 -%}
    <circle cx="{{ x }}" cy="{{ y }}" r="{{ r }}" style="fill: var({{ color }}); opacity: {{ opacity }};" />
  {%- endfor -%}
</svg>
