{% import 'utility.macros.njk' as utility %}

<footer
  data-layout="footer">
  <div data-content>
    <p>
      Copyright © {% getDate 'year' %}
      <a href="mailto:{{ site.email }}">
        {{ site.author }}
      </a>
    </p>
  </div>
</footer>
<div data-layout="flag"></div>

