{% import 'utility.macros.njk' as utility %}

<hr class="footer-hr" />
<footer
  data-section="footer"
  data-area="right">
  <div data-content>
    <p>
      Copyright © {% getDate 'year' %}
      <a href="mailto:{{ site.email }}">
        {{ site.author }}
      </a>
    </p>

    <p>
      {% for link in footer.links %}
        <a href="{{ link.url | url }}">{{ link.name }}</a> |
      {% endfor %}
      <button data-btn="toggle-theme">change theme</button>
    </p>
  </div>
</footer>

<div data-layout="flag"></div>

<script type="text/javascript">
  {% include "../js/theme.js" %}
  {% include "../js/search.js" %}
</script>
