{% if hero.img %}
<figure data-pattern="figure" class="hero">
  <div data-figure="content" class="hero-content">
    <img
      src="{{ site.images + hero.img }}"
      alt="{{ hero.alt or '' }}"
      class="hero-image"/>
  </div>

  {% if hero.caption %}
    <figcaption
      data-figure="caption"
      class="hero-caption">
      {{ hero.caption | mdInline | safe }}
    </figcaption>
  {% endif %}
</figure>
{% endif %}
