{% import "utility.macros.njk" as utility %}


{% macro tag_title(collections) %}
  {% set amp = '&amp;&nbsp;' %}
  {% for tag in collections | getTags %}
    {% set url = tag | tagLink(collections) %}
    {% set amp1 = '' if loop.first else amp %}
    {{ amp1 | safe }}<a href="{{ url }}">{{ tag | displayName }}</a>
  {% endfor %}
  {{ amp | safe }}<a href="/tags/">more <span data-hidden>tags</span></a>
{% endmacro %}


{% macro site_nav(
  items,
  page
) %}
  {% set at_name %}Miriam <span data-above="medium">Suzanne</span>{% endset %}
  <ul data-navlist="site">
    {% for name, url in items %}
      {% set name = at_name if (name == '__name') else name %}
      <li class="nav-item">{{ nav_link(name, url, page) }}</li>
    {% endfor %}
  </ul>
{% endmacro %}


{% macro tag_nav(
  collections,
  page
) %}
  {% for tag in collections | getTags(null) %}
    {% set current = page | hasTag(tag) if page.data else none %}
    {% set url = tag | tagLink(collections) %}
    {% if (loop.index < 7) or current or (page.url == url) %}
      {{ nav_link(
        name=tag | displayName,
        url=url,
        page=page,
        current=current
      ) }}
    {% endif %}
  {% endfor %}

  {{ nav_link(
    name='tags',
    url='/tags/',
    page=page
  ) }}
{% endmacro %}


{% macro nav_link(
  name,
  url,
  page,
  current=none
) %}
  {% set attrs = {
    'data-nav': name | slug,
    'data-current': current,
    'data-active': (page.url == url),
    'rel': ('home' if url == '/' else none)
  } %}

  <a
    href="{{ url | url }}"
    {{ utility.show_attrs(attrs) }}>
    {{ name | safe }}
  </a>
{% endmacro %}
