{%- import 'utility.macros.njk' as utility -%}
{%- import 'content.macros.njk' as content -%}

{%- set absoluteUrl = page.url | url | absoluteUrl(site.url) -%}
{%- set url_mentions = webmentions | mentionsForUrl(absoluteUrl) -%}
{%- set mentions = url_mentions | webMentions -%}
{%- set likes = url_mentions | webLikes -%}
{%- set reposts = url_mentions | webReposts -%}

{%- set show_mentions =
  (
    mentions | length
    or likes | length > 20
  )
  and not
  (
    hide | includes('mentions')
    or (page.url == '/')
    or eleventyExcludeFromCollections
    or (not '_post' in (tags or []))
  )
-%}

{% if show_mentions %}
<section id="webmentions" data-section="mentions">
  <h2>WebMentions</h2>

  {%- set facepile = url_mentions | webAuthors -%}
  {%- if facepile | length -%}
    <div class="webmentions-facepile">
      {%- for author in facepile | reverse -%}
        {% if author.url %}
          <a href="{{ author.url }}" rel="noopener noreferrer" class="facepile-url" data-mention="{{ author.property | join(' ') }}">{% face author.photo, author.name, 'webmentions-face' %}</a>
        {% else %}
          <span class="facepile-url" data-mention="{{ author.property | join(' ') }}">{% face author.photo, author.name, 'webmentions-face' %}</span>
        {% endif %}
      {%- endfor -%}
    </div>
  {%- endif -%}

  {% for webmention in mentions | reverse %}
    <article class="webmention h-cite" id="webmention-{{ webmention['wm-id'] }}">
      {%- set class = 'webmention-media' -%}
      {%- set class = [class, 'p-author', 'h-card'] | join(' ') if webmention.author else class -%}

      {%- set img_class = 'webmention-author-photo' -%}
      {%- set img_class = [img_class, 'u-photo'] | join(' ') if webmention.author.photo else img_class -%}
      <div data-media="" class="{{ class }}">
        <div class="media-image">
          {% if webmention.author.photo %}
            {% face webmention.author.photo, webmention.author.name, img_class %}
          {% else %}
            {{ 'icons/webmention-avatar-default.svg' | img('default avatar', 'media', {'class': img_class}) | safe }}
          {% endif %}
        </div>
          <div class="media-text">
          <h3 class="webmention-author{% if webmention.author %} p-name{% endif %}">
            <a class="u-url" href="{{ webmention.url }}" target="_blank" rel="noopener noreferrer">
              {{- webmention.author.name -}}
            </a>
          </h3>

          {{ utility.datetime(webmention.published) }}

          <div class="webmention-content p-content">
            {{ webmention.content.value | safe }}
          </div>
        </div>
      </div>

    </article>
  {% endfor %}
</section>
{% endif %}
