{%- import 'utility.macros.njk' as utility -%}
{%- import 'content.macros.njk' as content -%}

{%- set absoluteUrl = page.url | url | absoluteUrl(site.url) -%}
{%- set url_mentions = webmentions | mentionsForUrl(absoluteUrl) -%}
{%- set mentions = url_mentions | webMentions -%}
{%- set likes = url_mentions | webLikes -%}

{% if mentions | length or (likes | length > 20) and not hide | includes('mentions') %}
<section id="webmentions" data-section="mentions">
  {%- set mentions_title = [mentions | length, 'WebMentions'] | join(' ') if mentions | length else none -%}
  {%- set likes_title = [likes | length, 'Likes'] | join(' ') if likes | length else none -%}

  {{ utility.section_title(
    [mentions_title, likes_title] | join(' & ')
    if (mentions_title and likes_title)
    else (mentions_title or likes_title)
  ) }}

  {% set facepile = url_mentions | webAuthors %}
  {% if facepile | length %}
    <div class="webmentions-facepile">
      {%- for author in facepile | reverse -%}
        {%- set photo %}<img src="{{ author.photo }}" title="{{ author.name }}" alt="" class="webmentions-face" />{% endset -%}
        {{ utility.link_if(
          photo,
          author.url,
          {
            'class': 'facepile-url',
            'rel': 'noopener noreferrer'
          }
        ) }}
      {%- endfor -%}
    </div>
  {% endif %}

  {% for webmention in mentions | reverse %}
    <article class="webmention h-cite" id="webmention-{{ webmention['wm-id'] }}">
      {%- set class = 'webmention-media' -%}
      {%- set class = [class, 'p-author', 'h-card'] | join(' ') if webmention.author else class -%}

      {%- set img_class = 'webmention-author-photo' -%}
      {%- set img_class = [img_class, 'u-photo'] | join(' ') if webmention.author.photo else img_class -%}

      {% call content.media(
        src=webmention.author.photo | url or '/icons/webmention-avatar-default.svg' | url,
        alt=webmention.author.name if webmention.author.photo else '',
        class=class,
        img_class=img_class
      ) %}
        <h3 class="webmention-author{% if webmention.author %} p-name{% endif %}">
          {% if webmention.author %}
            <a class="u-url" href="{{ webmention.url }}" target="_blank" rel="noopener noreferrer">
              {{ webmention.author.name }}
            </a>
          {% else %}
            Anonymous
          {% endif %}
        </h3>

        {% if webmention.published %}
          {{ utility.datetime(
            pubdate=webmention.published,
            format='long'
          ) }}
        {% endif %}

        <div class="webmention-content p-content">
          {{ webmention.content.value | safe }}
        </div>
      {% endcall %}

    </article>
  {% endfor %}
</section>
{% endif %}
