{%- import 'utility.macros.njk' as utility -%}
{% import 'content.macros.njk' as content %}

{%- set absoluteUrl = page.url | url | absoluteUrl(site.url) -%}
{%- set mentions = webmentions.children | mentionsForUrl(absoluteUrl) -%}
{%- set facepile = webmentions.children | filter(['wm-target', absoluteUrl]) -%}

{% if mentions | length %}
<section id="webmentions" data-section="mentions">
  {{ utility.section_title([facepile | length, 'WebMentions'] | join(' ')) }}

  {% if facepile | length %}
    <div class="webmentions-facepile">
      {% for webmention in facepile | reverse | onlyShow(100) %}
        <img src="{% if webmention.author.photo %}{{ webmention.author.photo }}{% else %}{{ '/icons/webmention-avatar-default.svg' | url }}{% endif %}" title="{{ webmention.author.name }}" alt="" class="webmentions-face" />
      {% endfor %}
      {% if facepile.length > 100 %}
        <span>+{{ facepile.length - 100 }}</span>
      {% endif %}
    </div>
  {% endif %}

  {% for webmention in mentions | reverse %}
    <article class="webmention h-cite" id="webmention-{{ webmention['wm-id'] }}">
      {% set class = 'webmention-media' %}
      {% set class = [class, 'p-author', 'h-card'] | join(' ') if webmention.author else class %}

      {% set img_class = 'webmention-author-photo' %}
      {% set img_class = [img_class, 'u-photo'] | join(' ') if webmention.author.photo else img_class %}

      {% call content.media(
        src=webmention.author.photo | url or '/icons/webmention-avatar-default.svg' | url,
        alt=webmention.author.name if webmention.author.photo else '',
        class=class,
        img_class=img_class
      ) %}
        <h3 class="webmention-author{% if webmention.author %} p-name{% endif %}">
          {% if webmention.author %}
            <a class="u-url" href="{{ webmention.url }}" target="_blank" rel="noopener noreferrer">
              {{ webmention.author.name }}
            </a>
          {% else %}
            Anonymous
          {% endif %}
        </h3>

        {% if webmention.published %}
          {{ utility.datetime(
            pubdate=webmention.published,
            format='long'
          ) }}
        {% endif %}

        <div class="webmention-content p-content">
          {{ webmention.content.value | safe }}
        </div>
      {% endcall %}

    </article>
  {% endfor %}
</section>
{% endif %}
