<menu
  type="toolbar"
  data-menu="theme"
  role="complementary"
  hidden>
  <details>
    <summary class="menu-item">colors</summary>
    <div data-dropdown="pad">
      <div class="color-btns">
        <button
          data-ccs-input="mode"
          data-btn="small"
          type="button">
          invert
        </button>
        <button
          data-ccs-input="unset"
          data-btn="small"
          type="button"
          hidden>
          reset
        </button>
      </div>

      <label data-field for="theme" data-ccs-field="theme">
        <span data-label>theme:</span>
        <select data-ccs-input="theme"
          name="theme" id="theme">
          {% for theme in site.themes %}
            <option value="{{ theme }}" {{ 'selected' if loop.first }}>
              {{ theme }}
            </option>
          {% endfor %}
        </select>
      </label>
      <label data-field for="hue" data-ccs-field="hue">
        <span data-label>hue:</span>
        <input data-ccs-input="hue"
          id="hue" type="range" min="0" max="360" value="330">
      </label>
      <label data-field for="sat" data-ccs-field="saturation">
        <span data-label>saturation:</span>
        <input data-ccs-input="saturation"
          id="sat" type="range" min="0" max="100" value="80">
      </label>
      <label data-field for="light" data-ccs-field="lightness">
        <span data-label>lightness:</span>
        <input data-ccs-input="lightness"
          id="light" type="range" min="25" max="75" value="50">
      </label>
      <label data-field for="contrast" data-ccs-field="contrast">
        <span data-label>contrast:</span>
        <input data-ccs-input="contrast"
          id="contrast" type="range" min="25" max="150" value="45">
      </label>
    </div>
  </details>
</menu>
