<menu type="toolbar" data-menu="theme" hidden>
  <li data-menu-item="theme">
    <label for="theme-select">
      <span class="label">theme:</span>
      <select name="theme-select" id="theme-select">
        <option value="mia-pink" selected>mia pink</option>
        <option value="mia-blue">mia blue</option>
        <option value="black">black &amp; white</option>
        <option value="monochrome">monochrome</option>
        <option value="complement">complement</option>
        <option value="triad">triad</option>
        <option value="adjacent">adjacent</option>
      </select>
    </label>
  </li>
  <li data-menu-item="hue">
    <label for="hue-select">
      <span class="label">hue:</span>
      <input id="hue-select" type="range" min="0" max="360" value="330">
    </label>
  </li>
  <li data-menu-item="mode">
    <button data-toggle="color-mode">invert</button>
  </li>
</menu>
