{%- set og_image = [site.url, '/assets/images/', hero.img or site.og.img] | join -%}

<meta property="og:locale" content="{{ site.og.locale }}" />
<meta property="og:type" content="{{ og.type or site.og.type }}" />
<meta property="og:title" content="{{ meta_title }}" />
<meta property="og:image" content="{{ og_image }}" />
<meta property="og:description" content="{{ meta_desc }}" />
<meta property="og:url" content="{{ [site.url, page.url] | join }}" />
<meta property="og:site_name" content="{{ site.title }}" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:description" content="{{ meta_desc }}" />
<meta name="twitter:title" content="{{ meta_title }}" />
<meta name="twitter:domain" content="{{ site.url }}" />
