{%- import 'utility.macros.njk' as utility -%}

{% if (content or summary) %}
  <article
    data-main
    data-typeset="{{ type }}"
    {{ utility.attr_if('data-erase', 'off' if erasure else none) }}>
    {% include 'site/hero.njk' %}
    {% include 'site/page-meta.njk' %}

    {% if summary %}
      <div class='intro'>
        {{ summary | md | safe }}

        {% if elsewhere %}
          <p>
            <a rel="bookmark"
              href="{{ url }}">
              View on {{ venue }} »
            </a>
          </p>
        {% endif %}
      </div>
    {% endif %}

    {{ content | typogr | safe }}

    {% include 'site/series.njk' %}
  </article>
{% endif %}
