{%- import 'utility.macros.njk' as utility -%}

{% set pub_tags = tags | publicTags %}
{% set offsite = {
  'venue': venue,
  'url': url
} if tags and ('elsewhere' in tags) else none %}

{% if pub_tags or offsite or org %}
  <footer data-meta="page">
    {% if org %}
      <p>
        {{ org | mdInline | safe }}
      </p>
    {% endif %}

    <p>
      {{ utility.datetime(
        pubdate=pubdate or page.date,
        start=start or date or page.date,
        end=end,
        format='long'
      ) }}
    </p>

    {% if adr %}
      <p>
        {{ adr | typogr | safe }}
      </p>
    {% endif %}

    {% if offsite %}
      <p class="elsewhere">
        at
        <a rel="bookmark"
          href="{{ offsite.url }}">
          <em>{{ offsite.venue }}</em>
        </a>
      </p>
    {% endif %}

    {% if pub_tags %}
      <p class="page-tags">
        in {{ utility.tag_list(tags, collections) }}
      </p>
    {% endif %}

    {%- set absoluteUrl = page.url | url | absoluteUrl(site.url) -%}
    {%- set likes = webmentions.children | likesForUrl(absoluteUrl) -%}
    {% if likes | length %}
      <p>({{ likes | length }} web-likes)</p>
    {% endif %}

  </footer>
{% endif %}
