{%- import 'utility.macros.njk' as utility -%}

{% if (content or summary) %}
  <div
    data-main
    data-typeset="{{ type }}"
    {{ utility.attr_if('data-erase', 'off' if erasure else none) }}>
    {% include 'site/hero.njk' %}
    {% include 'site/page-meta.njk' %}

    {% if draft %}
      <p>
        <a href="{{ site.source.repo }}{{ site.source.branch }}{{ page.inputPath | replace('./', '') }}">
          Draft Source
        </a>
      </p>
    {% endif %}


    {% if summary %}
      <div class='intro'>
        {{ summary | md | safe }}
      </div>
    {% endif %}

    {{ content | typogr | safe }}

    {% if tags and ('elsewhere' in tags) %}
      <p>
        <a rel="bookmark" href="{{ url }}">
          More at {{ venue }}
        </a>
      </p>
    {% endif %}

    {% include 'site/series.njk' %}
  </div>
{% endif %}
