<form
  action="https://google.com/search"
  method="get"
  data-form="search">
  <input type="hidden" name="q" id="q" value="site:{{ pkg.homepage | safe }}">
  <label
    data-field="search"
    for="search-str">
    <span data-hidden>Search</span>
    <input
      data-input="text"
      type="text"
      name="q"
      placeholder="Search…"
      autocomplete="off"
      id="search-str">
  </label>
  <button
    data-btn="search flush"
    data-offsite
    data-hidden
    type="submit">
    Search
  </button>
</form>
<ul
  data-navlist="search"
  aria-expanded="false">
</ul>
