<form
  action="https://google.com/search"
  method="get"
  data-form="search">
  <div role="search">
    <input type="hidden" name="q" id="q" value="site:{{ pkg.homepage | safe }}">
    <label
      data-field="search"
      for="search-str">
      <span  class="sr-only">Search</span>
      <input
        data-input="text"
        type="text"
        name="q"
        placeholder="Search (offsite)…"
        autocomplete="off"
        id="search-str">
    </label>
    <button
      data-btn="search flush"
      data-offsite
       class="sr-only"
      type="submit">
      Search
    </button>
    <ul
      data-navlist="search"
      data-dropdown="links"
      style="--right: 0;"
      aria-expanded="false">
    </ul>
  </div>
</form>
