{% import "utility.macros.njk" as utility %}

{% set more = collections[series] %}
{% set to = page | seriesNav(more) %}

{% if to.prev or to.next %}
  <nav
    data-series="{{ series | slug }}"
    data-divide="before">
    <ul>
      {{ utility.prev_next(to.prev, 'prev') }}
      {{ utility.prev_next(to.next, 'next') }}
    </ul>
  </nav>
{% endif %}
