<section id="settings" aria-labelledby="settings-label" data-init="show" hidden>
  <h2 id="settings-label">Theme settings</h2>

  {% include "settings/scheme.njk" %}
  {% include "settings/css.njk" %}
</section>
