<details id="settings" data-init="show" hidden>
  <summary>
    {% include "icons/paint.svg" %}
    <span class="summary-text">Preferences</span>
  </summary>
  <div class="settings">
    {% include "settings/scheme.njk" %}
    {% include "settings/css.njk" %}
  </div>
</details>
