<details data-menu="type" hidden>
  <summary class="menu-item">type</summary>
  <div data-dropdown="pad">
    <button
      data-type-input="unset"
      data-btn="small"
      type="button"
      hidden>
      reset
    </button>

    <label data-field for="base" data-type-field="base">
      <span data-label>base size:</span>
      <input data-type-input="base"
        id="base" type="range" min="500" max="1500" value="1000">
    </label>
    <label data-field for="scale" data-type-field="scale">
      <span data-label>scale:</span>
      <input data-type-input="scale"
        id="scale" type="range" min="100" max="1000" value="500">
    </label>
    <label data-field for="line" data-type-field="line">
      <span data-label>line height:</span>
      <input data-type-input="line"
        id="line" type="range" min="0" max="10" value="4">
    </label>
    <label data-field for="spacing" data-type-field="spacing">
      <span data-label>spacing:</span>
      <input data-type-input="spacing"
        id="spacing" type="range" min="10" max="100" value="40">
    </label>
  </div>
</details>
