{% import 'forms.macros.njk' as forms %}

<details data-menu="type" hidden>
  <summary class="menu-item" id="menu-type">type</summary>
  <div data-dropdown="pad">

    {{ forms.field(
      label='Font Size',
      type='range',
      field_attrs={'data-type-field': 'base'},
      input_attrs={
        'data-type-input': 'base',
        'min': -10,
        'max': 100,
        'value': 0
      }
    ) }}

    {{ forms.field(
      label='Line Height',
      type='range',
      field_attrs={'data-type-field': 'line'},
      input_attrs={
        'data-type-input': 'line',
        'min': 0,
        'max': 10,
        'value': 4
      }
    ) }}

    {{ forms.field(
      label='Letter Spacing',
      type='range',
      field_attrs={'data-type-field': 'letters'},
      input_attrs={
        'data-type-input': 'letters',
        'min': -150,
        'max': 500,
        'value': 0
      }
    ) }}

    <button
      data-type-input="unset"
      data-btn="small"
      type="button"
      hidden>
      reset
    </button>
  </div>
</details>
