// Themes
// ======

$themes: (
  'light': $light-colors,
  'dark': $dark-colors,
  'contrast': $contrast-colors,
);

// Set theme variables
@each $name, $theme in $themes {
  [data-theme='#{$name}'] {
    @include colors--($theme);
    --img-bright: #{if(($name == 'dark'), 75%, null)};
    --shadow: #{shadow($name)};
  }
}

// Set theme defaults
[data-theme] {
  background-color: var-color('background');
  color: var-color('text');
  text-shadow: var(--shadow, shadow('light')) var-color('shadow');
}
