// Type
// ====

@include import-webfonts;

html {
  --gutter: 0.5rem;
  --shim: calc(var(--gutter) / 2);
  --half-shim: calc(var(--shim) / 2);
  --quarter-shim: calc(var(--shim) / 4);

  --border: var(--quarter-shim);
  --border-radius: var(--quarter-shim);

  --font-small: 0.75rem;

  @include font-family('code');
  line-height: 1.4;
  font-size: calc(1em + 0.5vw);
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;

  @media (min-width: 35em) {
    --gutter: 1rem;
  }
}

// Links
// -----

@mixin offsite {
  @include after('↗') {
    font-size: 0.5em;
    opacity: 0.5;
    @content;
  }
}

a {
  --link-color-default: var(--prime-fg2);
  --link-underline: var(--prime-fg1);
  --link-hover-default: var(--prime-fg3);
  --link-hover-underline: var(--prime);

  --link-apply: var(--link-color, var(--link-color-default));
  --link-hover-apply: var(--link-hover, var(--link-hover-default));

  #{$link} {
    color: var(--link-apply);
    text-decoration-color: var(--link-underline);
    text-decoration-skip-ink: auto;
  }

  #{$focus} {
    color: var(--link-hover-apply, var(--link-apply));
    text-decoration-color: var(--link-hover-underline, var(--link-underline));
  }

  &[href*='://'] {
    @include offsite;
  }
}

// Headings
// --------

h1,
h2 {
  @include font-family('midnight');
  text-transform: uppercase;

  &::first-line {
    @include font-family('two-am');
  }

  @supports (background-clip: text) {
    --link-color: transparent;
    background: linear-gradient(
      to bottom right,
      var(--prime-fg1),
      var(--accent-fg1)
    );
    background-clip: text;
    box-decoration-break: clone;
    color: transparent;
    text-shadow: none;
  }
}

h1 {
  // it grows on you…
  --h1-padding-right: calc(15vw - 40px);
  font-size: calc(1rem + 8vw);
  line-height: 0.85;
  margin: 0;
  padding: 0.25em var(--h1-padding-right) 0.25em 0;
}

/* stylelint-disable */

@mixin range-track {
  &::-webkit-slider-runnable-track {
    @content;
  }
  &::-moz-range-track {
    @content;
  }
  &::-ms-track {
    @content;
  }
}

@mixin range-thumb {
  &::-webkit-slider-thumb {
    @content;
  }
  &::-moz-range-thumb {
    @content;
  }
  &::-ms-thumb {
    @content;
  }
}

/* stylelint-enable */

$rainbow: ();
@for $hue from 1 through 36 {
  $rainbow: append($rainbow, hsl($hue * 10, 80%, 40%), comma);
}

[for='hue-select'] {
  display: var(--custom-hue, block);
}

[for='light-select'] {
  display: var(--custom-light, block);
}

[for='sat-select'] {
  display: var(--custom-sat, block);
}

[for='contrast-select'] {
  display: var(--custom-contrast, block);
}

[type='range'] {
  appearance: none;
  background: transparent;
  height: 0.75em;
  max-width: 100%;

  @include range-track {
    height: 1em;
    background: var(--accent-fg3-fade);
    border-radius: 1em;
    border: 1px solid var(--accent-fg2-fade);
    cursor: pointer;
  }

  @include range-thumb {
    border: 2px solid var(--accent-fg3);
    height: 1em;
    width: 0.5em;
    border-radius: 0.25em;
    background: var(--prime);
    cursor: pointer;
  }
}

[id='hue-select'] {
  @include range-track {
    background: linear-gradient(to right, $rainbow);
  }
}

[id='light-select'] {
  @include range-track {
    background: linear-gradient(to right, hsl(0, 0%, 25%), silver);
  }
}

[id='sat-select'] {
  @include range-track {
    background: linear-gradient(
      to right,
      hsl(var(--h-prime), 0%, var(--l)),
      hsl(var(--h-prime), 100%, var(--l))
    );
  }
}

[id='contrast-select'] {
  @include range-track {
    background: linear-gradient(to right, gray, white),
      linear-gradient(to right, gray, black);
    background-size: 100% 50%, 100% 100%;
    background-position: top left, bottom left;
    background-repeat: no-repeat;
  }
}

// Special
// -------

[data-hidden] {
  @include is-hidden;
}

[data-offsite] {
  @include offsite;
}

// Above/below
[data-above] {
  --show: none;
  display: var(--show);
}

[data-above='small'] {
  @include above(30em) {
    --show: initial;
  }
}

[data-above='medium'] {
  @include above(45em) {
    --show: initial;
  }
}

[data-above='large'] {
  @include above(60em) {
    --show: initial;
  }
}
