// Type
// ====

@include import-webfonts;

:root {
  @include font-family('body');
  font-size: size('responsive');
  line-height: ratio('text-ratio');
}

h1 {
  font-size: size('h1');
}

p {
  margin-bottom: size('gutter');
}

blockquote {
  margin-bottom: size('gutter');

  p:last-of-type {
    margin-bottom: size('half-shim');
  }
}

// Links
// -----

a {
  #{$link} {
    color: var-color('action');
    text-decoration-color: var-color('action-underline');
    text-decoration-skip-ink: auto;
  }

  #{$focus} {
    color: var-color('action-hover');
    text-decoration-color: currentColor;
  }

  &[href*='://'] {
    @include after('↗') {
      @include font-family('code');
      color: var-color('text-light');
      font-size: size('code');
    }
  }
}

// Special
// -------

.is-hidden {
  @include is-hidden;
}

.amp {
  @include font-family('amp');
  @include color--('amp', 'text-highlight');
  color: var-color('amp', 'text-highlight');
  font-style: italic;
}

.intro {
  font-size: size('intro');
  font-style: italic;
}

.md {
  h2,
  h3,
  h4 {
    @include font-family('code');
    color: var-color('text-highlight');
  }

  h2 {
    font-size: size('h2');
  }

  h3 {
    font-style: italic;
  }
}
