// Type
// ====

@include import-webfonts;

html {
  --gutter: 0.5rem;
  --shim: calc(var(--gutter) / 2);
  --half-shim: calc(var(--shim) / 2);
  --quarter-shim: calc(var(--shim) / 4);

  --link-color: var(--prime-fg-md);
  --link-underline: var(--prime-fg-sm);
  --link-hover-color: var(--prime-fg-lg);
  --link-hover-underline: var(--prime);

  --font-small: 0.75rem;

  @include font-family('code');
  line-height: 1.4;
  font-size: calc(1em + 0.5vw);
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;

  @media (min-width: 35em) {
    --gutter: 1rem;
  }
}

// Links
// -----

@mixin offsite {
  @include after('↗') {
    font-size: 0.5em;
    opacity: 0.5;
    @content;
  }
}

a {
  #{$link} {
    color: var(--link-color);
    text-decoration-color: var(--link-underline);
    text-decoration-skip-ink: auto;
  }

  #{$focus} {
    color: var(--link-hover-color, var(--link-color));
    text-decoration-color: var(--link-hover-underline, var(--link-underline));
  }

  &[href*='://'] {
    @include offsite;
  }
}

// Headings
// --------

h1,
h2 {
  @include font-family('midnight');
  text-transform: uppercase;

  &::first-line {
    @include font-family('two-am');
  }

  @supports (background-clip: text) {
    --link-color: transparent;
    background: linear-gradient(
      to bottom right,
      var(--prime-fg-sm),
      var(--accent-fg-sm)
    );
    background-clip: text;
    box-decoration-break: clone;
    color: transparent;
    text-shadow: none;
  }
}

h1 {
  // it grows on you…
  --h1-padding-right: calc(15vw - 40px);
  font-size: calc(1rem + 8vw);
  line-height: 0.85;
  margin: 0;
  padding: 0.25em var(--h1-padding-right) 0.25em 0;
}

/* stylelint-disable */

@mixin range-track {
  &::-webkit-slider-runnable-track {
    @content;
  }
  &::-moz-range-track {
    @content;
  }
  &::-ms-track {
    @content;
  }
}

@mixin range-thumb {
  &::-webkit-slider-thumb {
    @content;
  }
  &::-moz-range-thumb {
    @content;
  }
  &::-ms-thumb {
    @content;
  }
}

/* stylelint-enable */

$rainbow: ();
@for $hue from 1 through 36 {
  $rainbow: append($rainbow, hsl($hue * 10, 80%, 40%), comma);
}

[data-menu-item='hue'] {
  display: var(--user-theme, block);
}

[type='range'] {
  appearance: none;
  background: transparent;
  height: 1em;

  @include range-track {
    height: 1em;
    cursor: pointer;
    background: linear-gradient(to right, $rainbow);
    border-radius: 1em;
    border: 0;
  }

  @include range-thumb {
    border: 2px solid var(--accent-fg-sm);
    height: 1.2em;
    width: 1em;
    border-radius: 3px;
    background: var(--prime);
    cursor: pointer;
  }
}

// // Special
// // -------

[data-hidden] {
  @include is-hidden;
}

[data-offsite] {
  @include offsite;
}
