{% import "utility.macros.njk" as utility %}
{% import "macros/indieweb.njk" as indieweb %}

{%- set hentry_heading = hentry_heading or 'h2' -%}
<article class="h-entry">
  <header>
    <{{ hentry_heading }} class="p-name">
      <a href="{{ item.url | url }}" class="u-url">
        {{- item.data.banner | mdInline | safe -}}
      </a>
    </{{ hentry_heading }}>
    {{- indieweb.rel(post) -}}
    <p>
      {{- utility.datetime(
        item.data.date,
        item.data.end,
        pubdate=true
      ) -}}
      {% if item.data.type %}
        » <em>{{ item.data.type }}</em>
      {% endif %}
      {% if item.data.venue %}
        {{ 'in reply to' if item.data.rel == 'reply' else '@' }}
        <em>{{ item.data.venue }}</em>
      {% endif %}
    </p>
  </header>
</article>
