@use 'sass:list';
@use 'sass:map';

$mono-stack: (
  'Menlo',
  'Monaco',
  'Lucida Console',
  'Liberation Mono',
  'DejaVu Sans Mono',
  'Bitstream Vera Sans Mono',
  'Courier New',
  'monospace'
);

$sans-stack: ('Geneva', 'sans-serif');

// Static Font
// --------------
$static: (
  name: 'Verdana',
  stack: $sans-stack,
);

// Mono Font
// ---------
$mono: (
  name: 'Consolas',
  stack: $mono-stack,
);

// Recursive Font
// --------------
$recursive: (
  name: 'Recursive',
  stack: list.join((Verdana), $sans-stack),
);

// Mono Font
// ---------
$recursive-mono: (
  name: 'Recursive Mono',
  stack: list.join((Consolas), $mono-stack),
);

$_variants: (
  body: (
    --mono: 0,
    --casl: 0,
    --wght: 200,
    --slnt: 0,
    --ital: 0.5,
  ),
  code: (
    --mono: 1,
  ),
  italic: (
    font-style: italic,
    --slnt: -15,
  ),
  fun: (
    --casl: 1,
  ),
  light: (
    font-weight: 200,
    --wght: 200,
  ),
  medium: (
    font-weight: normal,
    --wght: 400,
  ),
  bold: (
    font-weight: bold,
    --wght: 600,
  ),
  extra: (
    font-weight: bold,
    --wght: 1000,
  ),
);

@function font-family($map) {
  $stack: list.join(map.get($map, 'name'), map.get($map, 'stack'), comma);
  @return $stack;
}

@mixin font-family($map) {
  font-family: font-family($map);
}

@mixin var($name, $settings: true) {
  @if ($settings) {
    font-variation-settings: 'MONO' var(--mono), 'CASL' var(--casl),
      'wght' var(--wght), 'slnt' var(--slnt), 'ital' var(--ital);
  }

  $name: if($name, $name, ('body'));
  $map: ();

  @each $var in $name {
    $var: map.get($_variants, $var);
    $map: map.merge($map, $var);
  }

  @each $prop, $val in $map {
    #{$prop}: #{$val};
  }
}
