@mixin ui {
  --ui-mono: ui-monospace, sfmono-regular, consolas, monaco, monospace, serif;
  --ui-sans: ui-sans-serif, system-ui, -apple-system, sans-serif;
  --ui-serif: ui-serif, palatino, palatino linotype, palatino lt std,
    book antiqua, georgia, serif;
}
