@mixin text {
  --root: clamp(1.25em, 1em + 0.5vw, 2em);
  --line-height: 1.4;
  --line: calc(1rem * var(--line-height));
  --measure: 70ch;
}

@mixin space {
  --gap: 1rem;
  --shim: calc(var(--gap) / 2);
  --half-shim: calc(var(--gap) / 4);
  --spacer: clamp(var(--gap) * 2, var(--gap) * 2 + 1vw, var(--gap) * 4);
}
