---
layout: format/h-feed
sub: '[see all tags](/tags/)'
pagination:
  data: collections
  size: 1
  alias: tag
permalink: /tags/{{ tag | slugify }}/
eleventyExcludeFromCollections: true
---

{%- for item in collections[index] | getPublic | sortBy('data.date') | reverse -%}
  {%- include "part/hentry.njk" -%}
{%- endfor -%}
