---
layout: format/h-feed
sub: '[see all tags](/tags/)'
pagination:
  data: collections
  size: 1
  alias: tag
permalink: /tags/{{ tag | slug }}/
eleventyExcludeFromCollections: true
---

{%- set show_feed = collections[index] -%}
{% include "page/feed.njk" %}
