---
title: Browse by Tags
eleventyExcludeFromCollections: true
---

{% set tagData = collections | tagData %}

{% if tagData %}
<ol>
  {% for tag in tagData | publicTags | sortBy('count') | sortBy('top') | reverse %}
    <li>
      <a href="{{ tag.url | url }}">{{ tag.display }}</a>
      ({{ tag.count }} pages)
    </li>
  {% endfor %}
</ol>
{% endif %}
