{% import "utility.macros.njk" as utility %}

{% macro section(
  title,
  content=none
) %}
  {% set content = content if (content != none) else caller() %}

  <section data-section="cards" class="h-feed">
    {{ utility.section_title(title, hfeed=true) }}

    <div
      data-layout="card-groups">
      {{ content }}
    </div>
  </section>
{% endmacro %}

{% macro group(
  title,
  content=none
) %}
  {% set content = content if (content != none) else caller() %}

  <section
    data-card-group="{{ title | slug }}">
    <header
      data-cards="grouper">
      <h3 data-cards="group-title">
        {{ title | safe }}
      </h3>
    </header>
    <div data-layout="cards">
      {{ content | safe }}
    </div>
  </section>
{% endmacro %}

{% macro event(
  name,
  meta,
  summary,
  feature,
  is_old=false,
  index=0
) %}
{% set name = name | typogr %}
{% set id = [name | striptags | slug, index] | join('-') %}
<article aria-labelledby="{{ id }}" class="h-entry{% if feature %} feature{% endif %}">
  <header>
    {% if name %}
      <h4 class="p-name" id="{{ id }}">
        {{ name | safe }}
      </h4>
    {% endif %}

    {% if meta %}
      <div>
        {{ meta | safe }}
      </div>
    {% endif %}
  </header>

  {% if summary %}
    <div class="p-summary entry-summary">
      {{ summary | safe }}
    </div>
  {% endif %}
</article>
{% endmacro %}
