{% import "utility.macros.njk" as utility %}

{% macro section(
  title,
  more=none,
  content=none
) %}
  {% set content = content if (content != none) else caller() %}

  <section
    data-area="full"
    data-flow="grid">
    {{ utility.section_title(title, more) }}

    <div
      data-area="full"
      data-layout="card-groups">
      {{ content }}
    </div>
  </section>
{% endmacro %}

{% macro group(
  title,
  content=none
) %}
  {% set content = content if (content != none) else caller() %}

  <section
    data-card-group="{{ title | slug }}">
    <h3
      data-cards="grouper">
      {{ title }}
    </h3>
    {{ content }}
  </section>
{% endmacro %}

{% macro list(
  reverse=false,
  content=none
) %}
  {% set content = content if (content != none) else caller() %}

  <ol
    data-layout="cards"
    {{ utility.attr_if('reversed', reverse) }}>
    {{ content }}
  </ol>
{% endmacro %}

{% macro item(
  feature=false,
  content=none
) %}
  {% set content = content if (content != none) else caller() %}

  <li
    data-card="item"
    {{ utility.attr_if('data-feature', feature) }}>
    <div data-card="inner">
      {{ content }}
    </div>
  </li>
{% endmacro %}

{% macro meta(
  content=none
) %}
  {% set content = content if (content != none) else caller() %}

  <div
    data-card="meta">
    {{ content }}
  </div>
{% endmacro %}

{% macro main(
  name,
  url=none
) %}
  <h4
    data-card="title">
    {{ utility.link_if(name, url) }}
  </h4>
{% endmacro %}
