{% import "utility.macros.njk" as utility %}

{#
  Intro
  -----
#}
{% macro intro(
  content=none
) -%}
{%- set content = content if (content != none) else caller() -%}
<div class='intro'>{{ content | md | safe }}</div>
{%- endmacro %}

{#
  Quote
  -----
#}
{% macro quote(
  data
) -%}
<blockquote>
{{ data.text | md | safe }}
<p>{{ '---' | mdInline }}<cite>{{ cite(data) | mdInline | safe }}</cite></p>
</blockquote>
{%- endmacro %}


{% macro cite(
  data
) -%}
{%- set where -%}
{{ data.venue | safe }}{% if data.venue and data.title %}: {% endif %}{{ data.title | safe }}
{%- endset -%}
{%- set where = where if (data.venue or data.title) else none -%}

{%- if data.credit and where and data.url -%}
{{ data.credit }}, [{{ where }}]({{ data.url }})
{%- elif data.credit and where -%}
{{ data.credit }}, {{ where }}
{%- elif data.credit and data.url -%}
[{{ data.credit }}]({{ data.url }})
{%- elif where and data.url -%}
[{{ where }}]({{ data.url }})
{%- else -%}
{{ data.credit or where or data.url }}
{%- endif -%}
{%- endmacro %}


{% macro quotes(
  data
) %}
{% for item in data -%}
{%- if item.text -%}
{{ quote(item) }}
{%- endif -%}
{% endfor -%}
{% endmacro %}


{% macro media(
  src,
  alt='',
  align=none,
  embed=false,
  class=none,
  content=none,
  img_class='',
  attrs={}
) %}
{%- set content = content if (content != none) else caller() -%}
{%- set align = ('--align: %s;' % align) if align else none -%}
{%- set attrs = {
  'class': [img_class, 'media-image'] | join(' ')
} | merge(attrs) -%}
<div data-media="" {{ utility.attr_if('style', align) }} {{ utility.attr_if('class', class) }}>
{%- if embed -%}
<div class="media-image">
{%- include src -%}
</div>
{%- else -%}
{%- if '://' in src -%}
<img src="{{ src | url }}" alt="{{ alt }}" {{ utility.show_attrs(attrs) }} />
{%- else -%}
{{ src | img(alt, 'media', attrs) | safe }}
{%- endif -%}
{%- endif -%}
<div class="media-text">
{{ content | safe }}
</div>
</div>
{% endmacro %}

{#
  Erase
  -----
#}
{%- macro erase(
  content
) -%}
<button data-toggle="erase">
{{ content | mdInline | safe }}
</button>
{%- endmacro -%}

{#
  Figures
  -------
#}
{% macro fig(
  data=none,
  caption=none,
  content=none
) -%}
{%- set content = _fig_content(data) if data else content or caller() | mdInline -%}
<figure data-pattern="figure">
<div data-figure="content">
{{ content | safe }}
</div>

{%- if caption -%}
<figcaption data-figure="caption">
{{ caption | mdInline | safe }}
</figcaption>
{%- endif -%}
</figure>
{%- endmacro %}

{# @docs
label: svg
category: Embed
note: Embed an svg file from the `content/_includes/` folder
params:
  path:
    type: string
#}
{% macro svg(
  path,
  alt=none
) -%}
  {%- include path + '.svg' -%}
  {% if alt %}<span class="sr-only">{{ alt }}</span>{% endif %}
{%- endmacro %}


{# @docs
label: iframe
category: Embed
note: |
  Embed an iframe (most often used for videos).
  Width and height are provided both as defaults,
  and to create intrinsic ratios when possible.
params:
  src:
    type: url
  title:
    type: string
  width:
    type: number
    default: 'none'
  height:
    type: number
    default: 'none'
  span:
    type: number | 'full'
    default: 'none'
    note: Span multiple columns of a gallery
#}
{% macro iframe(
  src,
  title,
  width=none,
  height=none,
  span=none
) %}
  {%- set width = width or 560 -%}
  {%- set height = height or 315 -%}
  {%- set attrs = {
    'src': src,
    'title': title,
    'width': width,
    'height': height,
    'frameborder': '0',
    'webkitallowfullscreen': true,
    'mozallowfullscreen': true,
    'allowfullscreen': true
  } -%}
  {%- set content %}<iframe {{ utility.show_attrs(attrs) }}></iframe>{% endset -%}
  {{- ratio(width, height, span, content) | safe -}}
{% endmacro %}

{# @docs
label: audio
category: Embed
note: Embed an audio file
params:
  src:
    type: url
  attrs:
    type: object
    default: '{}'
#}
{% macro audio(
  src,
  span
) -%}
{%- set style = {
  '--width': '100%',
  '--span': span
} -%}
{%- set src = src if ('://' in src) else ('/assets/media/' + src) -%}
<audio src="{{ src }}" {{ utility.style_if(style) }} controls>{{ src | mdInline }}</audio>
{%- endmacro %}


{# @docs
label: ratio
category: Layout
note: Maintain aspect ratio for embedded media
params:
  width:
    type: number
    default: 'none'
  height:
    type: number
    default: 'none'
  span:
    type: number | 'full'
    default: 'none'
    note: Span multiple columns of a gallery
  content:
    type: html
    default: 'none'
    note: The content to embed (can also be a `caller()` block)
#}
{% macro ratio(
  width=none,
  height=none,
  span=none,
  content=none
) %}
{%- set content = content if (content != none) else caller() -%}
{%- if width | typeCheck('number') and height | typeCheck('number') -%}
  {%- set style = {
    '--ratio': (width / height),
    '--span': span
  } -%}
<div class="ratio" {{ utility.style_if(style) }}>{{ content | safe }}</div>
  {%- else -%}
    {{- content | safe -}}
  {%- endif -%}
{%- endmacro %}

{#
  Placement
  ---------
#}
{% macro place(
  width,
  height=none
) -%}
{%- set width = ['--width:', width, ';'] | join if width else '' -%}
{%- set height = ['--height:', height, ';'] | join if height else '' -%}
{%- set style = [width, height] | join if (width or height) else none -%}
<div data-place {{ utility.attr_if('style', style) }}>{{ caller() }}</div>
{%- endmacro %}

{#
  Private
  -------
#}
{% macro _fig_content(
  data
) -%}
{%- for item in data -%}
  {%- if item.img -%}
    {%- set style = {
      '--width': item.width,
      '--span': item.span
    } | styles -%}
    {% set full_width = (loop.length == 1) or (item.span == 'full') or (item.span > 1) %}
    {{- item.img | img(
      item.alt,
      none if full_width else 'gallery',
      {'style': style}
    ) | safe -}}
  {%- elif item.svg -%}
    {{- svg(item.svg, item.alt) | safe -}}
  {%- elif item.iframe -%}
    {{- iframe(
      item.iframe,
      item.title or 'video embed',
      item.width,
      item.height,
      item.span
    ) -}}
  {%- elif item.audio -%}
    <div style="--span: {{ item.span }}">
      {{- audio(item.audio) -}}
    </div>
  {%- elif item.pen -%}
    {{- codepen(item.pen, item.title, item.user, item.tab, item.height, item.theme, item.preview, item.attrs) -}}
  {%- endif -%}
{%- endfor -%}
{%- endmacro %}


{% macro codepen(
  id,
  title,
  user='miriamsuzanne',
  tab='result',
  height=500,
  theme=none,
  preview=none,
  attrs={}
) -%}
{%- set content -%}
<p {{ utility.show_attrs(attrs) }} {{ utility.show_attrs({
  'class': 'codepen',
  'data-height': height or 500,
  'data-theme-id': theme,
  'data-slug-hash': id,
  'data-default-tab': tab or 'result',
  'data-user': user or 'miriamsuzanne',
  'data-embed-version': "2",
  "data-preview": preview
}) }}>See the Pen {{ utility.link_if(
  content=title,
  url=('https://codepen.io/' + user + '/pen/' + id)
) }} by {{ utility.link_if(
  content='@' + user,
  url='https://codepen.io/' + user
) }} on {{ utility.link_if(
  content='CodePen',
  url='https://codepen.io'
) }}.</p><script async src="https://static.codepen.io/assets/embed/ei.js"></script>
{%- endset -%}
{{ fig(content) }}
{%- endmacro %}

{% macro caniuse(
  feature,
  periods=none,
  script=true
) %}
{% set periods = periods or 'future_1,current,past_1,past_2' %}
<p class="ciu_embed" data-feature="{{ feature }}" data-periods="future_1,current,past_1,past_2" data-accessible-colours="false">
  <picture>
    <source type="image/webp" srcset="https://caniuse.bitsofco.de/image/{{ feature }}.webp">
    <source type="image/png" srcset="https://caniuse.bitsofco.de/image/{{ feature }}.png">
    <img src="https://caniuse.bitsofco.de/image/{{ feature }}.jpg" alt="Data on support for the {{ feature }} feature across the major browsers from caniuse.com">
  </picture>
</p>
<script src="https://cdn.jsdelivr.net/gh/ireade/caniuse-embed/public/caniuse-embed.min.js"></script>
{% endmacro %}
