{% import "utility.macros.njk" as utility %}

{% macro form(
  heading='## Contact me',
  next='/contact/thanks/',
  submit='send',
  attrs={},
  url='/contact/'
) %}
{% set attrs = {
  'name': 'contact',
  'id': 'contact',
  'aria-labelledby': 'contact-label',
  'method': 'POST',
  'action': next,
  'netlify-honeypot': 'subject',
  'data-netlify': true
} | merge(attrs) %}
<form {{ utility.show_attrs(attrs) }}>
  {% if heading %}
    {{ [heading, '{#contact-label}'] | join | md | safe }}
  {% endif %}

  <label>
    <span>Name:</span>
    <input
      data-input="text"
      type="text"
      name="name"
      required />
  </label>
  <label>
    <span>Email:</span>
    <input
      data-input="text"
      type="email"
      name="email"
      required />
  </label>
  <label>
    <span>Message:</span>
    <textarea
      data-input="text area"
      name="message"
      required></textarea>
  </label>
  <label hidden>
    <span>Don't fill out this field:</span>
    <input name="subject" />
  </label>
  <label hidden>
    <span>URL:</span>
    <input name="url" value="{{ url }}" />
  </label>
  <div class="form-actions">
    <button type="submit">
      {{ submit }}
    </button>
  </div>
</form>
{% endmacro %}

{% macro links(social) %}
<ul>
  {% for item in social -%}
    {%- if item.email %}
      <li>
        {{- utility.link_if(
          item.email,
          ['mailto:', item.email] | join,
          {
            'rel': 'me',
            'class': 'u-email'
          }
        ) -}}
      </li>
    {% elif item.user %}
      <li>
        {{- utility.link_if(
          item.user,
          item.url,
          {
            'rel': 'me',
            'class': 'u-url'
          }
        ) }}
        <span>on {{ item.site }}</span>
      </li>
    {% else %}
      <li>
        {{- utility.link_if(
          item.site,
          item.url,
          {
            'rel': 'me',
            'class': 'u-url'
          }
        ) -}}
      </li>
    {% endif -%}
  {%- endfor %}
</ul>
{% endmacro %}
