{% import "utility.macros.njk" as utility %}

{% macro fig(
  data=none,
  caption=none
) -%}
{%- set content = data_content(data) if data else caller() | md('inline') -%}
<figure data-pattern="figure">
<div data-figure="content">
{{ content | safe }}
</div>
{%- if caption -%}
<figcaption data-figure="caption">
{{ caption | md('inline') | safe }}
</figcaption>
{%- endif -%}
</figure>
{%- endmacro %}


{% macro data_content(
  data
) -%}
{%- for item in data -%}
{%- if item.img -%}
{%- set src = item.img if ('://' in item.img) else ('/assets/images/' + item.img) -%}
{%- set style = ['--width:', item.width, ';'] | join if item.width else none -%}
<img src="{{ src }}" alt="{{ item.alt }}" {{ utility.attr_if('style', style) }}/>
{%- elif item.iframe -%}
{%- call ratio(item) -%}
<iframe src="{{ item.iframe }}" {{ utility.attr_if('width', item.width) }} {{ utility.attr_if('height', item.height) }}
  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
{%- endcall -%}
{%- endif -%}
{%- endfor -%}
{%- endmacro %}


{% macro ratio(
  item
) -%}
{%- if item.width and item.height -%}
<div
  class="ratio"
  style="--ratio:{{ item.width / item.height }};">
{{ caller() }}
</div>
{%- else -%}
{{ caller() }}
{%- endif -%}
{%- endmacro %}
