{% import "utility.macros.njk" as utility %}

{% macro form(
  heading='## Contact me',
  next='/contact/thanks/',
  submit='send',
  attrs={},
  url='/contact/'
) %}
{% set attrs = {
  'name': 'contact',
  'method': 'POST',
  'action': next,
  'netlify-honeypot': 'subject',
  'data-netlify': true
} | merge(attrs) %}
<form {{ utility.show_attrs(attrs) }}>
  {% if heading %}
    {{ heading | md | safe }}
  {% endif %}

  <label>
    <span>Name:</span>
    <input
      data-input="text"
      type="text"
      name="name"
      required />
  </label>
  <label>
    <span>Email:</span>
    <input
      data-input="text"
      type="email"
      name="email"
      required />
  </label>
  <label>
    <span>Message:</span>
    <textarea
      data-input="text area"
      name="message"
      required></textarea>
  </label>
  <label hidden>
    <span>Don't fill out this field:</span>
    <input name="subject" />
  </label>
  <label hidden>
    <span>URL:</span>
    <input name="url" value="{{ url }}" />
  </label>
  <div class="form-actions">
    <button type="submit">
      {{ submit }}
    </button>
  </div>
</form>
{% endmacro %}

{% macro links(social) %}
<ul>
  {% for item in social -%}
    {%- set content -%}
      {%- if item.user %}{{ item.user }} on {% endif -%}
      {{- item.site or item.email -}}
    {%- endset -%}
    {%- set url = ['mailto:', item.email] | join if item.email else item.url -%}
    <li>
      {{- utility.link_if(
        content,
        url,
        {
          'rel': 'me',
          'class': 'u-email' if item.email else 'u-url'
        }
      ) -}}
    </li>
  {%- endfor %}
</ul>
{% endmacro %}
