{% import "utility.macros.njk" as utility %}
{% import "cards.macros.njk" as cards %}

{% macro section(
  events,
  title='calendar',
  self=none,
  top_tags=none
) %}
  {% set more = utility.tag_filters(top_tags) if top_tags else none %}

  {% call cards.section(title, more) %}
    {% set group_formats = {now: 'since'} %}
    {% for year, segment in events | dictsort | reverse %}
      {% set date_format = group_formats[year] or 'md' %}
      {{ group(year, segment, date_format, self) }}
    {% endfor %}
  {% endcall %}
{% endmacro %}

{% macro group(
  title,
  segment,
  date_format='md',
  self=none
) %}
  {% if segment | length %}
    {% call cards.group(title) %}
      {{ list(
        segment,
        date_format,
        reverse=false if (title == 'later') else true,
        self=self
      ) }}
    {% endcall %}
  {% endif %}
{% endmacro %}

{% macro list(
  events,
  date_format='md',
  reverse=true,
  self=none
) %}
  {% if events | length %}
    {% call cards.list(reverse) %}
      {% set events = events | reverse if reverse else events %}
      {% for item in events %}
        {{ event(item, date_format, self) }}
      {% endfor %}
    {% endcall %}
  {% endif %}
{% endmacro %}

{% macro event(
  item,
  date_format='md',
  self=none
) %}
  {% set feature = item.event.feature or item.page.data.feature %}
  {% set is_self = true if (item.page.url == self) else false %}

  {% set venue_name = item.event.venue or item.page.data.venue %}
  {% set venue_url = item.event.url or item.page.data.url %}
  {% set venue = utility.link_if(venue_name, venue_url) if venue_name else none %}

  {% set title_name = item.event.title or item.page.data.title %}
  {% set url = none if is_self else item.page.url %}
  {% set title = utility.link_if(title_name, url) %}

  {% set top = venue if (venue and not is_self) else none %}
  {% set main = venue if (venue and is_self) else title %}

  {% call cards.item(feature) %}
    {{ info(
      start=item.start,
      date_format=date_format,
      venue=top
    ) }}
    {{ cards.main(main) }}
  {% endcall %}
{% endmacro %}

{% macro info(
  start,
  date_format='md',
  venue=none
) %}
  {% set item %}
    <time datetime="{{ start | getDate('iso') }}">
      {{ start | getDate(date_format) }}
    </time>
    {% if venue and not is_self %}
      @ {{ venue }}
    {% endif %}
  {% endset %}
  {{ cards.meta(item) }}
{% endmacro %}
