{% import "utility.macros.njk" as utility %}
{% import "cards.macros.njk" as cards %}

{% macro section(
  tags,
  title='all yer tags:'
) %}
  {% call cards.section(title) %}
    {% for segment in tags | groupTags(6) %}
      {{ group(segment.count, segment.tags) }}
    {% endfor %}
  {% endcall %}
{% endmacro %}

{% macro group(
  title,
  segment
) %}
  {% if segment | length %}
    {% call cards.group(title) %}
      {{ list(segment) }}
    {% endcall %}
  {% endif %}
{% endmacro %}

{% macro list(
  tags
) %}
  {% if tags | length %}
    {% call cards.list(reverse) %}
      {% for tag in tags %}
        {{ show_tag(tag) }}
      {% endfor %}
    {% endcall %}
  {% endif %}
{% endmacro %}

{% macro show_tag(
  tag
) %}
  {% set feature = false %}

  {% call cards.item(feature) %}
    {{ cards.meta(tag_meta(tag.data)) }}
    {{ cards.main(utility.tag_link(tag.tag)) }}
  {% endcall %}
{% endmacro %}

{% macro tag_meta(
  data
) %}
  e.g.
  {% set page = data | first %}
  {{ utility.link_if(page.data.title, page.url) }}
{% endmacro %}
