{# Titles #}
{% macro section_title(
  title,
  hfeed=false
) %}
  <header
    class="section-header">
    <h2 class="section-title{% if hfeed %} p-name{% endif %}">
      {{ title | typogr | safe }}
    </h2>
  </header>
{% endmacro %}

{# Tags #}
{% macro tag_link(
  tag,
  all
) -%}
  {{ link_if(
    tag | displayName,
    tag | tagLink(all),
    {'class': 'p-category'}
  ) }}
{%- endmacro %}

{% macro tag_list(
  tags,
  all,
  separator=', '
) -%}
{% set tags = tags | publicTags %}
{% if tags | length > 0 %}
  {% if (separator == 'ul') %}
    <ul>
      {%- for tag in tags -%}
        <li>
          {{ tag_link(tag, all) }}
        </li>
      {%- endfor -%}
    </ul>
  {% else %}
    {%- for tag in tags -%}
      {{ tag_link(tag, all) }}{%-if not loop.last %}{{ separator }}{% endif -%}
    {%- endfor -%}
  {% endif %}
{% endif %}
{%- endmacro -%}

{# Attributes #}
{% macro attr_if(
  attr,
  value=none
) %}
  {%- if value -%}
    {%- if (value | string | lower != 'true') -%}
      {%- set value = value | string -%}
      {%- set value = value | url if (attr == 'href') else value -%}
      {{ attr }}="{{ value }}"
    {%- else -%}
      {{ attr }}
    {%- endif -%}
  {%- endif -%}
{% endmacro %}

{% macro show_attrs(
  attrs
) %}
  {%- for attr, value in attrs %} {{ attr_if(attr, value) }}{%- endfor -%}
{% endmacro %}

{% macro style_if(
  style
) -%}
  {%- if style -%}
    style="{%- for prop, val in style -%}{{ prop }}: {{ val }};{%- endfor -%}"
  {%- endif -%}
{%- endmacro %}

{% macro link_if(
  content,
  url=none,
  attrs={}
) -%}
  {% set attrs = {'class': attrs} if attrs | typeCheck('string') else attrs %}

  {%- if url -%}
    <a
      href="{{ url | url }}"
      {{ show_attrs(attrs) }}>
      {{- content | safe -}}
    </a>
  {%- else -%}
    <span
      {{ show_attrs(attrs) }}>
      {{- content | safe -}}
    </span>
  {%- endif -%}
{%- endmacro %}

{% macro prev_next(to, is) %}
  {% if to %}
    <li>
      {{ is }}:
      {{ link_if(to.data.title | mdInline, to.url) }}
    </li>
  {% endif %}
{% endmacro %}

{% macro datetime(
  pubdate,
  start,
  end,
  format='long',
  attrs={}
) %}
  {%- set ranges = {
    'same-y': {
      'start': 'mon',
      'end': 'range'
    },
    'same-m': {
      'start': 'no-year',
      'end': 'day' if (format == 'no-year') else 'no-month'
    }
  } -%}

  {%- set ongoing = (end == 'ongoing') or (end | groupName == 'ongoing') -%}

  {% set attrs = {
    'pubdate': not not pubdate,
    'class': 'dt-published' if pubdate else none
  } | merge(attrs) %}

  <time
    datetime="{{ (pubdate or start) | date('iso') }}"
    {{ show_attrs(attrs) }}>
    {% set start_y = start | date('year') %}

    {% if ongoing %}
      since {{ start | date('range') }}
    {% elif (start and end) and (start != end) %}
      {% set start_m = start | date('month') %}
      {% set end_m = end | date('month') %}
      {% set end_y = end | date('year') %}

      {% set same = 'same-y' if (start_y == end_y) else none %}
      {% set same = 'same-m' if same and (start_m == end_m) else same %}

      {{ start | date(ranges[same].start or 'range') }}
      {{- '---' | typogr | safe -}}
      {{ end | date(ranges[same].end or 'range') }}

    {% else %}
      {% set now %}{% getDate 'year' %}{% endset %}
      {% set format = 'short' if (start_y != now) else format %}
      {{ start | date(format) }}
    {% endif %}
  </time>
{% endmacro %}
