{# Titles #}
{% macro section_title(
  title,
  hfeed=false
) %}
  <header
    class="section-header">
    <h2 class="section-title{% if hfeed %} p-name{% endif %}">
      {{ title | typogr | safe }}
    </h2>
  </header>
{% endmacro %}

{# Tags #}
{% macro tag_link(
  tag,
  all
) -%}
  {{ link_if(
    tag | displayName,
    tag | tagLink(all),
    {'class': 'p-category'}
  ) }}
{%- endmacro %}

{% macro tag_list(
  tags,
  all,
  separator=', '
) -%}
{% set tags = tags | publicTags %}
{% if tags | length > 0 %}
  {% if (separator == 'ul') %}
    <ul>
      {%- for tag in tags -%}
        <li>
          {{ tag_link(tag, all) }}
        </li>
      {%- endfor -%}
    </ul>
  {% else %}
    {%- for tag in tags -%}
      {{ tag_link(tag, all) }}{%-if not loop.last %}{{ separator }}{% endif -%}
    {%- endfor -%}
  {% endif %}
{% endif %}
{%- endmacro -%}

{# Attributes #}
{% macro attr_if(
  attr,
  value=none
) %}
  {%- if value -%}
    {%- if (value | string | lower != 'true') -%}
      {%- set value = value | string -%}
      {%- set value = value | url if (attr == 'href') else value -%}
      {{ attr }}="{{ value }}"
    {%- else -%}
      {{ attr }}
    {%- endif -%}
  {%- endif -%}
{% endmacro %}

{% macro show_attrs(
  attrs
) %}
  {%- for attr, value in attrs %} {{ attr_if(attr, value) }}{%- endfor -%}
{% endmacro %}

{% macro style_if(
  style
) -%}
  {%- set style = style | compactObject -%}
  {%- if style -%}
    style="{%- for prop, val in style -%}{{ prop }}: {{ val }};{%- endfor -%}"
  {%- endif -%}
{%- endmacro %}

{% macro link_if(
  content,
  url=none,
  attrs={}
) -%}
  {% set attrs = {'class': attrs} if attrs | typeCheck('string') else attrs %}

  {%- if url -%}
    <a
      href="{{ url | url }}"
      {{ show_attrs(attrs) }}>
      {{- content | safe -}}
    </a>
  {%- else -%}
    <span
      {{ show_attrs(attrs) }}>
      {{- content | safe -}}
    </span>
  {%- endif -%}
{%- endmacro %}

{% macro prev_next(to, is) %}
  {% if to %}
    <li>
      {{ is }}:
      {{ link_if(to.data.title | mdInline, to.url) }}
    </li>
  {% endif %}
{% endmacro %}

{% macro datetime(
  pubdate,
  start=none,
  end=none,
  format=none,
  attrs={}
) %}
  {%- set start = pubdate or start -%}
  {%- set is_range = start and end and (start != end) -%}

  {%- set human -%}
    {%- if is_range -%}
      {{ _get_range(start, end, format) }}
    {%- else -%}
      {{ start | date(format or 'long') }}
    {%- endif -%}
  {%- endset -%}

  {%- if is_range -%}
    <span class="time" {{ show_attrs(attrs) }}>{{ human | safe }}</span>
  {%- else -%}
    {%- set pub = start == pubdate -%}
    {%- set hpub = 'dt-published' if pub else none -%}
    {%- set class = [attrs.class, hpub] | join(' ') if (attrs.class and hpub) else hpub -%}
    {%- set attrs = attrs | merge({
      'datetime': start | date('iso'),
      'pubdate': pub,
      'class': class
    }) %}

    <time {{ show_attrs(attrs) }}>{{ human | safe }}</time>
  {%- endif -%}
{% endmacro %}

{% macro _get_range(start, end, format) %}
  {%- set ongoing = (end == 'ongoing') or (end | groupName == 'ongoing') -%}
  {%- set start_y = start | date('year') -%}
  {%- set default_format = 'year' if (start_y == start) else 'range' -%}

  {%- if ongoing -%}
    since {{ start | date(format or default_format) }}
  {%- else  -%}
    {%- set start_format = format -%}
    {%- set end_format = format -%}

    {%- if format != 'years' -%}
      {%- set range_formats = {
        'same-y': {
          'start': 'month',
          'end': 'range'
        },
        'same-m': {
          'start': 'no-year',
          'end': 'day' if (format == 'no-year') else 'no-month'
        }
      } -%}
      {%- set start_m = start | date('month') -%}
      {%- set end_m = end | date('month') -%}
      {%- set end_y = end | date('year') -%}

      {%- set same = 'same-y' if (start_y == end_y) else none -%}
      {%- set same = 'same-m' if same and (start_m == end_m) else same -%}


      {%- set start_format = range_formats[same].start or default_format -%}
      {%- set end_format = range_formats[same].end or default_format -%}
    {%- endif -%}

    {{ start | date(start_format) }}
    {{- '--' | typogr | safe -}}
    {{ end | date(end_format) }}
  {%- endif -%}
{% endmacro %}
