{# Titles #}
{% macro section_title(
  title,
  more=none,
  area='main-left'
) %}
  <header
    data-section="title"
    data-area="{{ area }}">
    <div data-content>
      <h2 data-title="title">
        {{ title | typogr | safe }}
      </h2>

      {% if more %}
        {{ more | typogr | safe }}
      {% endif %}
    </div>
  </header>
{% endmacro %}

{# Tags #}
{% macro tag_link(
  tag,
  class=none
) -%}
  {%- set url -%}/tags/{{ tag | slug }}/{%- endset -%}
  {{ link_if(
    tag | string,
    url | string,
    class
  ) }}
{%- endmacro %}

{% macro tag_list(
  tags,
  separator=', '
) -%}
{%- for tag in tags | publicTags -%}
  {{ tag_link(tag) }}{%-if not loop.last %}{{ separator }}{% endif -%}
{%- endfor -%}
{%- endmacro -%}

{% macro tag_filters(
  collections,
  sort=false
) %}
  {% if collections %}
    {% set all_tags = collections | sortTags if sort else collections %}
    {% for tag, data in all_tags %}
      {% if loop.index | inTopTagCount %}
        {{ tag_link(tag, loop.index) }}
      {% endif %}
    {% endfor %}
    ({{ link_if('more', '/tags/') }})
  {% endif %}
{% endmacro %}

{# Attributes #}
{% macro attr_if(
  attr,
  value=none
) %}
  {%- if value -%}
    {{- attr -}}
    {%- if (value | string | lower != 'true') -%}
      {%- set value = value | string -%}
      {%- set value = value | url if (attr == 'href') else value -%}
      ="{{ value }}"
    {%- endif -%}
  {%- endif %}
{% endmacro %}

{% macro show_attrs(
  attrs
) %}
  {%- for attr, value in attrs -%}
    {{- attr_if(attr, value) -}}
  {%- endfor -%}
{% endmacro %}

{% macro style_if(
  style
) -%}
  {%- if style -%}
    style="{%- for prop, val in style -%}{{ prop }}: {{ val }};{%- endfor -%}"
  {%- endif -%}
{%- endmacro %}

{% macro link_if(
  content,
  url=none,
  class=none
) -%}
  {%- if url -%}
    <a
      href="{{ url | url }}"
      {{ attr_if('class', class) }}>
      {{- content | safe -}}
    </a>
  {%- else -%}
    <span
      {{ attr_if('class', class) }}>
      {{- content | safe -}}
    </span>
  {%- endif -%}
{%- endmacro %}

{% macro prev_next(to, is) %}
  {% if to %}
    <div
      data-section="series-{{ is }}"
      data-area="{{ 'left' if (is == 'prev') else 'right'}}"
      data-flow="grid">
      <div
        data-area="main"
        data-content>
        {{ is }}:
        {{ link_if(to.data.title, to.url) }}
      </div>
    </div>
  {% endif %}
{% endmacro %}

