@use '../../../node_modules/accoutrement/sass/tools';

/* The bare minimum English subset, plus copyright & arrows (← ↑ → ↓) & quotes (“ ” ‘ ’) & bullet (•) */
@font-face {
  font-family: 'Recursive';
  font-style: oblique -15deg 0deg;
  font-weight: 300 1000;
  font-display: swap;
  src: url('../fonts/Recursive_VF_1.043--subset_range_english_basic.woff2')
      format('woff2 supports variations'),
    url('../fonts/Recursive_VF_1.043--subset_range_english_basic.woff2')
      format('woff2-variations');
  unicode-range: U+0020-007F, U+00A9, U+2190-2193, U+2018, U+2019, U+201C,
    U+201D, U+2022;
}
