@use '../../../node_modules/accoutrement/sass/tools';
@use '../config';

html {
  @include config.var('body');
  @include tools.font-family('static');
  accent-color: var(--action);
  color-scheme: dark light;
  font-feature-settings: 'dlig' 1, 'liga' 1;
  font-size: var(--font-size);
  font-synthesis: none;
  letter-spacing: var(--letter-spacing--user-em, 0);
  line-height: var(--line-ratio);
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  // scroll-snap-type: block;
  scroll-padding: var(--shim);
}

.fonts-loaded {
  @supports (font-variation-settings: normal) {
    @include tools.font-family('recursive');
  }
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

// hr,
// .section-header {
//   scroll-snap-align: start;
// }

// Special
// -------

summary {
  cursor: pointer;

  #{config.$focus},
  [open] & {
    color: var(--action);
  }
}

.sr-only {
  &:not(:focus):not(:active) {
    @include tools.is-hidden;
  }
}

:focus {
  @include config.focus-ring();
}

// Above/below
[data-above] {
  --show: none;
  display: var(--show);
}

[data-above='page'] {
  @include tools.above('page') {
    --show: unset;
  }
}

[data-above='medium'] {
  @include tools.above('medium') {
    --show: unset;
  }
}

[data-above='wide'] {
  @include tools.above('wide') {
    --show: unset;
  }
}
