// Type
// ====

@include import-webfonts;

html {
  @include font-family('code');
  font-size: calc(1em + 0.5vw);
  line-height: var(--line-ratio);
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  scroll-snap-type: block;
  scroll-padding: var(--double-gutter);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

h2,
h3,
h4 {
  scroll-snap-align: start;
  scroll-margin: var(--gutter);
}

// Special
// -------

summary {
  cursor: pointer;

  #{$focus},
  [open] & {
    color: var(--action);
  }
}

[data-hidden] {
  @include is-hidden;
}

// Above/below
[data-above] {
  --show: none;
  display: var(--show);
}

[data-above='page'] {
  @include above('page-break') {
    --show: unset;
  }
}

[data-above='medium'] {
  @include above('medium') {
    --show: unset;
  }
}

[data-above='wide'] {
  @include above('wide') {
    --show: unset;
  }
}
