@use '../../../node_modules/cascading-color-systems' with (
  $prime-hue: 330,
  $accent-hue: 195,
  $saturation: 80%,
  $lightness: 50%,
  $contrast: 45%,
  $fade-background: 20%,
  $fades: 0.75,
  $build: true,
);
