@mixin css {
  #message {
    --body-column: full;
    --opacity: 0.8;

    background: var(--shadow);
    font-style: italic;
    padding-inline: var(--margin);
    text-align: center;

    &:hover,
    &:focus-within {
      --opacity: 1;
    }

    p {
      margin-block: var(--shim);
      opacity: var(--opacity);
    }

    a:any-link {
      color: currentcolor;
    }
  }
}
