---
title: Speaking
sub: A mix of teaching and story-telling
index: speaking
hero:
  img: headshots/mia-smashing.jpg
  alt: |
    Miriam with a laptop and water bottle,
    wearing a bright yellow leather jacket,
    trans lightning earrings,
    and a headset mic
    while speaking at a conference.
  caption: |
    I do a lot of talking,
    on a range of different stages.
---

{% set event_groups = collections.speaking | getEvents | groupBy('tense') %}

{% for tense, event_list in event_groups %}
  {% if (tense != 'past') and event_list | length > 0 %}
    <section class="events">
      <h2>{{ hevent.titles[tense] or tense }}</h2>
      {% for item in event_list | sortEvents %}
        {% include 'part/hevent.njk' %}
      {% endfor %}
    </section>
  {% endif %}
{% endfor %}
