@use 'sass:color';
@use 'sass:meta';

@function multi-scale($color, $args...) {
  $keywords: meta.keywords($args);

  @each $setting, $amount in $keywords {
    $arg: (
      $setting: $amount,
    );
    $color: color.scale($color, $arg...);
  }

  @return $color;
}

// these are converted to custom properties
// in theme/_index.scss
$dark: darkslategray;
$darker: multi-scale(darkslategray, $blackness: 20%, $lightness: -70%);
$light: azure;
$accent-light: hotpink;
$complement-light: darkturquoise;
$accent-dark: mediumvioletred;
$complement-dark: teal;
$mark-light: color.change($accent-light, $alpha: 0.2);
$mark-dark: color.change($accent-dark, $alpha: 0.2);

@mixin light {
  --bg: var(--light);
  --text: var(--dark);
  --accent: var(--accent-dark);
  --accent-text: var(--bg);
  --complement: var(--complement-dark);
  --complement-text: var(--bg);
  --mark: var(--mark-light);
  --shadow: hsl(0deg 0% 0% / 12.5%);
  --image-brightness: 100%;
}

@mixin dark {
  --bg: var(--darker);
  --text: var(--light);
  --accent: var(--accent-light);
  --accent-text: var(--bg);
  --complement: var(--complement-light);
  --complement-text: var(--bg);
  --mark: var(--mark-dark);
  --shadow: hsl(0deg 0% 0% / 25%);
  --image-brightness: 80%;
}

@mixin theme {
  // mode configuration
  @include dark;

  @media (prefers-color-scheme: light) {
    @include light;
  }

  &[data-theme='dark'] {
    @include dark;
  }

  &[data-theme='light'] {
    @include light;
  }

  // applications
  --border: var(--complement, currentColor);
  --action: var(--accent);
  --active: var(--complement);
  --highlight: var(--accent);
  --selected: var(--complement);
  --field-bg: var(--shadow);
  --btn-bg: var(--shadow);
  --text-gradient: radial-gradient(
    farthest-corner at bottom left,
    var(--accent),
    var(--complement)
  );
}
