@mixin css {
  #summary {
    font-size: 1.4em;
  }

  #summary,
  .p-summary {
    font-style: italic;

    em {
      background: linear-gradient(
        to top,
        var(--shadow) 0.6em,
        transparent 0.6em
      );
    }
  }
}
