@supports (font-variation-settings: normal) {
  html {
    --var-serif: 'AlegreyaVariable', var(--ui-serif);
    --var-mono: 'JetBrains MonoVariable', var(--ui-mono);

    font-display: optional;
  }

  [data-type~='smallcaps'] {
    font-variant-caps: small-caps;
  }

  [data-type~='allcaps'] {
    font-variant-caps: all-small-caps;
  }

  [data-numbers='tabular'] {
    font-variant-numeric: tabular-nums;
  }

  [data-numbers='lining'] {
    font-variant-numeric: lining-nums;
  }

  [data-numbers='fractions'] {
    font-variant-numeric: diagonal-fractions;
  }
}
