@use 'colors';
@use 'sizes';
@use 'fonts';
@use 'headings';
@use 'nav';
@use 'content';
@use 'media';
@use 'erase';
@use 'swatch';
@use 'layout';

@mixin css {
  @include fonts.files;
  @include fonts.css;

  html {
    @include colors.theme;
    @include sizes.theme;

    border-block: thick solid var(--AccentColor);
  }

  @include headings.css;
  @include nav.css;
  @include content.css;
  @include media.css;
  @include erase.css;
  @include swatch.css;

  html::after {
    @include media.dim;

    background: linear-gradient(
        var(--flag-angle, to bottom right),
        powderblue 0% 20%,
        pink 20% 40%,
        white 40% 60%,
        pink 60% 80%,
        powderblue 80% 100%
      )
      no-repeat scroll;
    border-block-start: inherit;
    content: '';
    display: block;
    height: max(50vh, var(--spacer));
    margin-block-start: var(--gap, 1em);
  }
}
