@mixin css {
  #message {
    --banner-column: full;

    background-color: var(--mark);
    display: grid;
    font-style: italic;
    row-gap: var(--shim);
    grid: inherit;
    padding-block: var(--shim);

    p {
      grid-column: main;
      margin: 0;
    }

    a:any-link {
      color: currentcolor;
    }
  }
}
