@use 'tools/text';

@mixin css {
  html {
    --mark-gradient: linear-gradient(
      -85deg,
      transparent,
      var(--mark, var(--shadow)) 3% 98%,
      transparent
    );
    --mark-bg: var(--mark-gradient) no-repeat 0 100% / 100% 60%;
  }

  hr::after,
  main::after,
  footer ::before {
    @include text.fancy;
  }

  mark,
  code:not(pre *) {
    background: var(--mark-bg);
    color: var(--text);
  }
}
