---
layout: format/h-feed
title: Miriam Eric Suzanne
sub: |
  [Miriam Suzanne](/who/){.h-card .u-uid} »
  *[towards a queer world](/why/)*
eleventyExcludeFromCollections: true
eleventyComputed:
  summary: |
    {{ taglines | random | md | safe }}
---

{% set event_groups = collections.all | getEvents | groupBy('tense') %}

{% for tense, event_list in event_groups %}
  {% if (tense != 'past') and event_list | length > 0 %}
    <section class="events">
      <h2>{{ hevent.titles[tense] or tense }}</h2>
      {% for item in event_list | sortEvents(tense) %}
        {% include 'part/hevent.njk' %}
      {% endfor %}
    </section>
    <hr />
  {% endif %}
{% endfor %}

{%- set hfeed = collections._post | getPublic  -%}
{%- set hentry_heading = 'h3' -%}
{%- if hfeed | length > 0 -%}
<section class="h-feed">
  <h2 class="p-name">Recent content</h2>
  {%- for item in hfeed | sortBy('data.date') | reverse | slice(5) -%}
    {%- include 'part/hentry.njk' -%}
  {%- endfor -%}
</section>
{%- endif -%}
