{% import "utility.macros.njk" as utility %}
{% import "cards.macros.njk" as cards %}

{% macro section(
  all
) %}
  {% call cards.section('all the tags…') %}
    {% for segment in all | groupTags %}
      {%- set title -%}
        {%- if segment.group != 'top' -%}~{%- endif -%}
        {{ segment.group }}
      {%- endset -%}

      {{ group(
        title=title,
        segment=segment.tags,
        all=all
      ) }}
    {% endfor %}
  {% endcall %}
{% endmacro %}


{% macro group(
  title,
  segment,
  all
) %}
  {% if segment | length %}
    {{ cards.group(
      title=title,
      content=list(segment, all)
    ) }}
  {% endif %}
{% endmacro %}


{% macro list(
  tags,
  all
) %}
  {% for tag in tags %}
    {{ show_tag(
      tag=tag,
      all=all
    ) }}
  {% endfor %}
{% endmacro %}


{% macro show_tag(
  tag,
  all
) %}
  {{ cards.event(
    title=utility.tag_link(tag.tag, all),
    meta=tag_meta(tag.events)
  ) }}
{% endmacro %}


{% macro tag_meta(
  data
) %}
  e.g.
  {% set item = data | first %}
  {% set title = item.event.title or item.page.data.title %}
  {{ utility.link_if(
    title | mdInline,
    item.page.url
  ) }}
{% endmacro %}
