{% import "utility.macros.njk" as utility %}
{% import "cards.macros.njk" as cards %}

{% macro section(
  all
) %}
  {% call cards.section(
    title=utility.section_title('by popular demand…')
  ) %}
    {% for segment in all | groupTags %}
      {%- set title -%}
        {%- if segment.group != 'top' -%}~{%- endif -%}
        {{ segment.group }}
      {%- endset -%}
      {{ group(
        title=title,
        segment=segment.tags,
        all=all
      ) }}
    {% endfor %}
  {% endcall %}
{% endmacro %}

{% macro group(
  title,
  segment,
  all
) %}
  {% if segment | length %}
    {% call cards.group(title) %}
      {{ list(
        tags=segment,
        all=all
      ) }}
    {% endcall %}
  {% endif %}
{% endmacro %}

{% macro list(
  tags,
  all
) %}
  {% if tags | length %}
    <div data-layout="cards">
      {% for tag in tags %}
        {{ show_tag(
          tag=tag,
          all=all
        ) }}
      {% endfor %}
    </div>
  {% endif %}
{% endmacro %}

{% macro show_tag(
  tag,
  all
) %}
  <section
    data-card="item"
    {{ utility.attr_if('data-feature', item.feature) }}
  >
  <div data-card="inner">
    <h4 data-card="title">
      {{ utility.tag_link(tag.tag, all) }}
    </h4>

    <div data-card="meta">
      {{ tag_meta(tag.events) }}
    </div>
  </div>
  </section>
{% endmacro %}

{% macro tag_meta(
  data
) %}
  e.g.
  {% set item = data | first %}
  {% set title = item.event.title or item.page.data.title %}
  {{ utility.link_if(
    title | mdInline,
    item.page.url
  ) }}
{% endmacro %}
