// Buttons
// =======

[data-btn] {
  --btn-bg: #{var-color('action')};
  --btn-color: #{var-color('background')};
  --btn-hover: #{var-color('action-hover')};
  --btn-hover-color: var(--btn-color);
  background: var(--btn-bg);
  border-radius: 0.1em;
  color: var(--btn-color);
  padding: 0 size('half-shim');
  white-space: nowrap;

  #{$focus} {
    background: var(--btn-hover);
    color: var(--btn-hover-color);
  }
}

[data-btn~='flush'] {
  border-radius: 0 0.1em 0.1em 0;
}

[data-btn~='fade'] {
  --btn-bg: #{var-color('callout')};
  --btn-color: #{var-color('action')};
  --btn-hover: #{var-color('action-hover')};
  --btn-hover-color: #{var-color('background')};
}
