// Buttons
// =======

button {
  --button-background: var(--prime-fg1);
  --button-color: var(--prime-bg3);
  --button-border: var(--prime-bg2);
  @include font-family('midnight');
  background: var(--button-background);
  border-radius: var(--border-radius);
  border: var(--border) solid var(--button-border);
  color: var(--button-color);
  cursor: pointer;
  font-size: var(--font-small);
  padding: var(--half-shim) var(--shim) var(--quarter-shim);

  &:hover,
  &:focus {
    --button-background: var(--prime-fg2);
    --button-border: var(--accent);
  }

  &:active {
    --button-background: var(--accent-bg2);
    --button-color: var(--accent-fg2);
    --button-border: var(--accent-fg3);
  }

  &:disabled {
    filter: grayscale(100%);
    cursor: not-allowed;
    opacity: 0.5;
  }
}

[data-btn~='flush'] {
  border-radius: 0 0.1em 0.1em 0;
}
