// Cards
// =====

[data-layout='card-groups'] {
  margin: size('gutter') 0;
}

[data-layout='cards'] {
  align-items: start;
  display: grid;
  font-size: size('small');
  grid-gap: size('gutter-plus');
  grid-template-columns: repeat(auto-fill, minmax(size('calendar'), 1fr));
  margin: 0 size('gutter');
}

// Groups
// ------

[data-card-group] {
  display: grid;
  grid-template: 'grouper list' auto / auto minmax(0, 1fr);
  margin-bottom: size('spacer');
}

[data-cards='grouper'] {
  @include font-family('code');
  background: var-color('contrast')
    linear-gradient(to top, var-color('action-hover'), transparent 80%);
  color: var-color('background');
  font-size: size('xsmall');
  grid-area: grouper;
  padding: size('shim') 0;
  text-shadow: none;
  writing-mode: vertical-rl;

  span {
    position: sticky;
    top: size('shim');
  }
}

// Items
// -----

[data-card='item'] {
  --feature: -0.006turn;

  &:nth-child(3n),
  &:nth-last-child(7n-3) {
    --feature: 0.006turn;
  }

  &[data-feature] {
    background: pattern('feature');
    margin: negative('half-shim');
    padding: size('quarter-shim');
  }
}

[data-card='inner'] {
  [data-feature] & {
    background: var-color('background');
    border: 1px solid var-color('action');
    padding: size('shim');
    transform: rotate(var(--feature, -0.006turn));
  }
}

// Content
// -------

[data-card='title'] {
  font-style: italic;
}
