// Dropdown
// ========

[data-dropdown] {
  --push: calc(100% + var(--half-shim));
  --t: var(--push);
  --r: initial;
  --b: initial;
  --l: initial;
  background: var(--callout);
  bottom: var(--b);
  border: var(--border-width) solid var(--border);
  box-shadow: var(--box-shadow);
  display: none;
  left: var(--l);
  max-height: calc(var(--rhythm) * 2 + 40vh);
  max-width: calc(100vw - var(--gutter) * 2);
  overflow-y: auto;
  position: absolute;
  right: var(--r);
  top: var(--t);
  width: 35ch;
  z-index: 100;

  &[aria-expanded='true'],
  summary + & {
    display: block;
  }
}

[data-dropdown~='links'] {
  a {
    #{$link} {
      display: block;
      max-width: 100%;
      overflow: hidden;
      padding: var(--half-shim) var(--shim);
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    #{$focus} {
      background: var(--bg);
    }
  }
}

[data-dropdown~='pad'] {
  padding: var(--gutter);
}
