// Erase
// =====

[data-erase] {
  mark {
    background: none;
  }
}

[data-erase='on'] {
  :not(mark) {
    color: transparent;
    text-shadow: none;
  }
}

[data-toggle='erase'] {
  background: var-color('callout');
  color: var-color('text');
  display: inline-block;

  #{$focus},
  &[data-active='true'] {
    background: var-color('action-hover');
    color: var-color('background');
  }
}
