// Icons
// =======

img {
  filter: brightness(var(--img-bright, 100%));
  transition: filter time('relaxed') ease('_in-out');

  &:hover {
    --img-bright: 100%;
  }
}

.ratio {
  position: relative;

  @include before('') {
    display: inline-block;
    height: 0;
    padding-top: calc(100% / var(--ratio));
    width: 1px;
  }

  iframe {
    @include position(0 0 0 0);
    @include square(100%);
  }
}

[data-pattern='figure'] {
  background: var(--callout);
  margin: var(--gutter) calc(var(--gutter) * -1);
  padding: var(--shim) var(--gutter);
}

[data-figure='content'] {
  display: grid;
  grid-gap: var(--shim);
  grid-template-columns: [full-start] repeat(auto-fit, minmax(40%, 1fr)) [full-end];

  img,
  svg {
    width: 100%;
  }

  [style] {
    grid-column: var(--span, initial);
    width: var(--width, 100%);
  }
}

[data-figure='caption'] {
  font-size: var(--font-small);
  margin-top: var(--half-shim);
}

[data-place] {
  height: var(--height, auto);
  width: var(--width, 100%);
}
