// Icons
// =======

.ratio {
  position: relative;

  @include before('') {
    display: inline-block;
    height: 0;
    padding-top: calc(100% / var(--ratio));
    width: 1px;
  }

  iframe {
    @include position(0 0 0 0);
    @include square(100%);
  }
}

[data-pattern='figure'] {
  background: var-color('callout');
  margin: size('gutter') negative('gutter');
  padding: size('shim') size('gutter');
}

[data-figure='content'] {
  display: grid;
  grid-gap: size('shim');
  grid-template-columns: [full-start] repeat(auto-fit, minmax(40%, 1fr)) [full-end];

  img,
  svg {
    width: 100%;
  }

  [style] {
    grid-column: var(--span, initial);
    width: var(--width, 100%);
  }
}

[data-figure='caption'] {
  @include font-family('code');
  font-size: size('xsmall');
  margin-top: size('half-shim');
}

[data-place] {
  height: var(--height, auto);
  width: var(--width, 100%);
}
