// Buttons
// =======

[data-field],
[data-label],
[data-input] {
  display: block;
}

[data-field] {
  margin-bottom: var(--field-margin, var(--shim));
}

[data-label] {
  font-size: var(--font-small);
  font-style: italic;
}

[data-input] {
  --input-bg: var(--accent-bg-md-fade);
  --input-border: var(--accent-bg-sm-fade);
  --input-color: var(--prime-fg-lg-fade);
  background-color: var(--input-bg);
  border: var(--quarter-shim) solid var(--input-border);
  color: var(--input-color);
  font: inherit;
}

[data-input~='text'] {
  font-size: var(--font-small);
  padding: var(--field-padding, var(--half-shim));
  width: var(--field-width, 100%);

  &:focus {
    --input-bg: var(--accent-bg-lg-fade);
    --input-border: var(--accent);
    --input-color: var(--prime-fg-lg);
  }
}

[data-input~='area'] {
  min-height: calc(var(--gutter) * 4);
}

::placeholder {
  font-style: italic;
}
