// Buttons
// =======

.intro {
  font-size: size('intro');
  font-style: italic;
}

[data-typeset] {
  margin: size('gutter') 0;

  h2,
  h3,
  h4 {
    @include font-family('code');
    color: var-color('text-highlight');
    margin: size('double-gutter') 0 size('shim');
  }

  h2 {
    font-size: size('h2');
  }

  h3 {
    font-style: italic;
  }

  p,
  ul,
  ol,
  pre {
    margin-bottom: size('gutter');
  }

  li {
    margin-bottom: size('half-shim');
  }

  blockquote {
    @include font-family('code');
    border-left: border('quote');
    font-style: italic;
    margin: size('gutter') 0 size('gutter') negative('border');
    padding: size('shim');

    em,
    i {
      font-style: normal;
    }

    :last-child {
      margin-bottom: 0;
    }

    cite {
      font-size: size('small');
      font-style: normal;
    }
  }

  > :first-child {
    margin-top: 0;
  }
}

hr {
  &[data-divider],
  [data-typeset] & {
    @include divider;
  }
}

mark {
  background: var-color('callout');
  color: var-color('text');
}

[data-bright] {
  color: var-color('text-highlight');

  @include fancy-text {
    background: pattern('bright');
  }
}
