// Buttons
// =======

.intro {
  font-size: var(--font-large);
  font-style: italic;

  em,
  i,
  strong,
  b {
    font-style: normal;
  }
}

[data-typeset] {
  margin: var(--gutter) 0;

  h2,
  h3,
  h4 {
    color: var-color('text-highlight');
    margin: size('gutter') 0 0;
  }

  h2 {
    @include font-family('midnight');
    font-size: var(--font-large);
  }

  h3 {
    font-style: italic;
  }

  p,
  ul,
  ol,
  pre,
  blockquote {
    margin: 0 0 var(--gutter);
  }

  strong,
  b {
    @include font-family('midnight');
  }

  li {
    margin-bottom: var(--half-shim);
  }

  blockquote {
    font-style: italic;
    position: relative;

    @include before('"') {
      color: var(--accent);
      margin-right: var(--shim);
      position: absolute;
      right: 100%;
    }

    em,
    i {
      font-style: normal;
    }

    > :first-child {
      margin-top: 0;
    }

    > :last-child {
      margin-bottom: 0;
    }

    cite {
      font-size: var(--font-small);
      font-style: normal;
    }
  }
}

ul,
ol {
  padding-left: var(--list-padding, 0);

  ul,
  ol {
    --list-padding: var(--gutter);
  }
}

hr {
  &[data-divider],
  [data-typeset] & {
    @include divider;
  }
}

[data-divide='before'] {
  @include divide;
}

[data-divide='after'] {
  @include divide('after');
}

mark {
  background: var(--callout);
  color: var(--text);
}

.section-header {
  align-items: center;
  display: grid;
  grid: 'border title' auto / 1fr 1fr;
  margin: var(--spacer) 0;

  @include before('') {
    background: var(--border);
    height: var(--shim);
    margin-top: var(--half-shim);
  }
}

.section-title {
  color: var(--border);
  font-size: 1rem;
  font-style: italic;
  margin: 0;
  padding: 0 var(--gutter) 0 var(--shim);
}

[data-bright] {
  @include fancy-text;
}
