---
type: index
title: Drafts
draft: false
eleventyExcludeFromCollections: true
---

{% import "utility.macros.njk" as utility %}
{% set draft_posts = collections.all | filter('data.draft') %}

{% if draft_posts.length > 0 %}
<ul>
  {% for item in draft_posts %}
  <li>
    <strong>{{ utility.datetime(item.data.date) }}</strong> —
    <em>{{ utility.link_if(
      content=(item.data.banner or item.data.title) | mdInline,
      url=item.url
    ) }}</em>
  </li>
  {% endfor %}
</ul>
{% endif %}
