#message {
  background-color: var(--mark, var(--Highlight));
  color: var(--mark-text, var(--HighlightText));
  display: grid;
  font-style: italic;
  row-gap: var(--shim);
  grid-template-columns: inherit;
  grid-template-columns: subgrid;
  padding-block: var(--shim);

  p {
    grid-column: main;
    margin: 0;
  }

  a:any-link {
    color: currentcolor;
  }
}
