{% import "utility.macros.njk" as utility %}


{% macro list(
  data
) %}
  {% for group, list in data | groupby('group')  | dictsort | reverse %}
    {% if list | length %}
      <section data-calendar="group">
        <h2
          data-calendar="grouper"
          data-theme="invert">
          {{ group }}
        </h2>
        <ol
          data-calendar="list"
          reversed>
          {% for item in list | sort(true, false, 'date') %}
            {{ show(item) }}
          {% endfor %}
        </ol>
      </section>
    {% endif %}
  {% endfor %}
{% endmacro %}

{% macro show(
  item
) %}
  {% if item.page %}
    {{ event(
      title=utility.link_if(item.venue, item.page.url),
      date=item.date
    ) }}
  {% else %}
    {% set title = item.data.banner.title if item.data.banner else none %}
    {{ event(
      title=utility.link_if(title or item.data.title, item.url),
      date=item.date
    ) }}
  {% endif %}
{% endmacro %}

{% macro event(
  title,
  date
) %}
  <li
    data-calendar="item">
    <time data-item="date">{{ date | formatDate('url') }}</time>
    <h3 data-item="title">{{ title }}</h3>
  </li>
{% endmacro %}
