{% import "utility.macros.njk" as utility %}

{% macro section(
  events,
  title='calendar',
  filter=none,
  self=none
) %}
  {% set years = events | groupby('group') | dictsort | reverse %}

  <section
    data-area="full"
    data-flow="grid">

    {% if filter %}
      {% set filters = utility.tag_filters(filter) %}
      {{ utility.section_title('filter by…', filters) }}
    {% else %}
      {{ utility.section_title(title) }}
    {% endif %}

    <div
      data-area="full"
      data-layout="card-groups">
      {% set group_formats = {
        now: 'since'
      } %}
      {% for year, segment in years %}
        {% set date_format = group_formats[year] or 'md' %}
        {{ group(year, segment, date_format, self) }}
      {% endfor %}
    </div>
  </section>
{% endmacro %}

{% macro group(
  title,
  segment,
  date_format='md',
  self=none
) %}
  {% if segment | length %}
    <section data-cards="group">
      <h3
        data-cards="grouper"
        data-theme="invert">
        {{ title }}
      </h3>
      {{ list(
        segment,
        date_format,
        reverse=false if (title == 'later') else true,
        self=self
      ) }}
    </section>
  {% endif %}
{% endmacro %}

{% macro list(
  events,
  date_format='md',
  reverse=true,
  self=none
) %}
  {% if events | length %}
    <ol
      data-layout="cards"
      {{ utility.attr_if('reversed', reverse) }}>
      {% set events = events | reverse if reverse else events %}
      {% for item in events %}
        {{ event(item, date_format, self) }}
      {% endfor %}
    </ol>
  {% endif %}
{% endmacro %}

{% macro event(
  item,
  date_format='md',
  self=none
) %}
  {% set feature = item.event.feature or item.page.data.feature %}
  {% set is_self = true if (item.page.url == self) else false %}
  {% set venue = item.event.venue or item.page.data.venue %}
  {% set venue_url = item.event.url or item.page.data.url %}
  {% set title = item.event.title or item.page.data.title %}
  {% set url = none if is_self else item.page.url %}

  <li
    data-card="item"
    {{ utility.attr_if('data-feature', feature) }}>
    <div data-card="inner">
      <div data-card="meta">
        <time datetime="{{ item.start | formatDate('iso') }}">
          {{ item.start | formatDate(date_format) }}
        </time>

        {% if venue and not is_self %}
          @
          {{ utility.link_if(venue, venue_url) }}
        {% endif %}
      </div>

      <h4 data-card="title">
        {% if venue and is_self %}
          {{ utility.link_if(venue, venue_url) }}
        {% else %}
          {{ utility.link_if(title, url) }}
        {% endif %}
      </h4>
    </div>
  </li>
{% endmacro %}
