{% macro list(
	all,
	filter='_posts'
) %}
{% set postlist = all[filter] %}
{%- if postlist.length > 0 -%}
	<ol reversed>
		{%- for post in postlist | reverse -%}
			<li>
				<a href="{{ post.url | url }}">
					{%- if post.data.title -%}
						{{ post.data.title }}
					{%- else -%}
						<code>{{ post.url }}</code>
					{%- endif -%}
				</a>

				{% if post.data.summary %}
					<div>{{ post.data.summary | md('inline') | safe }}</div>
				{% endif %}

				<time>{{ post.date | formatDate('long') }}</time>
			</li>
		{%- endfor -%}
	</ol>
{%- endif -%}
{% endmacro %}
