{% import "utility.macros.njk" as utility %}

{% macro section(
  tags,
  title='all yer tags:'
) %}
  {{ utility.section_title(title) }}

  <div
    data-area="full"
    data-layout="card-groups">
    {% for segment in tags | groupTags %}
      {{ group(segment.count, segment.tags) }}
    {% endfor %}
  </div>
{% endmacro %}

{% macro group(
  title,
  segment
) %}
  {% if segment | length %}
    <section data-cards="group">
      <h3
        data-cards="grouper"
        data-theme="invert">
        {{ title }}
      </h3>
      {{ list(segment) }}
    </section>
  {% endif %}
{% endmacro %}

{% macro list(
  tags
) %}
  {% if tags | length %}
    <ol
      data-layout="cards">
      {% for tag in tags %}
        {{ show_tag(tag) }}
      {% endfor %}
    </ol>
  {% endif %}
{% endmacro %}

{% macro show_tag(
  tag
) %}
  {% set feature = false %}

  <li data-card="item">
    <div data-card="inner">
      <div data-card="meta">
        {{ tag_meta(tag.data) }}
      </div>
      <h2 data-card="title">
        {{ utility.tag_link(tag.tag) }}
      </h2>
    </div>
  </li>
{% endmacro %}

{% macro tag_meta(
  data
) %}
  e.g.
  {% set page = data | first %}
  {{ utility.link_if(page.data.title, page.url) }}
{% endmacro %}
