{% macro section_title(
  title,
  more=none,
  area='main-left'
) %}
  <header
    data-section="title"
    data-area="{{ area }}">
    <div data-content>
      <h2 data-title="title">
        {{ title | safe }}
      </h2>

      {% if more %}
        {{ more | safe }}
      {% endif %}
    </div>
  </header>
{% endmacro %}

{% macro tag_link(
  tag,
  class=none
) %}
  {% set url %}/tags/{{ tag | slug }}/{% endset %}
  {{ link_if(
    tag | string,
    url | string,
    class
  ) }}
{% endmacro %}

{% macro tag_filters(
  all_tags
) %}
  {% if all_tags %}
    {% for tag, data in all_tags | sortTags %}
      {% if loop.index < 6 %}
        {{ tag_link(tag) }}
      {% endif %}
    {% endfor %}
    ({{ link_if('more', '/tags/') }})
  {% endif %}
{% endmacro %}

{# Attributes #}
{% macro attr_if(
  attr,
  value=none
) %}
  {%- if value -%}
    {{- attr -}}
    {%- if (value | string | lower != 'true') -%}
      {%- set value = value | string -%}
      {%- set value = value | url if (attr == 'href') else value -%}
      ="{{ value }}"
    {%- endif -%}
  {%- endif %}
{% endmacro %}

{% macro show_attrs(
  attrs
) %}
  {%- for attr, value in attrs -%}
    {{- attr_if(attr, value) -}}
  {%- endfor -%}
{% endmacro %}

{% macro style_if(
  style
) -%}
  {%- if style -%}
    style="{%- for prop, val in style -%}{{ prop }}: {{ val }};{%- endfor -%}"
  {%- endif -%}
{%- endmacro %}

{% macro link_if(
  content,
  url=none,
  class=none
) -%}
  {%- if url -%}
    <a
      href="{{ url | url }}"
      {{ attr_if('class', class) }}>
      {{- content | safe -}}
    </a>
  {%- else -%}
    <span
      {{ attr_if('class', class) }}>
      {{- content | safe -}}
    </span>
  {%- endif -%}
{%- endmacro %}
