{# Attributes #}
{% macro attr_if(
  attr,
  value=none
) %}
  {%- if value -%}
    {{- attr -}}
    {%- if (value | string | lower != 'true') -%}
      {%- set value = value | string -%}
      {%- set value = value | url if (attr == 'href') else value -%}
      ="{{ value }}"
    {%- endif -%}
  {%- endif %}
{% endmacro %}

{% macro show_attrs(
  attrs
) %}
  {%- for attr, value in attrs -%}
    {{- attr_if(attr, value) -}}
  {%- endfor -%}
{% endmacro %}

{% macro style_if(
  style
) -%}
  {%- if style -%}
    style="{%- for prop, val in style -%}{{ prop }}: {{ val }};{%- endfor -%}"
  {%- endif -%}
{%- endmacro %}
