@use '../../../node_modules/accoutrement/sass/tools';
@use '../../../node_modules/cascading-color-systems' as ccs;

[data-ccs-colors] {
  @include ccs.colors;
  @include tools.tokens--(tools.$colors);

  // darken images in dark mode
  --img-bright: calc(90% + 10% * var(--ccs-mode));

  // feature gradient
  --feature-gradient: linear-gradient(
    to bottom right,
    var(--feature-from),
    var(--feature-to)
  );

  // flip the shadow based on the mode
  --text-shadow-off: calc(1px * var(--ccs-mode));
  --text-shadow-off-invert: calc(var(--text-shadow-off) * -1);
  --box-shadow-off: calc(var(--half-shim) * var(--ccs-mode));
  --box-shadow-off-invert: calc(var(--box-shadow-off) * -1);

  --text-shadow: var(--text-shadow-off) var(--text-shadow-off) 0 var(--shadow);
  --text-shadow-invert: var(--text-shadow-off-invert)
    var(--text-shadow-off-invert) 0 var(--shadow-invert);
  --box-shadow: var(--box-shadow-off) var(--box-shadow-off) 0 var(--shadow);
  --box-shadow-invert: var(--box-shadow-off-invert) var(--box-shadow-off-invert)
    0 var(--shadow-invert);

  // apply text shadow
  text-shadow: var(--text-shadow);
}

[data-ccs-theme] {
  --ccs-accent--theme: #{ccs.if-mode(var(--ccs-theme--1), var(--ccs-theme--2))};
}

[data-ccs-theme='mia'] {
  --ccs-theme--1: 330;
  --ccs-theme--2: 195;
  --ccs-prime--theme: #{ccs.if-mode(var(--ccs-theme--2), var(--ccs-theme--1))};
  --ccs-custom-hue: none;
}

[data-ccs-theme='today'] {
  --ccs-h--prime: calc(
    var(--ccs-mode--zero) * #{random(360)} + var(--ccs-invert--zero) * #{random(
        360
      )}
  );
  --ccs-accent--theme: calc(
    var(--ccs-invert--zero) * #{random(360)} + var(--ccs-mode--zero) * #{random(
        360
      )}
  );
  --ccs-custom-hue: none;
}

[data-ccs-theme='monochrome'] {
  --ccs-accent--theme: var(--ccs-h--prime);
}

[data-ccs-theme='contrast'] {
  --ccs-custom-hue: none;
  --ccs-custom-saturation: none;
}
