html {
  --gutter--user-c: calc(var(--gutter--user) * 1rem / 40);
  --gutter: var(--gutter--user-c, var(--gutter--config, 0.75rem));
  --gutter-plus: calc(var(--gutter) * 1.5);
  --double-gutter: calc(var(--gutter) * 2);
  --shim: calc(var(--gutter) / 2);
  --half-shim: calc(var(--shim) / 2);
  --quarter-shim: calc(var(--shim) / 4);

  --spacer: calc(var(--gutter) + 5vw);
  --double-spacer: calc(var(--double-gutter) + 8vw);

  --border-width: var(--quarter-shim);
  --border-radius: var(--half-shim);

  --font-scale--user-vw: calc(var(--font-scale--user) * 0.001vw);
  --font-scale: var(--font-scale--user-vw, 0.5vw);
  --font-size--user-px: calc(var(--font-size--user) * 0.1px);
  --font-range: var(--font-range--user, 16);
  --letter-spacing--user-em: calc(var(--letter-spacing--user) * 0.001em);

  --font-size: calc(1em + var(--font-size--user-px, 0px) + var(--font-scale));
  --font-large: calc(1rem + var(--font-scale));
  --font-headline: calc(1rem + (var(--font-scale) * var(--font-range)));
  --font-small: 0.75rem;
  --font-smaller: 0.75em;

  --line-ratio--user-c: calc(1 + var(--line-ratio--user) / 10);
  --line-ratio: var(--line-ratio--user-c, 1.4);
  --rhythm: calc(var(--line-ratio) * 1em);

  --page: 36rem;
  --double-page: calc(var(--page) * 2);
  --half-page: calc(var(--page) / 2);

  @media (min-width: 35em) {
    --gutter--config: 1rem;
  }
}
