*,
*::before,
*::after {
  all: initial;
}

#settings {
  border: thick solid red;
  display: block;
  margin: 2em;
  padding: 2em;

  &::before {
    background: maroon;
    color: white;
    content: '⚠️ Exit this way ⚠️';
    display: block;
    margin-block-end: 1em;
    padding: 1em;
  }

  button {
    all: revert;
  }
}
