[data-colors] {
  --given-mode: var(--user-mode, var(--html-mode, var(--os-mode, 1)));
  --mode: var(--given-mode, 1);
  --invert: calc(-1 * var(--mode));
}

[data-colors='invert'] {
  --mode: calc(-1 * var(--given-mode, 1));
}

[data-colors='light'] {
  --html-mode: 1;
}

[data-colors='dark'] {
  --html-mode: -1;
}
