[data-ccs-theme='pink-to-blue'] {
  --ccs-h--prime: 330;
  --ccs-accent--theme: 195;
  --ccs-custom-hue: none;
}

[data-ccs-theme='blue-to-pink'] {
  --ccs-h--prime: 195;
  --ccs-accent--theme: 330;
  --ccs-custom-hue: none;
}

[data-ccs-theme='black'] {
  --ccs-s: 0%;
  --ccs-l: 50%;
  --ccs-contrast: calc(100% * var(--offset-count));
  --ccs-custom-hue: none;
  --ccs-custom-saturation: none;
  --ccs-custom-lightness: none;
  --ccs-custom-contrast: none;
}
