[data-colors] {
  // flip the shadow based on the mode
  --text-shadow-off: calc(1px * var(--mode));
  --text-shadow-off-invert: calc(-1px * var(--mode));
  --box-shadow-off: calc(var(--half-shim) * var(--mode));
  --box-shadow-off-invert: calc(var(--half-shim) * var(--mode) * -1);

  --text-shadow: var(--text-shadow-off) var(--text-shadow-off) 0 var(--bg-full);
  --text-shadow-invert: var(--text-shadow-off-invert)
    var(--text-shadow-off-invert) 0 var(--fg-full);
  --box-shadow: var(--box-shadow-off) var(--box-shadow-off) 0 var(--bg-full);
  --box-shadow-invert: var(--box-shadow-off-invert) var(--box-shadow-off-invert)
    0 var(--fg-full);

  --feature-gradient: linear-gradient(
    to bottom right,
    var(--prime-fg1),
    var(--accent-fg1)
  );

  // color props set directly by the theme
  --bg: var(--accent-bg4);
  --overlay: hsla(var(--h-accent), var(--s-bg4), var(--l-bg4), 0.85);
  --callout: var(--accent-bg3);
  --text: var(--gray-fg3);
  --text-light: var(--gray-fg2);
  --text-highlight: var(--accent-fg3);
  --border: var(--gray);

  --action: var(--prime-fg2);
  --action-hover: var(--prime-fg3);

  background: var(--bg);
  color: var(--text);
  text-shadow: var(--text-shadow);
}
