@use '../config/patterns';
@use '../config/fonts';
@use 'sass:math';

[data-card-group] {
  border-inline-start: var(--border-width) solid var(--border);
  content-visibility: auto;
  contain-intrinsic-size: 0 5000px;
  display: flow-root;
  font-size: var(--font-small);
  margin: 0 var(--gutter);
}

// Groups
// ------

[data-cards='grouper'] {
  clip-path: polygon(
    0 0,
    100% 0,
    calc(100% - var(--shim)) 50%,
    100% 100%,
    0 100%
  );
  background: var(--feature-gradient);
  color: var(--bg);
  max-width: max-content;
  padding: 0 var(--gutter) 0 var(--shim);

  @media (min-width: 40em) {
    position: sticky;
    top: var(--shim);
    z-index: 1;
  }
}

[data-cards='group-title'] {
  margin: 0;
  text-transform: uppercase;
}

// Items
// -----

[data-card='item'] {
  display: flex;
  margin-block: var(--spacer);
  position: relative;

  &:nth-child(odd) {
    --flex: 0.5;
  }

  &:nth-child(3n),
  &:nth-last-child(7n-3) {
    --flex: 0.3;
  }

  &:nth-child(5n),
  &:nth-last-child(5n-7) {
    --flex: 0.6;
  }

  &:nth-child(7n),
  &:nth-last-child(7n-5) {
    --flex: 0.2;
  }

  // the connecting line
  &::before {
    border-block-start: var(--border-width) dotted var(--border);
    content: '';
    flex: var(--feature-flex, var(--flex, 0.4));
    margin: var(--gutter-plus) 0 0 0;
    min-width: var(--shim);
  }

  // the intersection dot
  &::after {
    background: var(--bg);
    border: var(--border-width) solid var(--border);
    border-radius: var(--gutter);
    content: '';
    height: var(--gutter);
    inset: var(--gutter) auto auto
      calc((var(--shim) + (var(--border-width) / 2)) * -1);
    position: absolute;
    width: var(--gutter);
  }

  &[data-feature] {
    --feature-flex: calc(var(--flex) + 0.2);

    &::before {
      border-top: var(--border-width) solid var(--feature-from);
    }

    &::after {
      background: var(--feature-gradient);
      border-color: var(--bg);
    }
  }
}

[data-card='inner'] {
  background: var(--overlay);
  border: var(--border-width) solid var(--callout);
  max-width: clamp(45ch, 50vw, 60ch);
  padding: var(--gutter);

  [data-feature] & {
    border-style: solid;
    border-color: var(--feature-from) var(--feature-to) var(--feature-to)
      var(--feature-from);
  }
}

// Content
// -------

[data-meta='card'] {
  em {
    @include fonts.var('fun' 'italic');
    color: var(--text-highlight);
  }
}

[data-card='title'] {
  line-height: var(--rhythm);
  margin: 0;

  [data-old] & {
    @include fonts.var('italic');
  }
}

[data-card='summary'] {
  @include fonts.var('italic');
  color: var(--text-light);
}

// Extra bits
// ----------

[data-old] {
  &:not([data-feature]) {
    --link-color: var(--text-light);
    color: var(--text-light);
  }
}

.everything-link {
  background-color: var(--callout);
  display: block;
  margin: var(--gutter) var(--spacer);
  padding: var(--gutter);
  text-align: center;
}
