@use '../config/actions';

[data-anchor] {
  --top: var(--push, 100%);
  --right: initial;
  --bottom: initial;
  --left: initial;
  position: relative;
}

[data-anchor~='left'] {
  --left: 0;
}

[data-anchor~='right'] {
  --right: 0;
}

[data-dropdown] {
  background: var(--callout);
  bottom: var(--bottom, auto);
  border: var(--border-width) solid var(--border);
  box-shadow: var(--box-shadow);
  display: none;
  left: var(--left, auto);
  max-height: 80vh;
  max-height: 80svh;
  max-width: calc(100vw - var(--gutter) * 2);
  min-width: min-content;
  overflow-y: auto;
  position: absolute;
  right: var(--right, auto);
  top: var(--top, auto);
  width: 35ch;
  z-index: 100;

  &[aria-expanded='true'],
  summary + & {
    display: block;
  }
}

[data-anchor][open] summary {
  z-index: 10;

  &::before {
    position: fixed;
    inset: 0;
    content: '';
    cursor: default;
    display: block;
    z-index: 1;
  }
}

[data-dropdown~='links'] {
  a {
    #{actions.$link} {
      display: block;
      max-width: 100%;
      overflow: hidden;
      padding: var(--half-shim) var(--shim);
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    #{actions.$focus} {
      background: var(--bg);
    }
  }
}

[data-dropdown~='pad'] {
  padding: var(--gutter);
}
