// Erase
// =====

[data-erase] {
  mark {
    background: none;
    color: var(--text);
  }
}

[data-erase='on'] {
  :not(mark):not([data-toggle]) {
    color: transparent;
    text-shadow: none;
  }
}
