img {
  --img-filter-bright: brightness(var(--img-bright, 100%));
  filter: var(--img-filter, var(--img-filter-bright));
  transition: filter 200ms ease;

  &:hover {
    --img-bright: 100%;
  }
}

.ratio {
  position: relative;

  &::before {
    content: '';
    display: inline-block;
    height: 0;
    padding-top: calc(100% / var(--ratio));
    width: 1px;
  }

  iframe {
    height: 100%;
    inset: 0;
    position: absolute;
    width: 100%;
  }
}

[data-pattern='figure'] {
  --main-column: pull;
  background: var(--callout);
  margin: var(--gutter) 0;
  padding: var(--gutter);

  [data-meta='page'] + & {
    --main-column: unset;
    margin-top: 0;
  }
}

[data-figure='content'] {
  display: grid;
  grid-gap: var(--shim);
  grid-template-columns:
    [full-start] repeat(auto-fit, minmax(min(12em + 2vw, 100%), 1fr))
    [full-end];

  img,
  svg {
    width: 100%;
  }

  > [style] {
    grid-column: var(--span, initial);
    width: var(--width, 100%);
  }
}

[data-figure='caption'] {
  font-size: var(--font-small);
  margin-top: var(--half-shim);
}

[data-place] {
  height: var(--height, auto);
  width: var(--width, 100%);
}
