@use 'sass:math';

.home-cards {
  --main-column: full;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(45ch, 100%), 1fr));
  gap: var(--half-shim);
  justify-content: center;
  justify-items: center;
  margin: var(--gutter);
}

[data-home] {
  --rotate: calc(var(--amt, 2deg) * var(--dir, -1));
  background: var(--overlay);
  border: thin solid var(--border-light);
  box-shadow: var(--box-shadow);
  display: grid;
  grid-template: 'content' 1fr / 100%;
  margin: 0;
  max-width: var(60ch);
  padding: var(--shim);
  place-content: center;
  position: relative;
  transform: rotate(var(--rotate)) scale(var(--scale, 1));
  transition: transform 150ms ease-out;
  width: 100%;

  @for $i from 1 through 6 {
    &:nth-child(3n + #{$i}),
    &:nth-child(5n + #{$i}) {
      --amt: #{math.random(6) * 0.25deg + math.random(6) * 0.5deg};
    }
    &:nth-child(5n + #{$i}),
    &:nth-child(7n + #{$i}) {
      --dir: #{if($i % 2 == 0, 1, -1)};
    }
  }

  .sr-only {
    position: absolute;
  }
}

[data-home='logo'],
[data-home='image'] {
  place-items: center;
}
