svg {
  fill: currentColor;
}

[data-media] {
  align-items: var(--align, stretch);
  display: grid;
  grid-template-columns: var(--spacer) 1fr;
  grid-gap: var(--gutter);
}

[data-svg='fancy'] {
  min-height: 100%;
  overflow: hidden;
  position: fixed;
  inset: 0;
  z-index: -1;
}
