@use '../config/fonts';

[data-section='mentions'] {
  --face-pile: calc(var(--gutter) * 3);
  content-visibility: auto;
  contain-intrinsic-size: 0 500px;
  display: grid;
  grid-template-columns:
    minmax(var(--gutter), 1fr)
    [hero-start] minmax(0, 1fr)
    [pull-start] minmax(0, var(--pull-max, 1fr))
    [main-start] minmax(min-content, var(--page))
    [main-end] minmax(0, 0.5fr)
    [hero-end pull-end] minmax(var(--gutter), 1fr);

  > * {
    grid-column: var(--main-column, main);
  }

  @media (min-width: 45em) {
    --pull-max: var(--spacer);
    grid-column-gap: var(--gutter);
  }
}

.webmentions-facepile {
  --face-overlap: var(--shim);
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin-block-end: var(--double-gutter);

  span:last-child {
    margin-block-start: var(--face-overlap);
    margin-inline-start: var(--face-overlap);
    padding: var(--half-shim) var(--shim);
  }
}

.webmentions-face {
  border-radius: 50%;
  width: var(--face-pile);
  height: var(--face-pile);
  object-fit: cover;
}

.facepile-url {
  background-color: var(--bg);
  border: thin solid var(--border);
  border-radius: 50%;
  flex: none;
  margin-inline-end: calc(var(--face-overlap) * -1);
  margin-block-end: calc(var(--face-overlap) * -1);
  position: relative;

  &:hover {
    --emoji: 1;
    border-color: currentColor;
    transform: scale(1.1);
    transition: transform 150ms ease-out;
    z-index: 2;
  }

  &::after {
    background-color: var(--overlay);
    border-radius: 50%;
    content: var(--like, '') var(--mention, '') var(--repost, '');
    display: grid;
    height: 100%;
    inset: 0;
    place-content: center;
    opacity: var(--emoji, 0);
    position: absolute;
  }

  &[data-mention~='mention-of'],
  &[data-mention~='in-reply-to'] {
    --mention: '💬';
  }

  &[data-mention~='like-of'],
  &[data-mention~='bookmark-of'] {
    --like: '❤️';
  }

  &[data-mention~='repost-of'] {
    --repost: '🔁';
  }
}

/* Single Webmention */
.webmention {
  --main-column: pull / main;
  --align: start;
  margin-block-end: var(--gutter);

  .dt-published {
    @include fonts.var('italic');
    color: var(--text-light);
    font-size: var(--font-small);
  }
}

.webmention-media {
  --media-size: var(--spacer);
}

.webmention-author {
  @include fonts.var('bold');
  margin-block: var(--gutter) 0;
}

.webmention-author-photo {
  border: thin solid var(--border);
  border-radius: 50%;
  object-fit: cover;
}

.webmention-content {
  margin-block-start: var(--gutter);
  overflow-wrap: break-word;
}
