@use '../config/fonts';

[data-orgs='section'] {
  content-visibility: auto;
  contain-intrinsic-size: 0 1000px;
  grid-row-gap: var(--gutter);
  margin-bottom: var(--spacer);
}

[data-orgs='list'] {
  --template: 'date title' auto 'sub sub' auto / auto 1fr;
  background: radial-gradient(
    ellipse at center,
    var(--overlay),
    transparent 75%
  );
  display: grid;
  grid-template: var(--template);
  grid-gap: var(--gutter);
  padding: 0 var(--gutter);

  @media (min-width: 50em) {
    --template: 'date title' auto '. sub' auto / 1fr 1fr;
  }
}

[data-orgs='item'] {
  align-items: baseline;
  display: grid;
  grid-column: 1 / -1;
  grid-template: var(--template);
  grid-template: subgrid;
  grid-column-gap: var(--shim);
}

[data-meta] {
  font-size: var(--font-small);
}

[data-meta='org-date'] {
  text-align: right;
  grid-area: date;
}

[data-title='orgs'] {
  grid-area: title;
  margin: 0;
}

[data-meta='org-sub'] {
  @include fonts.var('italic');
  grid-area: sub;
}
