@use '../config/fonts';

table {
  width: 100%;
}

th,
td {
  padding: var(
    --cell-padding,
    var(--cell-padding-block, var(--half-shim))
      var(--cell-padding-inline, var(--shim))
  );
  text-align: var(--cell-align, left);
}

th {
  @include fonts.var('bold');
}

[data-cell~='num'] {
  --cell-align: right;
}
