@use '../config/patterns';
@use '../config/fonts';

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
}

p:empty {
  display: none;
}

b,
strong {
  @include fonts.var('bold' 'fun');
  color: var(--text-highlight);
}

i,
cite,
em,
var,
dfn {
  @include fonts.var('italic');
}

.intro {
  @include fonts.var('fun' 'italic');
  font-size: var(--font-large);
  margin-bottom: var(--double-gutter);

  em,
  i,
  b {
    @include fonts.var('body');
  }
}

[data-typeset] {
  margin: var(--gutter) 0;

  h2,
  h3,
  h4 {
    color: var(--text-highlight);
    margin: var(--gutter) 0 0;
  }

  h2 {
    @include fonts.var('extra');
    font-size: var(--font-large);
  }

  h3 {
    @include fonts.var('bold' 'fun');
  }

  p,
  ul,
  ol,
  pre,
  table,
  blockquote {
    margin: 0 0 var(--gutter);
  }

  li {
    margin-bottom: var(--half-shim);
  }

  blockquote {
    @include fonts.var('italic' 'fun');
    position: relative;

    &::before {
      @include fonts.var('extra');
      color: var(--ccs-accent);
      content: '"';
      margin-right: var(--shim);
      position: absolute;
      right: 100%;
    }

    em,
    i {
      font-style: normal;
    }

    > :first-child {
      margin-top: 0;
    }

    > :last-child {
      margin-bottom: 0;
    }

    cite {
      @include fonts.var('body');
      font-size: var(--font-small);
    }
  }
}

ul,
ol {
  padding-left: var(--list-padding, 0);

  ul,
  ol {
    --list-padding: var(--gutter);
  }
}

hr {
  &[data-divider],
  [data-typeset] & {
    @include patterns.divider;
  }
}

[data-divide='before'] {
  @include patterns.divide;
}

[data-divide='after'] {
  @include patterns.divide('after');
}

pre,
code,
tt {
  @include fonts.font-family(fonts.$mono);

  @supports (font-variation-settings: normal) {
    .fonts-loaded & {
      @include fonts.font-family(fonts.$recursive);
      @include fonts.var('code');
    }
  }
}

code:not(pre *),
mark {
  background: var(--callout);
  color: var(--text);
}

.section-header {
  align-items: center;
  display: grid;
  grid: 'border title' auto / 1fr 1fr;
  grid-column: 1 / -1;
  margin: var(--spacer) 0;

  &::before {
    background: var(--border);
    content: '';
    height: var(--shim);
    margin-top: var(--half-shim);
  }
}

.section-title {
  @include fonts.var('italic');
  color: var(--border);
  font-size: 1rem;
  margin: 0;
  padding: 0 var(--gutter) 0 var(--shim);
}

[data-bright] {
  @include patterns.fancy-text;
}

[data-typeset='script'] {
  strong {
    @include fonts.var('extra' 'fun', false);
  }
}
