<!doctype html>
<html lang="en" data-theme="auto" data-css="all" id="miriam-codes">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ title if (page.url == '/') else [title, site.title] | join(' | ') }}</title>
  <meta name="description" content="{{ description }}" />
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">

  {%- include "head/redirect.njk" -%}
  {%- include "head/theme.njk" -%}
  {%- include "head/styles.njk" -%}
  {%- include "head/preload.njk" -%}
  {%- include 'head/og.njk' -%}
  {%- include 'head/feed.njk' -%}
  {%- include 'head/auth.njk' -%}
</head>

{%- import 'utility.macros.njk' as utility -%}

<body {{ utility.show_attrs(attrs.body) }}>
  <a href="#main" class="visually-hidden">skip to content</a>

  {% include 'site/message.njk' %}
  {% include 'site/nav.njk' %}

  {%- set main_attrs = {
    'id': 'main',
    'data-erase': 'off' if erasure else none
  } | merge(attrs.main) -%}

  <main {{ utility.show_attrs(main_attrs) }}>
    {{ content | safe }}
    {% include 'page/links.njk' %}
  </main>

  {% include 'site/footer.njk' %}

  {% set scripts = meta.scripts | concat(scripts) if scripts else meta.scripts %}
  {% for url in scripts %}
    {% set url = url if '://' in url | string else ['/assets/js/', url] | join %}
    <script src="{{ url | url }}"></script>
  {% endfor %}
</body>
</html>
