<!doctype html>
<html lang="en" data-theme="auto" data-css="all" id="miriam-codes">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ title if (page.url == '/') else [title, site.title] | join(' | ') }}</title>
  <meta name="description" content="{{ description }}" />
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <meta name="color-scheme" content="dark light">

  {%- for theme, color in site.theme -%}
    <meta name="theme-color" media="(prefers-color-scheme: {{ theme }})" content="{{ color }}">
  {%- endfor -%}

  {%- set styles = site.styles | concat(styles) if styles else site.styles -%}
  {%- for link in styles | selectattr('url') -%}
    {%- set url = link.url if '://' in link.url | string else ['/css/', link.url] | join -%}
    {%- set rel = 'alternate stylesheet' if link.alt else 'stylesheet' -%}
    <link rel="{{ rel }}" href="{{ url }}" {% if link.title %}title="{{ link.title }}"{% endif %} />
  {%- endfor -%}

  {%- include 'site/og.njk' -%}
  {%- include 'site/feed.njk' -%}
  {%- include 'site/auth.njk' -%}
</head>

{%- import 'utility.macros.njk' as utility -%}

<body {{ utility.show_attrs(attrs.body) }}>
  <a href="#main" class="visually-hidden">skip to content</a>

  {% if draft %}
    {% set input_path = (page.inputPath or '') | replace('./', '') %}
    <a href="{{ [site.source.repo, site.source.branch, input_path] | join }}" class="edit-draft">
      Edit this draft on GitHub
    </a>
  {% endif %}

  {% if message %}
    <div id="message">
      {{ message | md | safe }}
    </div>
  {% endif %}

  {% include 'site/nav.njk' %}
  {% include 'site/tags.njk' %}

  <main id="main" {% if erasure %}data-erase="off"{% endif %} {{ utility.show_attrs(attrs.main) }}>
    {{ content | safe }}
  </main>

  {% include 'site/settings.njk' %}
  {% include 'site/footer.njk' %}

  <a href="{{ page.url | url }}" class="u-url" hidden></a>

  {% set scripts = site.scripts | concat(scripts) if scripts else site.scripts %}
  {% for url in scripts %}
    {% set url = url if '://' in url | string else ['/assets/js/', url] | join %}
    <script type="text/javascript" src="{{ url | url }}"></script>
  {% endfor %}
</body>
</html>
