{%- import 'utility.macros.njk' as utility -%}
{%- import 'site/macros.njk' as show -%}
{%- import 'events/macros.njk' as cal -%}
<!doctype html>
<html lang="en" data-theme="{{ site.themes[0] }}">
	{%- set meta_title = renderData.title or title -%}
	{%- set desc = sub or summary or content or none -%}
	{%- set desc = desc | mdInline | striptags | truncate | replace('&nbsp;', ' ') | replace('&amp;', '&') if desc else desc -%}
	{%- set meta_desc = description or desc or site.description -%}
	{%- set full_title = banner or meta_title -%}
	<head>
		<meta charset="utf-8" />
		<meta name="viewport"
      content="width=device-width, initial-scale=1.0" />

    <title>{{ [meta_title, site.title] | join(' | ') }}</title>
    <meta name="description"
      content="{{ meta_desc }}" />

		{% set elsewhere = '_elsewhere' in tags %}
		{% set full_url = (site.url + page.url) %}
		{% set canon = url if elsewhere else full_url %}
		<link rel="canonical"
			href="{{ canon | url }}">

		<script src="https://use.typekit.net/slx1xnq.js"></script>
		<script>try{Typekit.load({ async: true });}catch(e){}</script>

		{% for url in site.styles %}
			<link rel="stylesheet"
				href="/assets/css/{{ url }}" />
		{% endfor %}

    {% include 'site/og.njk' %}
    {% include 'site/feed.njk' %}
	</head>

	<body
		data-layout="body"
		data-area="full"
		data-flow="grid">
		{% include 'site/banner.njk' %}
		{% include 'site/nav.njk' %}
		{% include 'site/hero.njk' %}

    {% if content and not hide_content %}
      {{ show.main(content, section, erasure) }}
    {% endif %}

		{% include 'site/series.njk' %}
		{% include 'site/calendar.njk' %}
		{% include 'site/footer.njk' %}

		<script type="text/javascript" src="https://unpkg.com/lunr/lunr.js"></script>
		<script type="text/javascript">
			{% if erasure %}
				{% include "js/erase.js" %}
			{% endif %}
			{% include "js/search.js" %}
			{% include "js/theme.js" %}
		</script>

		<!-- Current page: {{ page.url | url }} -->
	</body>
</html>
