<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ site.title }}</title>
  <subtitle>{{ site.description }}</subtitle>
  <link href="{{ site.url }}/{{ permalink }}" rel="self"/>
  <link href="{{ site.url }}/"/>
  <updated>{{ collections._post | rssLatest }}</updated>
  <id>{{ site.url }}/</id>
  <author>
    <name>{{ site.author }}</name>
    <email>{{ site.email }}</email>
  </author>
  {%- for post in collections._post | getPublic %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ site.url }}{{ post.url }}"/>
    <updated>{{ post | rssDate }}</updated>
    <id>{{ site.url }}{{ post.url }}</id>
    <content type="html">
      {% if post.data.hero %}
        &lt;img src=&quot;{{ post.data.hero.img }}&quot; alt=&quot;{{ post.data.hero.alt }}&quot;&gt;
      {% endif %}
      {{ post.templateContent }}
    </content>
  </entry>
  {%- endfor %}
</feed>
