{%- import 'site/macros.njk' as show -%}
{%- import "feed.macros.njk" as feed -%}
{%- set posts = collections._post | getPublic | reverse -%}
<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
>
   <channel>
      <title>{{ site.title }}</title>
      <link>{{ site.url | url }}</link>
      <atom:link href="{{ page.url | absoluteUrl(site.url) }}" rel="self" type="application/rss+xml" />
      <description>{{ site.description }}</description>
      <language>en-us</language>
      <pubDate>{{ posts[0].date | getDate }}</pubDate>
      <lastBuildDate>{{ none | getDate }}</lastBuildDate>
      <docs>http://blogs.law.harvard.edu/tech/rss</docs>
      <sy:updatePeriod>hourly</sy:updatePeriod>
      <sy:updateFrequency>1</sy:updateFrequency>
      <generator>Eleventy</generator>
      <image>
        <url>{{ '/favicon.svg' | absoluteUrl(site.url) }}</url>
        <title>Curly italic ampersand</title>
        <link>{{ site.url | url }}</link>
        <width>88</width>
        <height>88</height>
      </image>
      {%- for post in posts -%}
      {%- if post.templateContent or post.data.summary -%}
      {%- set absolutePostUrl = post.url | absoluteUrl(site.url) -%}
      {%- set post_summary = post.data.summary | mdInline if post.data.summary else none -%}
      {%- set post_content = feed.entry(post, site) -%}
      {%- set mentions = webmentions | mentionsForUrl(absoluteUrl) | webMentions | length -%}
      <item>
        <title>{{ post.data.title or site.data.banner | mdInline(false) | striptags }}</title>
        <link>{{ absolutePostUrl }}</link>
        <guid>{{ absolutePostUrl }}</guid>
        <pubDate>{{ post.date | getDate }}</pubDate>
        <comments>{{ [absolutePostUrl, 'webmentions'] | join('#') }}</comments>
        <slash:comments>{{ mentions }}</slash:comments>
        <dc:creator>{{ post.author or site.author }}</dc:creator>

        <description><![CDATA[{{
          (post_summary or post_content) | htmlToAbsoluteUrls(absolutePostUrl) | safe
        }}]]></description>

        {%- if post_summary %}
        <content:encoded><![CDATA[{{
          post_content | htmlToAbsoluteUrls(absolutePostUrl) | safe
        }}]]></content:encoded>
        {%- endif %}

        {%- for tag in post.data.tags | publicTags %}
        <category>{{ tag }}</category>
        {%- endfor %}
      </item>
      {% endif %}
      {%- endfor %}
   </channel>
</rss>
