<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ site.title }}</title>
  <subtitle>{{ site.description }}</subtitle>
  <link href="{{ page.url | absoluteUrl(site.url) }}" rel="self"/>
  <link href="{{ site.url }}"/>
  <icon>{{ '/favicon.svg' | absoluteUrl(site.url) }}</icon>
  <logo>{{ '/favicon.svg' | absoluteUrl(site.url) }}</logo>
  <updated>{{ (collections._post | getPublic | reverse)[0].date.toISOString() }}</updated>
  <id>{{ site.url }}</id>
  <author>
    <name>{{ site.author }}</name>
    <email>{{ site.email }}</email>
  </author>
  {%- for post in collections._post | getPublic | reverse -%}
  {%- if post.templateContent or post.data.summary -%}
  {%- set absolutePostUrl = post.url | absoluteUrl(site.url) -%}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ absolutePostUrl }}"/>
    <updated>{{ post.date.toISOString() }}</updated>
    <id>{{ absolutePostUrl }}</id>
    {%- if post.templateContent %}
    <content type="html">
      {% if post.data.hero.img -%}
      {%- filter escape -%}
      <img src="{{ (site.images + post.data.hero.img) | absoluteUrl(site.url) }}" alt="{{ post.data.hero.alt }}"/>
      {%- endfilter -%}
      {%- endif %}
      {{- (post.data.sub | md if post.data.sub else '') | htmlToAbsoluteUrls(absolutePostUrl) -}}
      {{- (post.data.summary | md if post.data.summary else '') | htmlToAbsoluteUrls(absolutePostUrl) -}}
      {{- post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) -}}
    </content>
    {%- elif post.data.summary %}
    <summary type="html">{{ post.data.summary | md | htmlToAbsoluteUrls(absolutePostUrl) }}</summary>
    {%- endif %}
  </entry>
  {%- endif %}
  {%- endfor %}
</feed>
