{% extends "layouts/base.njk" %}
{% import "tags/macros.njk" as tag %}
{% import 'site/macros.njk' as show %}

{% block main %}
	{{ show.main(
    tag.section(collections),
    page=false
  ) }}
{% endblock %}

{% block calendar %}{% endblock %}
