<form
  name="contact"
  method="POST"
  netlify-honeypot="subject"
  data-netlify="true">
  <label data-field="name">
    <span data-label>Name:</span>
    <input data-input="text" type="text" name="name" />
  </label>
  <label data-field="email">
    <span data-label>Email:</span>
    <input data-input="text" type="email" name="email" />
  </label>
  <label data-field="message">
    <span data-label>Message:</span>
    <textarea data-input="text area" name="message"></textarea>
  </label>
  <label hidden>
    <span>Don't fill out this field:</span>
    <input name="subject" />
  </label>
  <div data-actions>
    <button data-btn="submit" type="submit">Send</button>
  </div>
</form>
