@mixin css {
  figure {
    display: grid;
    gap: var(--gap, 1em);

    > div {
      display: grid;
      gap: var(--gap, 1em);

      @media (min-width: 35em) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
      }
    }

    img,
    video,
    audio,
    iframe,
    picture,
    svg {
      width: var(--media-width, 100%);
      height: var(--media-height, auto);
    }

    figcaption,
    :only-child {
      grid-column: 1 / -1;
    }
  }

  figcaption {
    font-style: italic;

    > * {
      margin: 0;
    }
  }
}
