@mixin css {
  figure {
    display: grid;
    gap: var(--gap, 1em);

    > div {
      display: grid;
      gap: var(--gap, 1em);

      @media (min-width: 35em) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
      }
    }

    figcaption,
    :only-child {
      grid-column: 1 / -1;
    }

    svg {
      width: 100%;
      height: auto;
    }
  }

  figcaption {
    font-style: italic;

    > * {
      margin: 0;
    }
  }
}
