@mixin css {
  figure {
    display: grid;
    gap: var(--gap, 1em);

    svg {
      width: 100%;
      height: auto;
    }
  }

  figcaption {
    font-style: italic;

    > * {
      margin: 0;
    }
  }

  [style*='--ratio:'] {
    aspect-ratio: auto var(--ratio, 16 / #{9});
    display: grid;
    place-items: stretch;
  }

  // @@temp
  [data-figure='content'] {
    display: contents;
  }
}
