@mixin css {
  .measure {
    max-width: var(--measure, 70ch);
  }

  // headers
  header {
    margin-block: var(--spacer, 2em);

    > * {
      margin-block: 0;
    }
  }

  // lists
  ul,
  ol {
    padding-inline-start: calc(var(--outset, 0) + var(--gap, 1em));
  }

  li {
    --outset: 0;
  }

  // block
  blockquote {
    border-inline-start: thick solid var(--border, var(--AccentColor));
    margin-inline: 0;
    padding-inline: var(--gap, 1em);
  }

  details,
  figure,
  pre {
    background-color: var(--shadow, hsl(0deg 0 0 / #{0.125}));
    margin-inline: var(--outset, 0);
    padding: var(--gap, 1em);

    > * {
      --outset: 0;
    }
  }

  pre code {
    display: block;
    overflow: auto;
  }

  summary {
    font-weight: bold;
  }

  hr {
    border-color: var(--border, currentColor);
    margin: var(--spacer, 2em) var(--outset, 0);
  }

  // inline
  tt,
  code,
  kbd,
  samp {
    font-family: var(--font-code, var(--var-mono, var(--ui-mono)));
  }

  ::selection {
    background-color: var(--SelectedItem);
    color: var(--SelectedItemText);
  }

  mark {
    background-color: var(--Highlight);
    color: var(--HighlightText);
  }
}
