@mixin hr($place) {
  &::#{$place} {
    content: var(--hr);
    display: block;
    margin-block: var(--spacer);
    text-align: center;
  }
}

@mixin css {
  html {
    --margin: var(--gap, 1em);
    --inset: var(--gap, 1em);
    --outset: 0px;

    @media (min-width: 40em) {
      --margin: var(--spacer, 2em);
      --outset: calc(var(--inset) * -1);
    }
  }

  main {
    border: 0;
    margin-block: 0;

    @include hr('after');

    section:where(:not(#summary)) {
      @include hr('before');
    }
  }

  #summary {
    @include hr('after');
  }

  #page-header {
    margin-block: var(--spacer);
  }

  footer > * + * {
    @include hr('before');
  }

  [data-options='theme'] {
    --display-init: block;
  }
}
