/* show the colors */
.palette {
  background: linear-gradient(
      45deg,
      var(--gray-fg43) 25%,
      transparent 25% 75%,
      var(--gray-fg43) 75%
    ),
    linear-gradient(
        45deg,
        var(--gray-fg43) 25%,
        transparent 25% 75%,
        var(--gray-fg43) 75%
      )
      var(--gray-bg4);
  background-size: 1em 1em;
  background-position: 0 0, 0.5em 0.5em;
  border: 2px solid var(--fg-full);
  margin: 1em 0;

  h2 {
    font: inherit;
    margin: 0;
  }
}

[style*='--show'] {
  --stop: calc(100% / (var(--offset-count) * 2 + 1));
  --accent-palette-main: linear-gradient(
    to right,
    var(--accent-bg4) calc(var(--stop) * 1),
    var(--accent-bg3) calc(var(--stop) * 1) calc(var(--stop) * 2),
    var(--accent-bg2) calc(var(--stop) * 2) calc(var(--stop) * 3),
    var(--accent-bg1) calc(var(--stop) * 3) calc(var(--stop) * 4),
    var(--accent) calc(var(--stop) * 4) calc(var(--stop) * 5),
    var(--accent-fg1) calc(var(--stop) * 5) calc(var(--stop) * 6),
    var(--accent-fg2) calc(var(--stop) * 6) calc(var(--stop) * 7),
    var(--accent-fg3) calc(var(--stop) * 7) calc(var(--stop) * 8),
    var(--accent-fg4) calc(var(--stop) * 8)
  );
  --accent-palette-fade: linear-gradient(
    to right,
    var(--accent-bg4-fade) calc(var(--stop) * 1),
    var(--accent-bg3-fade) calc(var(--stop) * 1) calc(var(--stop) * 2),
    var(--accent-bg2-fade) calc(var(--stop) * 2) calc(var(--stop) * 3),
    var(--accent-bg1-fade) calc(var(--stop) * 3) calc(var(--stop) * 4),
    var(--accent-fade) calc(var(--stop) * 4) calc(var(--stop) * 5),
    var(--accent-fg1-fade) calc(var(--stop) * 5) calc(var(--stop) * 6),
    var(--accent-fg2-fade) calc(var(--stop) * 6) calc(var(--stop) * 7),
    var(--accent-fg3-fade) calc(var(--stop) * 7) calc(var(--stop) * 8),
    var(--accent-fg4-fade) calc(var(--stop) * 8)
  );
  --prime-palette-main: linear-gradient(
    to right,
    var(--prime-bg4) calc(var(--stop) * 1),
    var(--prime-bg3) calc(var(--stop) * 1) calc(var(--stop) * 2),
    var(--prime-bg2) calc(var(--stop) * 2) calc(var(--stop) * 3),
    var(--prime-bg1) calc(var(--stop) * 3) calc(var(--stop) * 4),
    var(--prime) calc(var(--stop) * 4) calc(var(--stop) * 5),
    var(--prime-fg1) calc(var(--stop) * 5) calc(var(--stop) * 6),
    var(--prime-fg2) calc(var(--stop) * 6) calc(var(--stop) * 7),
    var(--prime-fg3) calc(var(--stop) * 7) calc(var(--stop) * 8),
    var(--prime-fg4) calc(var(--stop) * 8)
  );
  --prime-palette-fade: linear-gradient(
    to right,
    var(--prime-bg4-fade) calc(var(--stop) * 1),
    var(--prime-bg3-fade) calc(var(--stop) * 1) calc(var(--stop) * 2),
    var(--prime-bg2-fade) calc(var(--stop) * 2) calc(var(--stop) * 3),
    var(--prime-bg1-fade) calc(var(--stop) * 3) calc(var(--stop) * 4),
    var(--prime-fade) calc(var(--stop) * 4) calc(var(--stop) * 5),
    var(--prime-fg1-fade) calc(var(--stop) * 5) calc(var(--stop) * 6),
    var(--prime-fg2-fade) calc(var(--stop) * 6) calc(var(--stop) * 7),
    var(--prime-fg3-fade) calc(var(--stop) * 7) calc(var(--stop) * 8),
    var(--prime-fg4-fade) calc(var(--stop) * 8)
  );
  --gray-palette-main: linear-gradient(
    to right,
    var(--gray-bg4) calc(var(--stop) * 1),
    var(--gray-bg3) calc(var(--stop) * 1) calc(var(--stop) * 2),
    var(--gray-bg2) calc(var(--stop) * 2) calc(var(--stop) * 3),
    var(--gray-bg1) calc(var(--stop) * 3) calc(var(--stop) * 4),
    var(--gray) calc(var(--stop) * 4) calc(var(--stop) * 5),
    var(--gray-fg1) calc(var(--stop) * 5) calc(var(--stop) * 6),
    var(--gray-fg2) calc(var(--stop) * 6) calc(var(--stop) * 7),
    var(--gray-fg3) calc(var(--stop) * 7) calc(var(--stop) * 8),
    var(--gray-fg4) calc(var(--stop) * 8)
  );
  --prime-palette: var(--prime-palette-main), var(--prime-palette-fade);
  --accent-palette: var(--accent-palette-main), var(--accent-palette-fade);
  --gray-palette: var(--gray-palette-main), var(--gray-palette-main);
  background-image: var(--show);
  background-size: 100% 50%, 100% 100%;
  background-repeat: no-repeat;
  height: 3em;
}
