@use '../config/patterns';
@use '../config/fonts';
@use '../../../node_modules/accoutrement/sass/tools';

[data-layout='card-groups'] {
  margin: var(--gutter) 0;
}

[data-layout='cards'] {
  --gap: var(--double-gutter) var(--gutter);
  align-items: start;
  display: grid;
  font-size: var(--font-small);
  grid-gap: var(--gap);
  grid-template-columns: repeat(auto-fill, minmax(18em, 1fr));
  justify-content: space-evenly;
  margin: 0 var(--double-gutter);

  @include tools.above('page') {
    --gap: var(--spacer) var(--double-gutter);
  }

  @include tools.above('wide') {
    --gap: var(--spacer);
  }
}

// Groups
// ------

[data-card-group] {
  display: grid;
  grid-template: 'grouper list' auto / auto minmax(0, 1fr);
  margin: var(--spacer) 0;
  padding: var(--spacer) 0;
}

[data-cards='grouper'] {
  font-size: var(--font-xsmall);
  grid-area: grouper;
  margin: 0;
  padding: 0 var(--half-shim);
  text-transform: uppercase;
  writing-mode: vertical-rl;
}

[data-cards='group-title'] {
  @include fonts.var('light');
  @include patterns.fancy-text;
  display: inline-block;
  margin: 0;
  padding: var(--shim) 0;
  position: sticky;
  top: var(--shim);
}

// Items
// -----

[data-card='item'] {
  --feature: -0.006turn;

  &:nth-child(3n),
  &:nth-last-child(7n-3) {
    --feature: 0.006turn;
  }

  &[data-feature] {
    background: var(--feature-gradient);
    margin: calc(var(--half-shim) * -1);
    padding: var(--quarter-shim);
  }
}

[data-card='inner'] {
  [data-feature] & {
    background: var(--bg);
    border: 1px solid var(--action);
    padding: var(--shim);
    transform: rotate(var(--feature, -0.006turn));
  }
}

// Content
// -------

[data-card='title'] {
  line-height: var(--rhythm);
  margin: 0;

  [data-old] & {
    @include fonts.var('italic');
  }
}

[data-card='summary'] {
  @include fonts.var('italic');
  color: var(--text-light);
}

// Extra bits
// ----------

.pinned {
  color: var(--text-highlight);
}

[data-old] {
  &:not([data-feature]) {
    --link-color: var(--text-light);
    color: var(--text-light);
  }
}

.everything-link {
  background-color: var(--callout);
  display: block;
  margin: var(--gutter) var(--spacer);
  padding: var(--gutter);
  text-align: center;
}
