@use '../../../node_modules/accoutrement/sass/tools';
@use '../config/actions';

[data-dropdown] {
  --push: calc(100% + var(--half-shim));
  --top: var(--push);
  --right: initial;
  --bottom: initial;
  --left: initial;
  background: var(--callout);
  bottom: var(--bottom);
  border: var(--border-width) solid var(--border);
  box-shadow: var(--box-shadow);
  display: none;
  left: var(--left);
  max-height: calc(var(--rhythm) * 2 + 40vh);
  max-width: calc(100vw - var(--gutter) * 2);
  overflow-y: auto;
  position: absolute;
  right: var(--right);
  top: var(--top);
  width: 35ch;
  z-index: 100;

  &[aria-expanded='true'],
  summary + & {
    display: block;
  }
}

[open] summary {
  @include tools.z-index('dropdown');

  @include tools.before('') {
    @include tools.position(0 fixed);
    @include tools.z-index('bump');
    cursor: default;
    display: block;
  }
}

[data-dropdown~='links'] {
  a {
    #{actions.$link} {
      display: block;
      max-width: 100%;
      overflow: hidden;
      padding: var(--half-shim) var(--shim);
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    #{actions.$focus} {
      background: var(--bg);
    }
  }
}

[data-dropdown~='pad'] {
  padding: var(--gutter);
}
