// Erase
// =====

[data-erase] {
  mark {
    background: none;
    color: var(--text);
  }
}

[data-erase='on'] {
  :not(mark) {
    color: transparent;
    text-shadow: none;
  }
}

[data-toggle='erase'] {
  display: inline-block;

  #{$focus},
  &[data-active='true'] {
    background: var(--ccs-accent--fg2);
    color: var(--ccs-prime--bg3);
  }
}
