@use '../config/fonts';

[data-label],
[data-input] {
  display: block;
}

[data-field] {
  display: var(--ccs-custom-display, var(--ccs-field-display, block));
  margin-bottom: var(--field-margin, var(--shim));
}

[data-label] {
  font-size: var(--font-small);
  @include fonts.var('italic');
}

[data-input] {
  --input-bg: var(--bg);
  --input-border: var(--border);
  --input-color: var(--border);
  background-color: var(--input-bg);
  border: var(--quarter-shim) solid var(--input-border);
  color: var(--input-color);
  font: inherit;
  letter-spacing: inherit;
}

[data-input~='text'] {
  border-radius: var(--border-radius) 0;
  font-size: var(--font-small);
  padding: var(--field-padding, var(--half-shim));
  width: var(--field-width, 100%);

  &:focus {
    --input-bg: var(--bg);
    --input-border: var(--ccs-accent);
    --input-color: var(--ccs-prime--fg3);
  }
}

[data-input~='area'] {
  min-height: calc(var(--gutter) * 8);
}

select {
  font: inherit;
}

::placeholder {
  @include fonts.var('italic');
}
