$_code-color-fade: var(--text-light);

@use '../../../node_modules/accoutrement/sass/tools';
@use '../vendor/prism' with (
  // generic stuff
  $code-font-family: tools.font-family('recursive'),
  $code-font-size: inherit,
  $code-line-height: inherit,

  $code-tab-size: 2,

  $code-block-padding: var(--gutter),
  $code-inline-padding: 0 var(--quarter-shim),
  $code-border-radius: 0,

  $code-border: null,
  $code-color: var(--text),
  $code-color-fade: $_code-color-fade,
  $code-text-shadow: var(--text-shadow),
  $code-box-shadow: none,

  // prism tokens
  $code-color-comment: $_code-color-fade,
  $code-color-keyword: var(--ccs-accent--fg2),
  $code-color-value: var(--text-highlight),
  $code-color-string: var(--text-highlight),
  $code-color-name: var(--text-highlight),
  $code-color-number: var(--text-highlight),
  $code-color-variable: var(--ccs-accent--fg2),
  $code-color-selector: var(--ccs-accent--fg2),
  $code-color-punctuation: $_code-color-fade,
);

#{prism.$code-selector-block} {
  background: var(--callout);
  border: var(--border-width) solid var(--border);
  border-width: var(--border-width) 0;
  grid-column: pull;
}
