// Contact
// =======

[data-layout~='contact'] {
  border-top: border('section');
  padding: size('shim');

  @include above('page') {
    display: grid;
    grid-gap: size('gutter');
    grid-template: auto / repeat(2, minmax(0, 1fr));
  }

  .content {
    font-size: size('large');
    font-style: italic;
  }
}
