// Orgs
// ====

[data-orgs='section'] {
  grid-row-gap: var(--gutter);
  margin-bottom: var(--spacer);
}

[data-orgs='list'] {
  display: grid;
  grid-template: 'date title' auto 'sub sub' auto / auto 1fr;
  grid-gap: var(--gutter);
  padding: 0 var(--gutter);

  @include above('page-break') {
    grid-template: 'date title' auto '. sub' auto / 1fr 1fr;
  }
}

[data-orgs='item'] {
  align-items: baseline;
  display: grid;
  grid-column: 1 / -1;
  grid-template: inherit;
  grid-template: subgrid;
  grid-column-gap: var(--shim);
}

[data-meta] {
  font-size: var(--font-small);
  color: var(--text-light);

  a {
    font-style: italic;
  }
}

[data-meta='orgs'] {
  text-align: right;
  grid-area: date;
}

[data-title='orgs'] {
  grid-area: title;
  margin: 0;
}

[data-meta='org-sub'] {
  font-style: italic;
  grid-area: sub;
}
