@use 'sass:list';
@use 'sass:map';
@use '../../../node_modules/accoutrement/sass/tools';
@use '../config/fonts';

[data-layout='banner'] {
  @include tools.transition('move');
  align-self: center;
  grid-area: banner;
  margin: var(--spacer) var(--gutter);
  text-align: center;
  transform: rotate(-4deg);
  z-index: 1;

  @include tools.above('page') {
    transform: rotate(-8deg);
  }

  @include tools.above('wide') {
    transform: rotate(-12deg);
  }
}

$banner-font: tools.font('recursive');
$banner-stack: map.get($banner-font, 'name');
$banner-fallback: list.join((Impact), map.get($banner-font, 'stack'));
$banner-stack: list.join(($banner-stack), $banner-fallback);

.banner-title {
  @include fonts.var('light');
  font-size: var(--font-headline);
  line-height: 0.74;
  margin: 0;
  padding: var(--shim);
  text-transform: uppercase;

  &::first-line {
    @include fonts.var('extra');
    font-family: $banner-fallback;
    letter-spacing: 0.1em;

    .fonts-loaded & {
      font-family: $banner-stack;
      letter-spacing: var(--letter-spacing--user-em, 0);
    }
  }
}

.subtitle {
  @include fonts.var('italic');
  margin: 0 var(--gutter);
}
