// Banner Layout
// =============

[data-layout='banner'] {
  align-self: center;
  grid-area: banner;
  margin: var(--spacer) var(--gutter);
  text-align: center;
  transform: rotate(-4deg);
  transition: transform time('fast') ease('_in-out-back');
  z-index: 1;

  @include above('page') {
    transform: rotate(-8deg);
  }

  @include above('wide') {
    transform: rotate(-12deg);
  }
}

.banner-title {
  @include font-family('sunrise');
  font-size: var(--font-headline);
  line-height: 0.74;
  margin: 0;
  padding: var(--shim);
  text-transform: uppercase;

  &::first-line {
    @include font-family('midnight');
  }
}

.subtitle {
  font-style: italic;
  margin: 0 var(--gutter);
}
