@use '../../../node_modules/accoutrement/sass/tools';

[data-layout='banner'] {
  @include tools.transition('move');
  align-self: center;
  grid-area: banner;
  margin: var(--spacer) var(--gutter);
  text-align: center;
  transform: rotate(-4deg);
  z-index: 1;

  @include tools.above('page') {
    transform: rotate(-8deg);
  }

  @include tools.above('wide') {
    transform: rotate(-12deg);
  }
}

.banner-title {
  @include tools.font-family('sunrise');
  font-size: var(--font-headline);
  line-height: 0.74;
  margin: 0;
  padding: var(--shim);
  text-transform: uppercase;

  &::first-line {
    @include tools.font-family('midnight');
  }
}

.subtitle {
  font-style: italic;
  margin: 0 var(--gutter);
}
