@use '../../../node_modules/accoutrement/sass/tools';
@use '../config/actions';

.skiplink {
  --pos: -200%;
  --delay: 1s;
  background: var(--overlay);
  border: var(--border-width) solid va(--border);
  left: 50%;
  padding: var(--half-shim) var(--gutter);
  position: absolute;
  top: var(--half-shim);
  transform: translate3d(-50%, var(--pos), 0);
  transition: transform 150ms ease-in;
  transition-delay: var(--delay);
  z-index: 1000;

  #{actions.$focus} {
    --pos: 0;
    --delay: 0;
  }
}

[data-layout='body'] {
  display: grid;
  grid-template: 'menu' auto 'nav' auto 'banner' 1fr / 100vw;
  position: relative;
}

[data-main] {
  display: grid;
  grid-template-columns:
    minmax(var(--gutter), 1fr)
    [hero-start] minmax(0, 1fr)
    [pull-start] minmax(0, var(--pull-max, 1fr))
    [main-start] minmax(min-content, var(--page))
    [main-end hero-end pull-end] minmax(var(--gutter), 1fr);

  > * {
    grid-column: var(--main-column, main);
  }

  @include tools.above('page') {
    --pull-max: var(--spacer);
    grid-column-gap: var(--gutter);
  }
}

[data-meta='page'] {
  grid-row-end: span 2;
  margin: var(--shim) 0 var(--gutter);

  p {
    margin: 0;
  }

  @include tools.above('wide') {
    --main-column: hero-start / main-start;
    font-size: var(--font-xsmall);
    text-align: right;
  }
}
