// Body Layout
// ===========

[data-layout='body'] {
  display: grid;
  grid-template: 'menu' auto 'nav' auto 'banner' 1fr / 100vw;
}

[data-main] {
  display: grid;
  grid-template-columns:
    minmax(var(--gutter), 1fr)
    [hero-start] minmax(0, 1fr)
    [pull-start] minmax(0, var(--pull-max, 1fr))
    [main-start] minmax(min-content, var(--page))
    [main-end hero-end pull-end] minmax(var(--gutter), 1fr);

  > * {
    grid-column: var(--main-column, main);
  }

  @include above('page') {
    --pull-max: var(--spacer);
    grid-column-gap: var(--gutter);
  }
}

[data-meta='page'] {
  grid-row-end: span 2;
  margin: var(--shim) 0 var(--gutter);

  p {
    margin: 0;
  }

  @include above('wide') {
    --main-column: hero-start / main-start;
    font-size: var(--font-xsmall);
    text-align: right;
  }
}
