// Footer Layout
// =============

[data-layout='footer'] {
  display: grid;
  grid:
    auto auto 1fr / 2fr [content-start] minmax(min-content, size('double-page'))
    [content-end] 1fr;
  min-height: calc(100vh - var(--spacer));
}

[data-footer='content'] {
  --gap: var(--gutter);
  display: grid;
  grid-column: content;
  grid-gap: var(--gap);
  grid-template-columns: repeat(auto-fit, minmax(size('half'), 1fr));
  justify-content: center;
  margin-bottom: var(--spacer);
  padding: 0 var(--gap);

  @include above('wide') {
    --gap: var(--double-gutter);
  }

  h3 {
    margin: 0;
  }
}

[data-layout='flag'] {
  background-image: linear-gradient(
    var(--angle, -2deg),
    powderblue 20%,
    pink 20% 40%,
    white 40% 60%,
    pink 60% 80%,
    powderblue 80%
  );
  filter: brightness(var(--img-bright, 100%));
  grid-column: 1 / -1;
  min-height: 50vh;

  @include above('page-break') {
    --angle: 95deg;
    min-height: var(--double-spacer);
  }
}
