// Hero Layout
// ===========

[data-hero] {
  --main-column: hero;
  display: grid;
  grid:
    [img-start] auto [caption-start] auto [img-end caption-end]
    / [img-start caption-start] 100% [img-end caption-end];
}

[data-hero='svg'] {
  border-top: 0;
}

.hero-content {
  grid-area: img;
}

.hero-image {
  @include transition('hero');
  fill: currentColor;
  transform: rotate(-6deg);
  z-index: 1;

  &:hover {
    transform: rotate(1.5deg);
  }
}

.hero-caption {
  background: var(--overlay);
  font-size: var(--font-small);
  font-style: italic;
  grid-area: caption;
  padding: var(--quarter-shim) var(--half-shim);
  position: relative;
  z-index: 2;
}
