// Hero Layout
// ===========

[data-hero] {
  --main-column: hero;
  display: grid;
  grid:
    [img-start] auto [caption-start] auto [img-end caption-end]
    / [img-start caption-start] 100% [img-end caption-end];
}

.hero-content {
  grid-area: img;

  img,
  svg {
    fill: currentColor;
    transform: rotate(-6deg);
    z-index: 1;
  }
}

.hero-caption {
  background: var(--callout);
  font-size: var(--font-small);
  font-style: italic;
  grid-area: caption;
  padding: var(--quarter-shim) var(--half-shim);
  position: relative;
  z-index: 2;
}
