[data-layout='menu'] {
  background: var(--ccs--bg-full);
  display: flex;
  font-size: var(--font-small);
  grid-area: menu;
  margin: 0;
  padding: 0;
  position: relative;

  input,
  select {
    width: 100%;
  }
}

.menu-item {
  padding: var(--shim);
}
