{% import "utility.macros.njk" as utility %}
{% import "events.macros.njk" as event_macros %}

{% set get_calendar = renderData.calendar or calendar %}

{% if get_calendar == 'all' %}
  {{ event_macros.section(
    collections.all | getEvents,
    filter=collections,
    self=page.url
  ) }}
{% elif get_calendar %}
  {% set pages = collections[get_calendar] %}
  {% set title %}
    all the
    {{ utility.tag_link(get_calendar) }}…
  {% endset %}

  {% if pages %}
    {{ event_macros.section(
      pages | getEvents(page),
      title=title,
      self=page.url
    ) }}
  {% endif %}
{% elif events %}
  {{ event_macros.section(
    collections.all | getPage(page) | getEvents,
    title='calendar…',
    self=page.url
  ) }}
{% endif %}
