{% import 'utility.macros.njk' as utility %}

<hr class="footer-hr" />
<footer
  data-section="footer"
  data-area="right">
  <div data-content>
    <p>
      Copyright © {% getDate 'year' %}
      <a href="mailto:{{ site.email }}">
        {{ site.author }}
      </a>
    </p>

    <p>
      {% for link in footer.links %}
        <a href="{{ link.url | url }}">{{ link.name }}</a> |
      {% endfor %}
      <button data-btn="toggle-theme">invert</button>
    </p>
  </div>
</footer>


<script>
  const root = document.querySelector("html");
  const attr = "data-theme";
  const current = root.getAttribute(attr);
  const toggle = document.querySelector("[data-btn='toggle-theme']");

  const setTheme = (to) => {
    localStorage.setItem('theme', to);
    root.setAttribute(attr, to);
  }

  const getTheme = () => {
    const currentTheme = root.getAttribute(attr);
    const userTheme = localStorage.getItem('theme');
    return userTheme && userTheme !== 'undefined'
      ? userTheme
      : currentTheme;
  }

  const changeTheme = () => {
    const from = getTheme();
    const opts = {
      "light": "dark",
      "dark": "light",
    }
    const to = opts[from];
    setTheme(to);
  }

  document.onload = setTheme(getTheme());

  toggle.addEventListener("click", () => {
    changeTheme();
  });
</script>
