{% import 'utility.macros.njk' as utility %}

<nav
  data-section="nav"
  data-area="right">
  <div
    data-content
    data-area="content"
    data-flow="flex">
    {%- for title, url in site.nav -%}
      {%- set slug = 'home' if (url == '/') else title | slug -%}
      {%- set rel = 'home' if (url == '/') else none -%}
      <a href="{{ url | url }}"
        {{ utility.show_attrs({
          'data-nav': slug,
          'data-active': (url == page.url),
          'rel': rel
        }) }} />
        {{ title | lower | amp | md(inline=true) | safe }}
      </a>
    {%- endfor -%}
  </div>
</nav>

