{% import 'utility.macros.njk' as utility %}

<nav
  data-section="nav"
  data-area="right">
  <div
    data-content
    data-flow="flex">
    {%- for item in collections._nav -%}
      {% set title = item.data.nav.title or item.data.title or 'TitleMePlease' %}
      <a href="{{ item.url | url }}"
        {{ utility.show_attrs({
          'data-nav': (item.data.nav.slug or title) | slug,
          'data-active': (item.url | url == page.url | url),
          'rel': item.data.nav.rel
        }) }} />
        {{ title | lower | amp | md(inline=true) | safe }}
      </a>
    {%- endfor -%}
  </div>
</nav>

