---
layout: format/h-feed
title: Miriam Eric Suzanne
eleventyExcludeFromCollections: true
eleventyComputed:
  summary: |
    **Welcome** -- \
    {{ welcome | random | safe }}
---

{% set event_groups = collections.all | getEvents | groupBy('tense') %}

{% for tense, event_list in event_groups %}
  {% if (tense != 'past') and event_list | length > 0 %}
    <section class="events">
      <h2>{{ hevent.titles[tense] or tense }}</h2>
      {% for item in event_list | sortEvents(tense) %}
        {% include 'part/hevent.njk' %}
      {% endfor %}
    </section>
  {% endif %}
{% endfor %}

{%- set hentry_heading = 'h3' -%}

{%- set hfeed = collections.post | getPublic  -%}
{%- if hfeed | length > 0 -%}
<hr />
<section class="h-feed">
  <h2 class="p-name">Recent Posts</h2>
  {%- for item in hfeed | sortBy('data.date') | reverse | slice(5) -%}
    {%- include 'part/hentry.njk' -%}
  {%- endfor -%}
  <p><a href="/tags/post/">See all posts »</a></p>
</section>
{%- endif -%}

{%- set hfeed = collections.artifact | getPublic | filter('data.feature')  -%}
{%- if hfeed | length > 0 -%}
<hr />
<section class="h-feed">
  <h2 class="p-name">Featured Artifacts</h2>
  {%- for item in hfeed | sortBy('data.date') | reverse | slice(3) -%}
    {%- include 'part/hentry.njk' -%}
  {%- endfor -%}
</section>
{%- endif -%}
