---
layout: format/h-feed
title: Miriam Eric Suzanne
eleventyExcludeFromCollections: true
eleventyComputed:
  summary: |
    {{ welcome | random | safe }}
---

{% set event_list = collections.all | getEvents | notPast %}

{% if event_list | length > 0 %}
  <section class="events">
    <h2>Current & Upcoming Events</h2>
    {% for item in event_list | sortEvents('future') %}
      {% include 'part/hevent.njk' %}
    {% endfor %}
  </section>
{% endif %}

{%- set hentry_heading = 'h3' -%}

{%- set hfeed = collections.post | getPublic  -%}
{%- if hfeed | length > 0 -%}
<section class="h-feed">
  <h2 class="p-name">Recent Posts</h2>
  {%- for item in hfeed | sortBy('data.date') | reverse | slice(5) -%}
    {%- include 'part/hentry.njk' -%}
  {%- endfor -%}
  <p><a href="{{ 'post' | tagLink(collections) }}">See all posts »</a></p>
</section>
{%- endif -%}

{%- set hfeed = collections.artifact | getPublic | filter(['data.feature', 'home'])  -%}
{%- if hfeed | length > 0 -%}
<section class="h-feed">
  <h2 class="p-name">Featured Artifacts</h2>
  {%- for item in hfeed | sortBy('data.date') | reverse | slice(5) -%}
    {%- include 'part/hentry.njk' -%}
  {%- endfor -%}
</section>
{%- endif -%}
