---
title: Miriam Eric Suzanne
eleventyComputed:
  summary: |
    {{ welcome | random | safe }}
gallery:
  - img: art/pottery/2025/08/bowls-bw.jpg
    url: https://art.miriamsuzanne.com/
    alt: >
      Two stacks of large black-clay ramen bowls
      with a deep foot
      and grooved texture around the bare clay base,
      then a frosty white glaze at the rim and inside --
      and notches cut out for chopsticks.
  - img: art/pottery/2025/08/ice-jar.jpg
    url: https://art.miriamsuzanne.com/product/lidded-jar-winter-woods
    alt: >
      A small jar with a slightly wide base
      and angular walls sloping in slightly
caption: >
  A few of my pieces…
  Find more in
  [my art shop](https://art.miriamsuzanne.com/)!
---

{% import "content.macros.njk" as content %}

{{ content.figure(
  data=gallery,
  caption=caption
) }}

{% set event_list = collections.all | getEvents | notPast %}

{% if event_list | length > 0 %}
  <section class="events">
    <h2>Current & Upcoming Events</h2>
    {% for item in event_list | sortEvents('future') %}
      {% include 'part/hevent.njk' %}
    {% endfor %}
  </section>
{% endif %}

{%- set hentry_heading = 'h3' -%}

{%- set hfeed = collections.the_feed | getPublic  -%}
{%- if hfeed | length > 0 -%}
<section class="h-feed">
  <h2 class="p-name">In The Feed</h2>
  {%- for item in hfeed | sortBy('data.date') | reverse | slice(5) -%}
    {%- include 'part/hentry.njk' -%}
  {%- endfor -%}
  <p><a href="{{ 'the_feed' | tagLink(collections) }}">Keep feeding »</a></p>
</section>
{%- endif -%}

{%- set hfeed = collections.artifact | getPublic | filter(['data.feature', 'home'])  -%}
{%- if hfeed | length > 0 -%}
<section class="h-feed">
  <h2 class="p-name">Featured Artifacts</h2>
  {%- for item in hfeed | sortBy('data.date') | reverse | slice(5) -%}
    {%- include 'part/hentry.njk' -%}
  {%- endfor -%}
</section>
{%- endif -%}
