/// # Color Configuration
/// @group config-colors
/// @link https://oddbird.net/accoutrement/docs/color.html
///   Accoutrement Color

$_color: get-function('color');
@include register-function('desaturate');
@include register-function('lighten');
@include register-function('rgba', 'alpha');

// Brand Colors
// ------------
/// The brand is defined by our primary brand blue,
/// along with secondary pink and orange base colors.
/// @group config-colors
/// @colors
/// @type Map
$brand-colors: (
  '_brand-main': hsl(195, 52%, 31%),
  '_brand-accent': hsl(330, 100%, 45%),
  '_brand-gray': '#_brand-main'
    (
      'desaturate': 30%,
    ),
);

@include add-colors($brand-colors);
@include herman-add('colors', 'brand-colors', $brand-colors, $_color);

// Shade Colors
// -------------
/// Tints and shades of the main brand color.
/// @group config-colors
/// @colors
/// @type Map
$main-shades: shades-of(
  (
    '_brand-main': color('_brand-main'),
  ),
  6
);

@include add-colors($main-shades);
@include herman-add('colors', 'main-shades', $main-shades, $_color);

/// Tints and shades of the accent brand color.
/// @group config-colors
/// @colors
/// @type Map
$accent-shades: shades-of(
  (
    '_brand-accent': color('_brand-accent'),
  ),
  6
);

@include add-colors($accent-shades);
@include herman-add('colors', 'accent-shades', $accent-shades, $_color);

/// Tints and shades of the gray brand color.
/// @group config-colors
/// @colors
/// @type Map
$gray-shades: shades-of(
  (
    '_brand-gray': color('_brand-gray'),
  ),
  6
);

@include add-colors($gray-shades);
@include herman-add('colors', 'gray-shades', $gray-shades, $_color);

// Light Theme
// -----------
/// These colors form the basis of the light theme
/// @group config-colors
/// @colors
/// @type Map
$light-theme: (
  'background': '#_brand-gray-light-6',
  'feature': '#_brand-accent-dark-5',
  'callout': '#_brand-gray-light-5',
  'text-shadow': '#_contrast-light',
);

@include add-colors($light-theme);
@include herman-add('colors', 'light-theme', $light-theme, $_color);

// Dark Theme
// -----------
/// These colors form the basis of the dark theme
/// @group config-colors
/// @colors
/// @type Map
$dark-theme: (
  'background': '#_brand-gray-dark-6',
  'callout': '#_brand-gray-dark-5',
  'text-shadow': '#_contrast-dark',
);

@include herman-add('colors', 'dark-theme', $dark-theme, $_color);

// Theme Colors
// ------------
/// These colors are calculated in relation to the given theme
/// @group config-colors
/// @type Map
$theme-colors: (
  'overlay': '#background'
    (
      'alpha': 0.8,
    ),
  'text': '#callout'
    (
      'contrast': append(map-keys($main-shades), 'aaa'),
    ),
  'text-light': '#background'
    (
      'contrast': append(map-keys($gray-shades), 'aa'),
    ),
  'text-highlight': '#background'
    (
      'contrast': append(map-keys($main-shades), 'aa'),
    ),
  'border': '#background'
    (
      'contrast': append(map-keys($gray-shades), 'aa-large'),
    ),
  'action': '#callout'
    (
      'contrast': append(map-keys($accent-shades), 'aa'),
    ),
  'action-underline': '#action'
    (
      'alpha': 0.5,
    ),
  'action-hover': '#callout'
    (
      'contrast': append(map-keys($accent-shades), 'aaa'),
    ),
  'feature': '#action-hover',
);

@include add-colors($theme-colors);

// Light Colors
// -----------
/// The full color map for implementing the light-theme
/// @group config-colors
/// @colors light
/// @type Map
$light-colors: map-merge($colors, $light-theme);

@include herman-add(
  'colors',
  'light',
  map-merge($light-theme, $theme-colors),
  $_color,
  null,
  $light-colors
);

// Dark Colors
// -----------
/// The full color map for implementing the dark-theme
/// @group config-colors
/// @colors dark
/// @type Map
$dark-colors: map-merge($colors, $dark-theme);

@include herman-add(
  'colors',
  'dark',
  map-merge($dark-theme, $theme-colors),
  $_color,
  null,
  $dark-colors
);
