/// # Color Configuration
/// @group config-colors
/// @link https://oddbird.net/accoutrement/docs/color.html
///   Accoutrement Color

$_color: get-function('color');
@include register-function('desaturate');
@include register-function('lighten');
@include register-function('rgba', 'alpha');

// Brand Colors
// ------------
/// The brand is defined by our primary brand blue,
/// along with secondary pink and orange base colors.
/// @group config-colors
/// @colors
/// @type Map
$brand-colors: (
  '_brand-main': hsl(195, 52%, 31%),
  '_brand-accent': hsl(330, 100%, 45%),
  '_brand-gray': '#_brand-main'
    (
      'desaturate': 30%,
    ),
);

@include add-colors($brand-colors);
@include herman-add('colors', 'brand-colors', $brand-colors, $_color);

// Shade Colors
// -------------
/// Tints and shades of the main brand color.
/// @group config-colors
/// @colors
/// @type Map
$main-shades: shades-of(
  (
    '_brand-main': color('_brand-main'),
  ),
  6
);

@include add-colors($main-shades);
@include herman-add('colors', 'main-shades', $main-shades, $_color);

/// Tints and shades of the accent brand color.
/// @group config-colors
/// @colors
/// @type Map
$accent-shades: shades-of(
  (
    '_brand-accent': color('_brand-accent'),
  ),
  6
);

@include add-colors($accent-shades);
@include herman-add('colors', 'accent-shades', $accent-shades, $_color);

/// Tints and shades of the gray brand color.
/// @group config-colors
/// @colors
/// @type Map
$gray-shades: shades-of(
  (
    '_brand-gray': color('_brand-gray'),
  ),
  6
);

@include add-colors($gray-shades);
@include herman-add('colors', 'gray-shades', $gray-shades, $_color);
