/// # Grid Configuration
/// This entire site
/// is constructed using a single breakpoint used twice --
/// once to change the grid-variable definition,
/// and once to adjust the home-page banner layout.
/// The result should still be responsive
/// across a wide range of viewport sizes.
/// @group config-grids
/// @link https://oddbird.net/accoutrement/docs/core-get.html
///   Accoutrement Core

// Grid Sizes
// ----------
/// @group config-grids
/// @type map
$grid-sizes: (
  '_quarter': minmax(0, size('quarter')),
  '_fr-l': minmax(0, 6fr),
  '_fr-r': 1fr,
);
@include add-grid($grid-sizes);

// Grid Lines
// ----------
/// @group config-grids
/// @type map
$grid-lines: (
  '_lines-l': full-start left-start,
  '_lines-m': left-end midpoint right-start,
  '_lines-r': right-end full-end nav-end,
);
@include add-grid($grid-lines);

// Grid left
// ---------
/// @group config-grids
/// @type map
$grid-left: (
  '_content-l': [content-start] #_fr-l,
  '_edge-l': size('grid-margin') #_content-l,
  '_main-l': #_quarter [half-left] #_quarter,
  '_left': #_edge-l [main-start] #_main-l,
);
@include add-grid($grid-left);

// Grid right
// ----------
/// @group config-grids
/// @type map
$grid-right: (
  '_content-r': auto [content-end],
  '_edge-r': #_content-r size('grid-margin'),
  '_main-r': #_quarter [half-right] #_quarter,
  '_right': #_main-r [main-end] #_fr-r [nav-start] #_edge-r,
);
@include add-grid($grid-right);

// Grid areas
// ----------
/// @group config-grids
/// @type map
$grid-areas: (
  '_main': #_main-l [#_lines-m] #_main-r,
  '_main-sm': #_main-l [midpoint] #_main-r,
  '_content': #_content-l [main-start] #_main [main-end] #_fr-r [nav-start] #_content-r,
  '_full': #_edge-l [main-start] #_main [main-end] #_fr-r [nav-start] #_edge-r,
  '_full-sm-main': [main-start right-start] #_main-sm [left-end main-end] #_fr-r
    [nav-start],
  '_full-sm': #_edge-l #_full-sm-main #_edge-r,
);
@include add-grid($grid-areas);

// Grid layouts
// ------------
/// @group config-grids
/// @type map
$grid-layouts: (
  'content': [#_lines-l] #_content [#_lines-r],
  'full': [#_lines-l] #_full [#_lines-r],
  'small': [#_lines-l] #_full-sm [#_lines-r],
  'main': [#_lines-l main-start] #_main [main-end #_lines-r],
  'main-left': [#_lines-l ] #_left [#_lines-m] #_main-r [main-end #_lines-r],
  'main-right': [#_lines-l main-start] #_main-l [#_lines-m] #_right,
  'left': [#_lines-l] #_left [#_lines-m content-end main-end #_lines-r],
  'right': [#_lines-l content-start main-start #_lines-m] #_right [#_lines-r],
);
@include add-grid($grid-layouts);
