/// # Border Configuration
/// @group config-patterns
/// @link https://oddbird.net/accoutrement/docs/core-get.html
///   Accoutrement Core

// Patterns
// --------
/// @group config-patterns
/// @type map
$patterns: (
  'bright':
    linear-gradient(to left, var-color('text-highlight'), var-color('action')),
  'feature': linear-gradient(to bottom, var-color('text'), var-color('feature')),
);

@mixin fancy-text {
  /* stylelint-disable */
  color: var(--text-highlight);

  @supports (background-clip: text) {
    --link-color: transparent;
    background: var(--feature-gradient);
    background-clip: text;
    box-decoration-break: clone;
    color: transparent;
    text-shadow: none;
    @content;
  }
  /* stylelint-enable */
}

@mixin divide($position: 'before') {
  &::#{$position} {
    @include fancy-text;
    @include font-family('midnight');
    content: '~ & & & ~';
    display: block;
    font-size: var(--font-large);
    margin: var(--spacer) 0;
    text-align: center;
  }
}

@mixin divider {
  @include divide;
  border: none;
}
