/// # Border Configuration
/// @group config-patterns
/// @link https://oddbird.net/accoutrement/docs/core-get.html
///   Accoutrement Core

// Borders
// --------
/// @group config-patterns
/// @type map
/// @see border
$borders: (
  '_base': size('border') solid,
  'hero': '#_base' var-color('feature'),
  'section': '#_base' var-color('border'),
  'quote': '#_base' var-color('callout'),
);

// Shadows
// -------
/// @group config-patterns
/// @type map
/// @see shadow
$shadows: (
  'dark': 0 -1px 0,
  'light': 0 1px 0,
  'contrast': '#dark',
);

// Patterns
// --------
/// @group config-patterns
/// @type map
/// @see patterns
$patterns: (
  'bright':
    linear-gradient(to left, var-color('text-highlight'), var-color('action')),
  'feature': linear-gradient(to bottom, var-color('text'), var-color('feature')),
);

@mixin fancy-text {
  /* stylelint-disable */
  @supports (background-clip: text) {
    @content;
    background-clip: text;
    box-decoration-break: clone;
    color: transparent;
    text-shadow: none;
  }
  /* stylelint-enable */
}

@mixin divider {
  @include font-family('amp');
  color: var-color('text-highlight');
  font-style: italic;
  margin: size('spacer') 0;
  text-align: center;

  @include before('~ & & & ~') {
    @include fancy-text {
      background: pattern('bright');
    }
  }
}
