// prism selector
$code-selector: 'code[class*="language-"], pre[class*="language-"]';
$code-selector-block: 'pre[class*="language-"]';
$code-selector-inline: ':not(pre) > code[class*="language-"]';

// generic stuff
$code-font-family: font-family('code');
$code-font-size: size('code');
$code-line-height: inherit;

$code-tab-size: 2;
$code-hyphens: none;

$code-block-padding: size('shim');
$code-inline-padding: 0 size('quarter-shim');
$code-border-radius: size('quarter-shim');

$code-border: 1px solid var-color('border');
$code-background: var-color('callout');
$code-color: var-color('text');
$code-color-fade: var-color('text-light');
$code-text-shadow: 0 1px 0 var-color('shadow');
$code-box-shadow: 1px 1px 0.3em -0.1em var-color('text') inset;

// prism tokens
//
$code-color-comment: $code-color-fade;
$code-color-keyword: var-color('feature');
$code-color-value: var-color('text-highlight');
$code-color-string: var-color('text-highlight');
$code-color-name: var-color('text-highlight');
$code-color-number: var-color('text-highlight');
$code-color-variable: var-color('feature');
$code-color-selector: var-color('feature');
$code-color-punctuation: $code-color-fade;
