/* stylelint-disable property-no-vendor-prefix */

@mixin fancy {
  --svg: var(--complement);

  background: var(--text-gradient);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;

  &,
  * {
    text-decoration-color: var(--text);
  }
}
