@use 'sass:color';

$accent-light: hotpink;
$complement-light: paleturquoise;
$accent-dark: color.scale(mediumvioletred, $lightness: -25%);
$complement-dark: teal;
$dark: color.scale(darkslategray, $lightness: -75%);
$light: azure;

@mixin light {
  --bg: var(--light);
  --text: var(--dark);
  --accent-bg: var(--accent-light);
  --accent: var(--accent-dark);
  --complement-bg: var(--complement-light);
  --complement: var(--complement-dark);
  --shadow: hsl(0deg 0% 0% / 12.5%);
}

@mixin dark {
  --bg: var(--dark);
  --text: var(--light);
  --accent-bg: var(--accent-dark);
  --accent: var(--accent-light);
  --complement-bg: var(--complement-dark);
  --complement: var(--complement-light);
  --shadow: hsl(0deg 0% 0% / 25%);
}

@mixin theme {
  // base colors
  --accent-light: #{$accent-light};
  --accent-dark: #{$accent-dark};
  --complement-light: #{$complement-light};
  --complement-dark: #{$complement-dark};
  --dark: #{$dark};
  --light: #{$light};

  // mode configuration
  @include dark;

  &[data-theme='dark'] {
    @include dark;
  }

  @media (prefers-color-scheme: light) {
    @include light;
  }

  &[data-theme='light'] {
    @include light;
  }

  // applications
  --border: var(--complement, currentColor);
}

@mixin css {
  [data-options='theme'] {
    --display-init: flex;
  }
}
