[data-gallery] {
  display: grid;
  gap: var(--gap, 1em);

  img,
  video,
  audio,
  iframe,
  picture,
  svg {
    width: var(--media-width, 100%);
    height: var(--media-height, auto);
  }

  :only-child,
  :last-child:nth-child(odd):not([style*='--span'] ~ *) {
    grid-column: 1 / -1;
  }
}

[data-gallery='multi'] {
  @media (min-width: 35em) {
    grid-template-columns: [full-start] repeat(2, minmax(0, 1fr)) [full-end];

    > * {
      grid-column: var(--span);
    }
  }
}
