code[style*='--swatch']::before {
  aspect-ratio: 1;
  background: linear-gradient(var(--swatch), var(--swatch)),
    linear-gradient(45deg, black 50%, white 50%);
  border: thin solid;
  content: '';
  display: inline-block;
  inline-size: 1em;
  margin-inline-end: 0.2ch;
}
