a {
  &:where(:any-link) {
    color: var(--link-color, var(--Link));
  }

  &:where(:visited) {
    color: var(--link-visited, var(--link-color, var(--VisitedText)));
  }

  &:where(:hover, :focus, :active) {
    color: var(--link-active, var(--ActiveText));
  }
}
