dd,
dir,
menu,
ol,
ul,
blockquote,
figure {
  padding-inline: var(--gap, 1em);
}

nav,
header,
main,
footer,
section,
article,
details {
  margin-block: var(--gap, 1em);
}

main {
  border-block: thick double;
  padding-block: var(--gap, 1em);
}

table {
  width: 100%;
}

summary {
  cursor: pointer;
}

p:empty {
  display: none;
}
