img,
video,
audio,
iframe,
picture {
  max-width: 100%;
  height: auto;
  aspect-ratio: auto var(--ratio);
}

video,
iframe {
  --ratio: 16 / 9;
}

svg {
  fill: var(--fill, var(--svg, currentcolor));
  stroke: var(--stroke, var(--svg, currentcolor));
  stroke-width: 0;
}

[data-icon] {
  display: inline-block;
}
