@mixin css {
  img,
  video,
  audio,
  iframe,
  picture {
    max-width: 100%;
    height: auto;
    aspect-ratio: auto var(--ratio);
  }

  video,
  iframe {
    --ratio: 16 / 9;
  }

  svg {
    fill: currentcolor;
  }
}
