<header>
  {% include 'page/title.njk' %}
  {% include 'page/meta.njk' %}
</header>

{% include 'page/hero.njk' %}
{% include 'page/content.njk' %}
{% include 'page/events.njk' %}
{% include 'page/feed.njk' %}
