{%- import "utility.macros.njk" as utility -%}

{%- for item in (show_feed or []) | getPublic | reverse -%}
  <article class="h-entry">
    <header>
      {%- set feed_article_heading = feed_article_heading or 'h2' -%}

      <{{ feed_article_heading }} class="p-name">
        <a href="{{ item.url | url }}" class="u-url">
          {{- item.data.banner | mdInline | safe -}}
        </a>
      </{{ feed_article_heading }}>

      {{ utility.datetime(page.date) }}
    </header>

    {%- set item_summary = item.data.summary or item.data.sub -%}
    {%- if item_summary -%}
      <div class="p-summary">
        {{- item_summary | md | safe -}}
      </div>
    {%- endif -%}
  </article>
{%- endfor -%}
