{%- import 'macros/indieweb.njk' as indieweb -%}

{% if (venue and url and rel) or tags %}
  <footer id="page-footer">
    {% if (venue and url and rel) %}
      <p>{{ indieweb.venue_link(venue, url, tags, rel, nav) }} »</p>
    {% endif %}
    {% include 'page/tags.njk' %}
  </footer>
{% endif %}
