{%- import "content.macros.njk" as content -%}

{%- if hero -%}
  {%- set hero_data = hero | merge({
    'size': 'hero',
    'svg': ['icons', hero.svg] | join('/') if hero.svg else none,
    'attrs': {'class': 'u-photo'}
  }) -%}

  {{ content.figure(
    data=[hero_data],
    caption=hero.caption,
    attrs={'id': 'hero'}
  ) }}
{%- endif -%}
