{% import "utility.macros.njk" as utility %}

{% for item in syndication %}
  {{ utility.link_if(
    content=item.title or item.url,
    url=item.url,
    attrs = {
      'class': 'u-syndication',
      'rel': 'syndication',
      'hidden': true
    }
  ) }}
{% endfor %}

<a href="{{ page.url | url }}" class="u-url" hidden></a>
