{% if rel %}
  {% set rel_attrs = {
    'reply': {'class': 'u-in-reply-to'},
    'syndication': {'class': 'u-syndication', 'rel': 'syndication'},
    'bookmark': {'class': 'u-bookmark-of'},
    'like': {'class': 'u-like-of'}
  } %}
  {% for type, target in rel %}
    <a href="{{ target | url }}" {{ utility.show_attrs(rel_attrs[type]) }} hidden></a>
  {% endfor %}
{% endif %}

<a href="{{ page.url | url }}" class="u-url" hidden></a>
