{%- import 'utility.macros.njk' as utility -%}

{% set link = (venue and url) %}

{% if link or org or adr %}
  <p class="meta">
    {% if org %}
      <strong class='role'>
        {{ org | mdInline | safe }}
      </strong> |
    {% endif %}

    {% if date and not (type in ['index', 'page']) %}
      {{ utility.datetime(
        start=date,
        end=end,
        pubdate=true
      ) }}
    {% endif %}

    {% if link %}
      @
      <a href="{{ url | url }}" class="h-card org">
        {{ (venue or 'the interwebz') | mdInline | safe }}
      </a>
    {% endif %}

    {% if adr %}
      in
      <span class="adr">
        {{ adr | safe }}
      </span>
    {% endif %}
  </p>
{% endif %}
