{%- import 'utility.macros.njk' as utility -%}

{% set tags_public = tags | publicTags %}

{% if tags_public or org %}
  <div class="meta">
    {% if date and not (type in ['index', 'page']) %}
      {{ utility.datetime(
        start=date,
        end=end,
        pubdate=true
      ) }}
    {% endif %}

    {% if (venue and url) %}
      @
      <a href="{{ url | url }}" class="h-card org">
        {{ (venue or 'the interwebz') | mdInline | safe }}
      </a>
    {% endif %}

    {% if org %}
      as
      <strong>
        {{ org | mdInline | safe }}
      </strong>
    {% endif %}

    {% if adr %}
      in
      <span>
        {{ adr | safe }}
      </span>
    {% endif %}

    {% if tags_public | length > 0 %}
      <ul data-list="tags">
        {%- for tag in tags_public -%}
          <li>
            <a href="{{ tag | tagLink(collections) }}" class="p-category">
              {{- tag | displayName -}}
            </a>
          </li>
        {%- endfor -%}
      </ul>
    {% endif %}
  </div>
{% endif %}
