{%- import 'utility.macros.njk' as utility -%}

{%- set show_date = date and not (type in ['index', 'page']) -%}

{% if show_date %}
  <p class="meta">
    {{ utility.datetime(
      start=date,
      end=end,
      pubdate=true
    ) }}

    {% if org or type -%}
      | <em>
        {{- (org or type) | mdInline | safe -}}
      </em>
    {%- endif %}
  </p>
{% endif %}
