{%- import 'macros/indieweb.njk' as indieweb -%}

{%- set has_org = title if (org and url) else none -%}
{%- set venue = venue or has_org -%}
{%- set has_venue = (venue and url) -%}

{%- if has_venue or adr -%}
  <p class="venue">
    {%- if has_venue -%}
      {{ indieweb.venue_link(venue, url, tags, rel, nav) }}
      {% if adr %}|{% endif -%}
    {%- endif -%}

    {%- if adr %}
      <span class="adr">
        {{- adr | safe -}}
      </span>
    {%- endif -%}
  </p>
{%- endif -%}

