@use '../tools/text';

@mixin css {
  nav[aria-label='primary'] {
    display: flex;
    justify-content: space-between;
    margin-block-start: var(--nav-space, var(--spacer));

    a:any-link {
      color: var(--text);
      font-style: italic;
      text-decoration: none;
      transition: text-decoration-thickness 150ms ease;
    }

    a:where(.has-tag):any-link {
      text-decoration: underline var(--action);
    }

    [aria-current='page']:any-link {
      @include text.fancy;
    }

    a:hover,
    a:focus,
    a:active {
      color: var(--active);
      text-decoration: underline;
    }

    [rel='home'] {
      font-size: var(--huge);
      padding-inline-end: var(--shim);
      vertical-align: middle;
    }
  }

  #logo {
    align-items: center;
    display: flex;
  }

  #logo svg {
    aspect-ratio: 92 / 31 auto;
    height: var(--huge);
    flex: auto;
    stroke-width: 2;
    width: auto;
  }

  #message + nav {
    --nav-space: 0;
  }
}
