@use '../tools/text';

@mixin css {
  nav[aria-label='primary'] {
    margin-block-start: var(--nav-space, var(--spacer));

    a:any-link {
      text-decoration: none;
    }

    [rel='home'] {
      font-size: var(--huge);
      font-style: italic;
      vertical-align: middle;
      margin-inline: var(--half-shim) var(--shim);
    }

    [aria-current='page'] {
      @include text.fancy;
    }
  }

  #message + nav {
    --nav-space: 0;
  }
}
