@use 'sass:list';
@use 'sass:map';
@use '../config/fonts';
@use '../config/patterns';

#banner {
  align-self: center;
  grid-area: banner;
  padding: calc(var(--spacer) + var(--double-gutter)) var(--spacer);
  text-align: center;
  transition: transform 200ms ease-in-out;
  transform: rotate(-4deg);
  z-index: 1;

  @media (min-width: 45em) and (min-height: 35em) {
    transform: rotate(-8deg);
  }

  @media (min-width: 75em) and (min-height: 45em) {
    transform: rotate(-12deg);
  }
}

.banner-title {
  @include patterns.fancy-text;
  @include fonts.var('light');
  font-size: var(--font-headline);
  line-height: 0.74;
  margin: 0;
  padding: var(--shim);
  text-transform: uppercase;

  &::first-line {
    @include fonts.var('extra');
  }
}

.subtitle {
  @include fonts.var('italic');
  margin: 0 var(--gutter);
}
