[data-layout='footer'] {
  display: grid;
  grid:
    auto auto 1fr / 2fr [content-start] minmax(min-content, var(--double-page))
    [content-end] 1fr;
  min-height: calc(100vh - var(--spacer));
}

[data-footer='content'] {
  --gap: var(--gutter);
  display: grid;
  grid-column: content;
  grid-gap: var(--gap);
  grid-template-columns: repeat(auto-fit, minmax(var(--half-page), 1fr));
  justify-content: center;
  margin-bottom: var(--spacer);
  padding: 0 var(--gap);

  @media (min-width: 70em) {
    --gap: var(--double-gutter);
  }

  h3 {
    margin: 0;
  }
}

[data-fieldgroup='contact-info'] {
  display: grid;
  grid-column-gap: var(--gutter);
  grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
}

[data-footer='colophon'] {
  > :first-child {
    margin-top: 0;
  }
}

[data-layout='flag'] {
  background-image: linear-gradient(
    var(--angle, -2deg),
    powderblue 20%,
    pink 20% 40%,
    white 40% 60%,
    pink 60% 80%,
    powderblue 80%
  );
  filter: brightness(var(--img-bright, 100%));
  grid-column: 1 / -1;
  min-height: 50vh;

  @media (min-width: 40em) {
    --angle: 95deg;
    min-height: var(--double-spacer);
  }
}
