[data-main] {
  display: grid;
  grid-template-columns:
    [full-start] minmax(var(--gutter), 1fr)
    [hero-start] minmax(0, 1fr)
    [pull-start] minmax(0, var(--pull-max, 1fr))
    [main-start] minmax(min-content, var(--page))
    [main-end] minmax(0, 0.5fr)
    [hero-end pull-end] minmax(var(--gutter), 1fr)
    [full-end];

  > * {
    grid-column: var(--main-column, main);
  }

  @media (min-width: 45em) {
    --pull-max: var(--spacer);
    grid-column-gap: var(--gutter);
  }
}

[data-meta='page'] {
  grid-row-end: span 2;
  margin: var(--shim) 0 var(--gutter);

  p {
    margin: 0;
  }

  @media (min-width: 70em) {
    --main-column: hero-start / main-start;
    font-size: var(--font-xsmall);
    text-align: right;
  }
}
