@use '../config/fonts';

#main-nav {
  @include fonts.var('medium');
  display: flex;
  flex: auto;
  gap: var(--border-width);
}

.nav-list {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  gap: var(--border-width);
  margin: 0;
  padding: 0;
}

[data-nav] {
  align-items: center;
  background: var(--callout);
  display: flex;
  padding: var(--half-shim) var(--gutter);
  text-decoration: none;

  &[data-active] {
    background: var(--feature-gradient);
    color: var(--bg);
  }
}
