@mixin css {
  body > header {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap, 1em);
    justify-content: space-between;
  }

  .site-title,
  [aria-current='page'] {
    color: var(--CanvasText);
  }
}
