@use 'sass:meta';
@use '../../../node_modules/sassdoc-theme-herman/scss/utilities' as herman;
@use '../../../node_modules/accoutrement/sass/tools';

/// # Font Configuration
/// @group config-fonts
/// @link https://oddbird.net/accoutrement/docs/type.html
///   Accoutrement Type

// Code Font
// ---------
/// A readable monospace font for code previews
/// @group config-fonts
/// @font code
$code-font: (
  name: 'Dank Mono',
  normal: (
    woff2: 'dankmono/dankmono-regular-webfont',
    woff: 'dankmono/dankmono-regular-webfont',
  ),
  italic: (
    woff2: 'dankmono/dankmono-italic-webfont',
    woff: 'dankmono/dankmono-italic-webfont',
  ),
  stack: (
    'Consolas',
    'Menlo',
    'Monaco',
    'Lucida Console',
    'Liberation Mono',
    'DejaVu Sans Mono',
    'Bitstream Vera Sans Mono',
    'Courier New',
    'monospace',
  ),
);

@include tools.add-font('code', $code-font);
@include herman.herman-add('font', 'code', $code-font);

// // TwoAM Font
// // ----------
// /// @group config-fonts
// /// @font two-am
// $two-am-font: (
//   name: 'Blackout TwoAM',
//   normal: (
//     woff2: 'blackout/blackout_two_am-webfont',
//     woff: 'blackout/blackout_two_am-webfont',
//   ),
//   stack: font-family('code'),
// );

// @include tools.add-font('two-am', $two-am-font);
// @include herman.herman-add('font', 'two-am', $two-am-font);

// Midnight Font
// -------------
/// @group config-fonts
/// @font midnight
$midnight-font: (
  name: 'Blackout Midnight',
  normal: (
    woff2: 'blackout/blackout_midnight-webfont',
    woff: 'blackout/blackout_midnight-webfont',
  ),
  stack: tools.font-family('code'),
);

@include tools.add-font('midnight', $midnight-font);
@include herman.herman-add('font', 'midnight', $midnight-font);

// Sunrise Font
// ------------
/// @group config-fonts
/// @font sunrise
$sunrise-font: (
  name: 'Blackout Sunrise',
  normal: (
    woff2: 'blackout/blackout_sunrise-webfont',
    woff: 'blackout/blackout_sunrise-webfont',
  ),
  stack: tools.font-family('code'),
);

@include tools.add-font('sunrise', $sunrise-font);
@include herman.herman-add('font', 'sunrise', $sunrise-font);
