@use 'fonts';
@use 'sass:list';
@use 'sass:math';

@mixin is-hidden {
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

@mixin fancy-text {
  color: var(--text-highlight);

  @supports (background-clip: text) {
    --link-color: transparent;
    background: var(--feature-gradient);
    background-clip: text;
    box-decoration-break: clone;
    color: transparent;
    text-shadow: none;
    @content;
  }
}

@mixin divide($position: 'before') {
  &::#{$position} {
    @include fancy-text;
    @include fonts.var('body' 'light');
    content: '~ & & & ~';
    display: block;
    font-size: var(--font-large);
    margin: var(--spacer) 0;
    text-align: center;
  }
}

@mixin divider {
  @include divide;
  border: none;
  height: auto;
}
