@use '../config/text';

nav[aria-label='primary'] {
  filter: drop-shadow(1px 1px 0 var(--bg)) drop-shadow(2px 2px 3px var(--bg));

  a:any-link {
    color: var(--text);
    font-style: italic;
    text-decoration: none;
    transition: text-decoration-thickness 150ms ease;
  }

  a:where(.has-tag):any-link {
    text-decoration: underline var(--Link);
  }

  [aria-current='page']:any-link {
    @include text.fancy;
  }

  [rel='home'] {
    font-size: var(--huge);
    padding-inline-end: var(--shim);
    vertical-align: middle;
  }
}
