@use '../../tools';

#settings {
  &:not([open], :focus-within, :hover) {
    opacity: 0.5;
  }

  summary {
    color: var(--Link);
    font-style: italic;

    &:hover {
      color: var(--ActiveText);
    }

    &:not([open] *, :focus, :hover) {
      .summary-text {
        @include tools.hide;
      }
    }
  }

  [data-icon] {
    border-radius: 50%;
    overflow: hidden;
    height: var(--line);
    padding: var(--half-shim);
    width: var(--line);
  }

  &[open] {
    --icon-bg: var(--text-gradient) var(--selected);
  }
}
