#trans {
  --a1: 55deg;
  --a2: 230deg;
  --c1: var(--complement-light);
  --c2: var(--accent-light);
  --c3: var(--accent-dark);
  --c4: var(--complement-light);
  --c5: var(--bg-alt);
  --c6: var(--complement-dark);
  --c7: var(--accent-light);
  --solid: var(--c1), var(--c2), var(--c3), var(--c4), var(--c5), var(--c6),
    var(--c7);
  --solid-wrap: var(--solid), var(--c1);
  --trans: var(--c1), transparent, var(--c2), transparent, var(--c3),
    transparent, var(--c4), transparent, var(--c5), transparent, var(--c6),
    transparent, var(--c7);
  --trans-wrap: var(--trans), transparent, var(--c1);
  --footer-column: full;

  background: radial-gradient(circle, var(--trans)),
    conic-gradient(from var(--a1), var(--trans-wrap)),
    radial-gradient(circle, var(--trans)),
    conic-gradient(from var(--a2), var(--solid-wrap));
  background-blend-mode: overlay;
  border-block-start: var(--html-border);
  display: grid;
  min-height: max(80vh, var(--spacer));
  margin-block-start: var(--gap, 1em);
  padding-inline: var(--margin);
  place-content: center;

  @media (prefers-color-scheme: dark) {
    --c1: var(--complement-dark);
    --c7: var(--accent-dark);
  }

  p {
    font-size: var(--huge);
    text-align: center;
    text-transform: uppercase;
  }
}
