{%- import 'utility.macros.njk' as utility -%}

<!doctype html>
<html lang="en" data-theme="light">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport"
      content="width=device-width, initial-scale=1.0" />

    <title>{{ [title, site.title] | join(' | ') or site.title }}</title>
    <meta name="description"
      content="{{ site.description or description }}" />

		<script src="https://use.typekit.net/slx1xnq.js"></script>
		<script>try{Typekit.load({ async: true });}catch(e){}</script>

		{% for url in site.styles %}
			<link rel="stylesheet"
				href="/assets/css/{{ url }}" />
		{% endfor %}

    {% include 'site/og.njk' %}
    {% include 'site/feed.njk' %}
	</head>

	<body data-layout="grid">
		{% include 'site/nav.njk' %}
		{% include 'site/banner.njk' %}

		<main data-layout="{{ dataLayout or 'main' }}">
			{% block content %}
				{{ content | safe }}
			{% endblock %}
		</main>

		{% include 'site/footer.njk' %}
		<!-- Current page: {{ page.url | url }} -->
	</body>
</html>
