{% extends "layouts/base.njk" %}
{% import "tags.macros.njk" as tag_macros %}

{% block main %}
  {{ tag_macros.section(
    tag_counts=collections | groupTags
  ) }}
{% endblock %}

{% block calendar %}{% endblock %}
