@use 'sass:math';
@use 'sass:list';
@use 'sass:string';

$count: 15;
$colors: ();

html {
  @each $hue in ('prime', 'accent') {
    @for $i from 1 through 3 {
      $name: string.unquote('--#{$hue}-dots-#{$i}');
      #{$name}: var(--ccs-h--#{$hue})
        var(--ccs-s--bg#{$i})
        var(--ccs-l--bg#{$i});
      $colors: list.append($colors, $name) !global;
    }
  }
}

$circles: ();

@for $i from 1 through $count {
  $x: math.random(100) * 1vw;
  $y: math.random(100) * 1vh;
  $r: math.random(15) + 5vmin;
  $color: list.nth($colors, math.random(list.length($colors)));
  $grad: radial-gradient(
    circle at $x $y,
    hsl(var($color) / #{5% + math.random(10)}) $r,
    transparent calc(#{$r} + 2px)
  );
  $circles: list.append($circles, fixed $grad, 'comma');
}

body {
  background: $circles,
    radial-gradient(
        ellipse at top right,
        var(--ccs-accent--bg4),
        transparent 50%
      )
      scroll,
    radial-gradient(ellipse at right, var(--ccs-prime--bg4), transparent 50%)
      scroll,
    radial-gradient(
        ellipse at bottom right,
        var(--ccs-accent--bg4),
        transparent 50%
      )
      scroll;
  background-repeat: no-repeat;
}
