// @use '../../../node_modules/accoutrement/sass/tools';
@use 'sass:map';
@use '../config';

html {
  @include config.font-family(config.$static);
  @include config.var('body');
  accent-color: var(--action);
  color-scheme: dark light;
  font-feature-settings: 'dlig' 1, 'liga' 1;
  font-size: var(--font-size);
  font-synthesis: none;
  height: 100%;
  letter-spacing: var(--letter-spacing--user-em, 0);
  line-height: var(--line-ratio);
  width: 100%;
  overflow-x: hidden;
  // scroll-snap-type: block;
  scroll-padding: var(--shim);
}

.fonts-loaded {
  @supports (font-variation-settings: normal) {
    @include config.font-family(config.$recursive);
  }
}

// Special
// -------

summary {
  cursor: pointer;

  #{config.$focus},
  [open] & {
    color: var(--action);
  }
}

.sr-only {
  &:not(:focus):not(:active) {
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
}

:focus {
  @include config.focus-ring();
}

::selection {
  background-color: var(--action);
  color: var(--bg);
}
