{%- for feed in collections.__feed_pages -%}
<link
  rel="alternate"
  type="application/{{ feed.data.type }}"
  title="{{ feed.data.title }}: {{ site.description }}"
  href="{{ feed.data.url | absoluteUrl(site.url) }}" />
{%- endfor -%}
