{%- import "utility.macros.njk" as utility -%}
{%- for feed in collections.__xml_feeds -%}
  {%- set attrs = {
    'rel': 'alternate',
    'type': ['application', feed.data.feed] | join('/'),
    'title': [feed.data.title, site.description] | join(': '),
    'href': feed.url | absoluteUrl(site.url)
  } -%}
  <link {{ utility.show_attrs(attrs) }}/>
{% endfor -%}
