{%- import 'utility.macros.njk' as utility -%}

{%- for item in meta.preload -%}
  {% set base_url = meta.assets[item.as] %}
  {%- set item_attrs = {
    'rel': 'preload',
    'href': [base_url, item.url] | join | url,
    'as': item.as,
    'type': item.type,
    'crossorigin': item.as == 'font' or item.cors
  } -%}
  <link {{ utility.show_attrs(item_attrs) }}>
{% endfor -%}
