{%- import 'utility.macros.njk' as utility -%}

<style>@layer reset, default, theme;</style>

{%- for link in meta.styles | selectattr('url') -%}
  {% set link_attrs = {
    'rel': 'stylesheet',
    'href': link.url if '://' in link.url | string else ['/css/', link.url] | join,
    'data-layer': link.layer,
    'data-alt': link.alt,
    'media': 'all' if link.layer else 'print'
  } %}
  <link {{ utility.show_attrs(link_attrs) }}/>
{%- endfor -%}
